<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board/boardMainPage.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <title>Document</title>
</head>
<body>
    
    <main>
        <div style="width: 1440px; height: 3400px; position: relative; background: #FFFDF8">
            <div class="Rectangle320" style="width: 1044px; height: 666px; left: 235px; top: 936px; position: absolute; background: white; box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25); border-radius: 30px"></div>
            <div style="width: 900px; height: 30px; left: 307px; top: 975px; position: absolute">
              <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">집들이</div>
              <div style="left: 827px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">+ 더보기</div>
            </div>
            <div style="width: 1044px; height: 1237px; left: 235px; top: 1671px; position: absolute">
              <div class="Rectangle321" style="width: 1044px; height: 1237px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25); border-radius: 30px"></div>
              <div class="Rectangle192" style="width: 400px; height: 520px; left: 79px; top: 683px; position: absolute; background: white; border: 1px black solid"></div>
              <div class="Rectangle187" style="width: 400px; height: 520px; left: 572px; top: 107px; position: absolute; background: white; border: 1px black solid"></div>
              <div class="Rectangle193" style="width: 400px; height: 520px; left: 572px; top: 683px; position: absolute; background: white; border: 1px black solid"></div>
              <div style="left: 117px; top: 1000px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">간살 인테리어의 장점</div>
              <div class="User03" style="left: 117px; top: 974px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user03</div>
              <div class="User02" style="left: 611px; top: 402px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user02</div>
              <div class="User04" style="left: 611px; top: 978px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user04</div>
              <div style="left: 611px; top: 422px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">화분 인테리어 주의할 점</div>
              <div style="left: 611px; top: 998px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">복층의 무서움</div>
              <div class="30" style="width: 98px; left: 117px; top: 1021px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡ </span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word">30</span></div>
              <div class="24" style="width: 98px; left: 611px; top: 442px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡ </span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word">24</span></div>
              <div class="5" style="width: 98px; left: 611px; top: 1018px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 5 </span></div>
              <div style="left: 79px; top: 29px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">노하우</div>
              <div style="left: 906px; top: 37px; position: absolute; color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">+ 더보기</div>
            </div>
            <div class="Group33847" style="width: 895px; height: 48px; left: 309px; top: 114px; position: absolute">
              <div class="Rectangle397" style="width: 895px; height: 48px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #9B9B9B solid"></div>
              <div class="SearchNormal" style="width: 24px; height: 25.62px; left: 849px; top: 11px; position: absolute">
                <div class="Vector" style="width: 19px; height: 20.28px; left: 2px; top: 2.13px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 2px; height: 2.13px; left: 20px; top: 21.35px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 24px; height: 25.62px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
              </div>
              <div style="left: 20px; top: 14px; position: absolute; color: #9B9B9B; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">커뮤니티 검색</div>
            </div>
            <img class="Rmp1" style="width: 895px; height: 671px; left: 305px; top: 193px; position: absolute" src="https://via.placeholder.com/895x671" />
            <div class="Rectangle398" style="width: 70px; height: 23px; left: 1113px; top: 826px; position: absolute; background: rgba(30.24, 30.24, 30.24, 0.50); border-radius: 30px"></div>
            <div class="19" style="left: 1123px; top: 830px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">13/19 +</div>
            <img class="Snust16508510635151" style="width: 240px; height: 240px; left: 330px; top: 1035px; position: absolute; box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/240x240" />
            <img class="On1" style="width: 240px; height: 240px; left: 634px; top: 1035px; position: absolute; box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/240x240" />
            <img class="ImageE8026316231d4c17B7c0Fc098eff788c1" style="width: 240px; height: 240px; left: 938px; top: 1035px; position: absolute; box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/240x240" />
            <img class="21" style="width: 240px; height: 240px; left: 330px; top: 1310px; position: absolute; box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/240x240" />
            <img class="1" style="width: 240px; height: 240px; left: 639px; top: 1310px; position: absolute; box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/240x240" />
            <img class="Y2k6ydkxka1" style="width: 240px; height: 240px; left: 938px; top: 1310px; position: absolute; box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/240x240" />
            <div class="Rectangle423" style="width: 240px; height: 240px; left: 330px; top: 1035px; position: absolute; background: rgba(0, 0, 0, 0.30)"></div>
            <div class="Rectangle424" style="width: 240px; height: 240px; left: 634px; top: 1035px; position: absolute; background: rgba(0, 0, 0, 0.30)"></div>
            <div class="Rectangle425" style="width: 240px; height: 240px; left: 938px; top: 1035px; position: absolute; background: rgba(0, 0, 0, 0.30)"></div>
            <div class="Rectangle426" style="width: 240px; height: 240px; left: 938px; top: 1310px; position: absolute; background: rgba(0, 0, 0, 0.30)"></div>
            <div class="Rectangle427" style="width: 240px; height: 240px; left: 639px; top: 1310px; position: absolute; background: rgba(0, 0, 0, 0.30)"></div>
            <div class="Rectangle428" style="width: 240px; height: 240px; left: 330px; top: 1310px; position: absolute; background: rgba(0, 0, 0, 0.30)"></div>
            <div style="left: 342px; top: 1056px; position: absolute; color: white; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">셀프 인테리어<br/>후기</div>
            <div style="left: 647px; top: 1056px; position: absolute; color: white; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">집의 무드를<br/>바꿔봤어요</div>
            <div style="left: 951px; top: 1056px; position: absolute; color: white; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">나의<br/>인테리어일기</div>
            <div style="left: 953px; top: 1333px; position: absolute; color: white; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">이사했어요</div>
            <div style="left: 647px; top: 1333px; position: absolute; color: white; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">나만의<br/>공간을 꾸몄어요</div>
            <div class="3" style="left: 342px; top: 1333px; position: absolute; color: white; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">셀프 인테리어<br/>3년차에요<br/>평가 부탁드려요</div>
            <div style="left: 514px; top: 1249px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저일</div>
            <div style="left: 818px; top: 1249px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저이</div>
            <div style="left: 1127px; top: 1249px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저삼</div>
            <div style="left: 1127px; top: 1523px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저육</div>
            <div style="left: 828px; top: 1523px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저오</div>
            <div style="left: 514px; top: 1523px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저사</div>
            <img class="D689afbaefb75fd3753e8ae88cdcd5be11004451" style="width: 330px; height: 240px; left: 842px; top: 1813px; position: absolute" src="https://via.placeholder.com/330x240" />
            <img class="Main0921" style="width: 330px; height: 240px; left: 352px; top: 2390px; position: absolute" src="https://via.placeholder.com/330x240" />
            <img class="Fb83459b53b18c54e417ef25ce699071" style="width: 330px; height: 240px; left: 842px; top: 2390px; position: absolute" src="https://via.placeholder.com/330x240" />
            <div class="Group33849" style="width: 400px; height: 520px; left: 314px; top: 1778px; position: absolute">
              <div class="Rectangle103" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border: 1px black solid"></div>
              <div style="left: 38px; top: 317px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
              <div class="User01" style="left: 38px; top: 291px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user01</div>
              <div class="16" style="width: 98px; left: 38px; top: 338px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 16</span></div>
              <img class="TmpD2311af28d9da3231b63a14a0a620bcc9708view1" style="width: 330px; height: 240px; left: 38px; top: 35px; position: absolute" src="https://via.placeholder.com/330x240" />
              <div style="left: 38px; top: 385px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
            </div>
            <div style="left: 846px; top: 2163px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
            <div style="left: 846px; top: 2740px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
            <div style="left: 354px; top: 2740px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
            <div class="Group33889" style="width: 150px; height: 137px; left: 52px; top: 162px; position: absolute">
              <div style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D3BBA4; border-radius: 30px"></div>
                <div style="left: 51px; top: 19px; position: absolute; color: #3A732A; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">집들이</div>
              </div>
              <div style="width: 150px; height: 55px; left: 0px; top: 82px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D3BBA4; border-radius: 30px"></div>
                <div style="left: 51px; top: 19px; position: absolute; color: #3A732A; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">노하우</div>
              </div>
            </div>
          </div>
    </main>

</body>
</html>

