<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board/boardMainPage.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/common/fragments/board/side-category.css"> 
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <title>뚝딱뚝딱 : 커뮤니티</title>
</head>
<body>

    <!-- 헤더 -->
    <th:block th:replace="~{common/fragments/header}"></th:block>

    
    <main class="boardMainPageContainer">

        <div class="boardMainPageContentContainer">

            <!-- 사이드 카테고리 버튼 -->
            <th:block th:replace="~{common/fragments/board/side-category}"></th:block>

                <section class="mainArea">

                
                    <section class="searchArea">

                        <span>
                            <form action="/board/main/search">
                                <input type="text" placeholder="집들이 검색" class="searchBox" name="query">
                                <i class="fa-solid fa-magnifying-glass" style="font-size: 14px; padding: 5px;"></i>
                            </form>
                        </span>
                        
                    </section>
                    
                    <!-- 집들이 -->
                    <div class="myHouseMainContainer">
                        <div class="titleContainer">
                            <th:block th:each="boardType : ${application.boardTypeList}">
                                <a th:if="${boardType.boardCode == 1}" th:href="@{/myHouse/main(boardCode=${boardType.boardCode})}" class="tipViewMore"><h2 th:text="${boardType.boardName}">집들이</h2></a>
                            </th:block>

                        </div>
                        <th:block th:replace="~{common/fragments/board/boardMainMyHouse}"></th:block>
                        <th:block th:each="boardType : ${application.boardTypeList}">
                            <a th:if="${boardType.boardCode == 1}" th:href="@{/myHouse/main(boardCode=${boardType.boardCode})}" class="myHouseViewMore">+더 보기</a>
                        </th:block>

                    </div>

                    <!-- 광고 -->
                    <div class="boardAdContainer">
                        <th:block th:each="boardImg : ${boardImg}" th:object="${boardImg}">
                            <img th:src="@{|${boardImg.uploadImgPath}${boardImg.uploadImgRename}|}" class="boardAd mySlides">
                            <a class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-chevron-left"></i></a>
                            <a class="next" onclick="plusSlides(1)"><i class="fa-solid fa-chevron-right"></i></a>
                        </th:block>
                        <h4 class="adViewMore"></h4>
                    </div>

                    <!-- 노하우 -->
                    <div class="tipMainContainer">
                        <div class="titleContainer">
                            <th:block th:each="boardType : ${application.boardTypeList}">
                            <a th:if="${boardType.boardCode == 2}" th:href="@{/tip/main(boardCode=${boardType.boardCode})}" class="tipViewMore"><h2 th:text="${boardType.boardName}">노하우</h2></a>
                            <a th:if="${boardType.boardCode == 2}" th:href="@{/tip/main(boardCode=${boardType.boardCode})}" class="tipViewMore">+더 보기</a>
                        </th:block>

                        </div>
                        
                        <th:block th:replace="~{common/fragments/board/boardMainTip}"></th:block>
                    </div>
                </section>
        </div>

    </main>

    <!-- 탑 버튼  -->
    <div id="boardMainTop">↑</div>


    <!-- 푸터 -->
    <th:block th:replace="~{common/fragments/footer}"></th:block>
    

    <script src="/js/board/boardMainPage.js"></script>
    <script src="/js/common/fragments/board/side-category.js"></script>
    <script src="/js/common/redirectToLogin.js"></script>


    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/7f3fe5627c.js" crossorigin="anonymous"></script>
</body>
</html>

