<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/board/boardMainPage.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/main.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/button.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>hi</h1>

    <button class="loginMainBtn">로그인</button>
    <br>
    <button class="mainPageBtn">파트너 찾기</button>
    <br>
    <button class="mainPageBtn">3D 모델링 바로가기</button>
    <br>
    <button class="searchAddressBtn">주소 검색</button>
    <br>
    <button class="myPageMainBtn">교환</button>
    <br>
    <button class="myPageSubBtn">비밀번호 변경</button>
    <br>
    <button class="myPageDelUpdateBtn">삭제</button>
    <br>
    <button class="myPageConfirmCancelBtn">확인</button>
    <br>
    <button class="myPageVerifyBtn">인증</button>
    <br>
    <button class="myPageChatSend">보내기</button>
    <br>
    <button class="eCommerceCategorySearchBtn">찾기</button>
    <br>
    <button class="eCommerceBuyLikeBtn">구매하기</button>
    <br>
    <button class="eCommerceProductDetailBtn">상세정보</button>

    <br>
    <button class="eCommerBuyDetailUpdateBtn">변경</button>
    <br>
    <button class="eCommerBuyDetailConfirmBtn">결제하기</button>
    <br>
    <button class="boardMainBtn">집들이</button>
    <br>
    <button class="boardCreateBtn">작성하기</button>
    
    <br>
    <button class="tipBoardMoreBtn">더보기 +</button>

    <br>
    <button class="boardDetailSubmitChatBtn">등록</button>
    <br>
    <button class="boardCreateSubmitBtn">등록하기</button>
    <br>
    <button class="boardQuickViewBtn">미리보기</button>
    <br>
    <button class="interiorSearchBtn">시공사 찾기</button>
    <br>
    <button class="interiorDetailViewBtn">바로가기</button>
    <br>
    <button class="interiorMatchBtn">컨택하기</button>
    <br>
    <button class="interiorProjectViewMoreBtn">더보기 +</button>
    
    <br>
    <button class="liveCommerceSubmitBtn">등록하기</button>

    <br>
    <button class="interior3dCategory">의자/소파</button>
    <br>
    <button class="interiorViewPrice">예상견적 조회 (가구 미포함)</button>
</body>
</html>