<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/board/boardMainSearch.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/common/fragments/board/side-category.css"> 
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <title>뚝딱뚝딱 : 커뮤니티 검색</title>
</head>
<body>

    <!-- 헤더 -->
    <th:block th:replace="~{common/fragments/header}"></th:block>

    
    <main class="boardMainPageContainer">

        <div class="boardMainPageContentContainer">
            
            <!-- 사이드 카테고리 버튼 -->
            <th:block th:replace="~{common/fragments/board/side-category}"></th:block>
            
            
            <div class="searchContainer">
                <section class="searchArea">
        
                    <span>
                        <form action="/board/main/search">
                            <input type="text" placeholder="집들이 검색" class="searchBox" name="query">
                            <i class="fa-solid fa-magnifying-glass" style="font-size: 14px; padding: 5px;"></i>
                        </form>
                    </span>
                    
                </section>
                <h2 th:text='|"${query}"검색결과|' style="margin-bottom: 30px;">""검색결과</h2>
                
                <h2 class="searchType">집들이</h2>
                <!-- 집들이 검색결과 -->
                <section class="listArea">


                    <th:block th:if="${#lists.isEmpty(myHouseList)}">
                      <h3 class="emptyList">검색된 집들이 게시물이 없습니다.</h3>
                    </th:block>
        
                    <th:block th:each="myHouse : ${myHouseList}" th:unless="${#lists.isEmpty(myHouseList)}">
        
                      <a class="myHouseList" 
                         id="myHouseDetail"
                         th:href="@{/myHouse/detail/{boardNo} (boardNo=${myHouse.boardNo}, cp=${pagination.currentPage})}">
                        
                        <span class="myHouseThumbnail">
                          <img th:src="${myHouse.thumbnail}">
                        </span>
                        <span class="myHouseInfo">
                          <div>
                            <h3 th:text="${myHouse.boardTitle}" style="font-weight: bold;">셀프인테리어 후기</h3>
                          </div>
                          <div class="myHouseRightSide">
                            <h4 th:text="${myHouse.memberNickname}">유저일</h4>
                            <span>|</span>
                            <h4 th:text="|조회수 : ${myHouse.readCount}|">조회수</h4>
                            <span>|</span>
                            <h4 th:text="${myHouse.boardWriteDate}">날짜</h4>
                            <span>|</span>
                              <div class="likeArea">
                                <i class="fa-solid fa-heart" style="color: red; font-size: 12px;"></i>
                                <!-- 빈하트 : fa-regular -->
                                <h4 th:text="${myHouse.likeCount}">10</h4>
                              </div>
                          </div>
                        </span>
        
                      </a>
                    </th:block>

                    <div>
                        <a th:href="|/myHouse/main?query=${query}&boardCode=1|">집들이 더보러가기 >></a>
                    </div>
                </section>


                 <!-- 노하우 검색결과 -->
                  <div class="tipSearch">

                    <h2 class="searchType">노하우</h2>

                    <th:block th:if="${#lists.isEmpty(tipBoardChunks)}">
                      <h3 class="emptyList">검색된 노하우 게시물이 없습니다.</h3>
                    </th:block>

                    
                    <th:block th:replace="~{common/fragments/board/boardListTip}"></th:block>
                        <div class="tipBoardMoreBtnContainer">
                            <button class="tipBoardMoreBtn" id="tipBoardViewMore">더보기+</button>
                          </div>
                    </div>

                  </div>
            </div>
        </div>
    </main>

    <!-- 탑 버튼  -->
    <div id="boardMainTop">↑</div>


    <!-- 푸터 -->
    <th:block th:replace="~{common/fragments/footer}"></th:block>

    <script src="/js/board/boardMainSearch.js"></script>
    <script src="/js/common/fragments/board/side-category.js"></script>
    <script src="https://kit.fontawesome.com/7f3fe5627c.js" crossorigin="anonymous"></script>

    
</body>
</html>