main {
    width: 1440px;
    height: 100vh;
    color: var(--gray1);
    
}

/* 약관 내용 영역 */
#signupForm textarea {
    width: 470px;
    height: 200px;
    resize: none;
    overflow-y: auto;
    padding: 8px;
}

.logoArea1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.logoArea1, .logoArea2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoArea2 {
    margin-bottom: 40px;
    
}


.agreeCheckBox1, .agreeCheckBox2 {
    margin-bottom: 30px;
}

/* 전체 컨테이너 */
.signupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* 좌, 우 컨테이너 */
.signupContainer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin-top: 30px;
}


.agreeArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agreeCheck {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}


.requiredRel {
    position: relative;
    font-size: 15px;
    font-weight: 600;
}


.required {
    color: red;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -0.2em; /* 텍스트가 올라가는 정도를 조절하세요 */
    right: -2.6em; /* 위치 조정을 위한 값 */
}


.agreeBtn {
    width: 20px;
    height: 20px;
}

/* 약관 전체 동의 */
.agreeAllArea {
    display: flex;
    align-items: center;
    padding: 10px 0;
}


#agreeAllBtn {
    width: 20px;
    height: 20px;
}

.agreeAllBtnLabel {
    font-size: 16px;
    font-weight: 700;
    margin-left: 6px;
}


/* ------------------------------------------------------ */
.partnerType {
    display: flex;
    justify-content: end;
    width: 360px;
    
}


/* 사업자, 파트너 정보 영역 */
.infoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 1000px;
}

/* 인증 관련 메시지 */
.infoArea span {
    font-size: 11px;
    font-weight: 600;
}

.authArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 0;
}

/* 인증 버튼 */
.authBtn {

    padding: 6px 30px;
    background: #404040; 
    border-radius: 10px;
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-color: transparent;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    will-change: transform;
    touch-action: manipulation;
    outline: none;

}

.authBtn:hover {
    left: 0px; 
    top: 0px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px;
    transform: translateY(-2px);
    

    /* 폰트 */
    font-family: 'main';
    color: var(--gray1);
    text-align: center;
    word-wrap: break-word;

    background-color: var(--white);
}


.authBtn:active {
    box-shadow: none;
    transform: translateY(0);
}


/* 사업자 번호 영역 */
.businessNoArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 사업자 번호 입력 영역 */
.businessNoArea input {
    width: 115px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid var(--gray5);
}
.businessNoArea input:focus {
    outline: none;
}

/* 인증 메시지 영역 */
.businessNoAuthMsgArea {
    display: flex;
    justify-content: flex-start;

}

.businessNoAuthMsgArea span {
    margin-top: 5px;
    margin-left: 5px;

}

/* 사업자 정보 인풋 div */
.infoInputArea1 {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}

.infoInputArea1 input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--gray5);
    padding: 6px;
}

.infoInputArea1 input:focus, .infoInputArea2 input:focus {
    outline: none;
}

/* 파트너 정보 인풋 div */
.infoInputArea2 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.infoInputArea2 input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--gray5);
    padding: 6px;
}

.infoInputArea2 input:nth-child(1), .infoInputArea2 input:nth-child(2) {
    margin-bottom: 20px;
}

/* 핸드폰 인증 */
.telAuthMsgArea {
    display: flex;
    justify-content: flex-start;
}

.telAuthMsgArea span {
    margin-left: 5px;
    margin-top: 5px;
}

.telAuthBtnArea {
    display: flex;
    justify-content: end;
    align-content: center;
}


.partnerRequestArea {
    margin-top: 40px;
    margin-bottom: 20px;
}
