<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div style="width: 1440px; height: 2900px; position: relative; background: #FFFDF8">
            <div class="12345678910" style="width: 573px; height: 40px; left: 429px; top: 2519px; position: absolute; color: black; font-size: 30px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word"><<   <  1  2  3  4  5  6  7  8  9  10  >   >></div>
            <div class="Group33849" style="width: 400px; height: 520px; left: 270px; top: 615px; position: absolute">
              <div class="Rectangle103" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="left: 38px; top: 317px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
              <div class="User01" style="left: 38px; top: 291px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user01</div>
              <div class="16" style="width: 98px; left: 38px; top: 338px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 16</span></div>
              <img class="TmpD2311af28d9da3231b63a14a0a620bcc9708view1" style="width: 330px; height: 240px; left: 38px; top: 35px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/330x240" />
              <div style="left: 38px; top: 385px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
            </div>
            <div class="Group33853" style="width: 400px; height: 520px; left: 270px; top: 1799px; position: absolute">
              <div class="Rectangle103" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="left: 38px; top: 317px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
              <div class="User01" style="left: 38px; top: 291px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user01</div>
              <div class="16" style="width: 98px; left: 38px; top: 338px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 16</span></div>
              <div style="left: 38px; top: 385px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
            </div>
            <div class="Group33854" style="width: 400px; height: 520px; left: 773px; top: 1799px; position: absolute">
              <div class="Rectangle103" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="left: 38px; top: 317px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
              <div class="User01" style="left: 38px; top: 291px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user01</div>
              <div class="16" style="width: 98px; left: 38px; top: 338px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 16</span></div>
              <div style="left: 38px; top: 385px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
            </div>
            <div class="Group33988" style="width: 400px; height: 520px; left: 770px; top: 615px; position: absolute">
              <div class="Group33850" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle103" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
                <div style="left: 38px; top: 317px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
                <div class="User01" style="left: 38px; top: 291px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user01</div>
                <div class="16" style="width: 98px; left: 38px; top: 338px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 16</span></div>
                <div style="left: 38px; top: 385px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
              </div>
              <img class="D689afbaefb75fd3753e8ae88cdcd5be11004451" style="width: 330px; height: 240px; left: 35px; top: 35px; position: absolute" src="https://via.placeholder.com/330x240" />
            </div>
            <div class="Group33990" style="width: 400px; height: 520px; left: 270px; top: 1207px; position: absolute">
              <div class="Group33852" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle103" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
                <div style="left: 38px; top: 317px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
                <div class="User01" style="left: 38px; top: 291px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user01</div>
                <div class="16" style="width: 98px; left: 38px; top: 338px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 16</span></div>
                <div style="left: 38px; top: 385px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
              </div>
              <img class="Main0921" style="width: 330px; height: 240px; left: 40px; top: 35px; position: absolute" src="https://via.placeholder.com/330x240" />
            </div>
            <img class="Snust16508510635153" style="width: 330px; height: 240px; left: 308px; top: 1834px; position: absolute" src="https://via.placeholder.com/330x240" />
            <img class="On3" style="width: 330px; height: 240px; left: 805px; top: 1834px; position: absolute" src="https://via.placeholder.com/330x240" />
            <div class="Group33855" style="width: 900px; height: 309px; left: 270px; top: 194px; position: absolute">
              <img class="3" style="width: 900px; height: 309px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/900x309" />
              <div class="Rectangle430" style="width: 900px; height: 309px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
              <div class="Best" style="left: 24px; top: 25px; position: absolute; color: white; font-size: 40px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 40px; word-wrap: break-word">이달의 Best 리뷰어</div>
              <div style="left: 783px; top: 252px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 20px; word-wrap: break-word">더보기 >></div>
              <div class="Line100" style="width: 846px; height: 0px; left: 20px; top: 80px; position: absolute; border: 1px white solid"></div>
              <div style="left: 28px; top: 125px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 20px; word-wrap: break-word">나만의 공간을 꾸몄어요</div>
              <div style="left: 28px; top: 170px; position: absolute; color: white; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">이사오고 나만의 공간을 꾸며봤어요 처음 자취하는거라 인테리어에 고민을 많이 했는데<br/>뚝딱뚝딱에서 인테리어소품을 구매하고 시공까지 맡기니 제가 원하던 집이 완성됐어요<br/>뚝딱뚝딱 최고...</div>
            </div>
            <div style="left: 295px; top: 134px; position: absolute; color: #3A732A; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">노하우</div>
            <div class="Group33847" style="width: 725px; height: 48px; left: 445px; top: 125px; position: absolute">
              <div class="Rectangle397" style="width: 725px; height: 48px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #9B9B9B solid"></div>
              <div class="SearchNormal" style="width: 24px; height: 25.62px; left: 672px; top: 11px; position: absolute">
                <div class="Vector" style="width: 19px; height: 20.28px; left: 2px; top: 2.13px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 2px; height: 2.13px; left: 20px; top: 21.35px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 24px; height: 25.62px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
              </div>
              <div style="left: 20px; top: 14px; position: absolute; color: #9B9B9B; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">집들이 검색</div>
            </div>
            <div class="Hover" style="width: 135px; height: 40px; left: 270px; top: 539px; position: absolute">
              <div class="Rectangle112" style="width: 135px; height: 40px; left: 0px; top: 0px; position: absolute; background: #404040; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
              <div style="left: 36px; top: 11px; position: absolute; color: #FFFAF0; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">작성하기</div>
            </div>
            <div style="width: 140px; height: 45px; left: 650px; top: 2396px; position: absolute">
              <div class="Rectangle429" style="width: 140px; height: 45px; left: 0px; top: 0px; position: absolute; background: #595959; border-radius: 10px"></div>
              <div style="left: 35px; top: 14px; position: absolute; color: #FFFAF0; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">더보기  +</div>
            </div>
            <div class="Group33989" style="width: 400px; height: 520px; left: 770px; top: 1207px; position: absolute">
              <div class="Group33851" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle103" style="width: 400px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
                <div style="left: 38px; top: 317px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 15px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
                <div class="User01" style="left: 38px; top: 291px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">@user01</div>
                <div class="16" style="width: 98px; left: 38px; top: 338px; position: absolute"><span style="color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 24px; word-wrap: break-word">♡</span><span style="color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word"> 16</span></div>
                <div style="left: 38px; top: 385px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 15px; word-wrap: break-word">공간 측정: 베란다의 크기를 정확히 측정하고<br/>가구의 크기와 배치 계획을 세웁니다.<br/>구역 나누기: 베란다를 여러 구역으로 나눠<br/>휴식, 식사, 가드닝 등 다양한 용도로 사용할 수 있도...</div>
              </div>
              <img class="Y2k6ydkxka5" style="width: 330px; height: 240px; left: 41px; top: 35px; position: absolute" src="https://via.placeholder.com/330x240" />
            </div>
            <div class="Group33889" style="width: 150px; height: 137px; left: 52px; top: 162px; position: absolute">
              <div style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D3BBA4; border-radius: 30px"></div>
                <div style="left: 51px; top: 19px; position: absolute; color: #3A732A; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">집들이</div>
              </div>
              <div style="width: 150px; height: 55px; left: 0px; top: 82px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D3BBA4; border-radius: 30px"></div>
                <div style="left: 51px; top: 19px; position: absolute; color: #3A732A; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">노하우</div>
              </div>
            </div>
          </div>
    </main>
</body>
</html>