<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 커뮤니티</title>

    <link rel="stylesheet" href="/css/board/myHouseBoard/myHouseBoard.css">
    <link rel="stylesheet" href="/css/board/myHouseBoard/myHouseBoardDetail.css">
    <link rel="stylesheet" href="/css/common/main.css"> 
    <link rel="stylesheet" href="/css/common/fragments/header.css">  
    <link rel="stylesheet" href="/css/common/fragments/footer.css"> 
    <link rel="stylesheet" href="/css/common/fragments/board/side-category.css"> 
    <link rel="stylesheet" href="/css/common/button.css"> 
    <link rel="stylesheet" href="/css/common/fragments/board/reportModal.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">

    <script src="https://kit.fontawesome.com/fa0ef5fd68.js" crossorigin="anonymous"></script>
</head>
<body>
    
  <th:block th:replace="~{common/fragments/header}"></th:block>
    
  <div class="topContainer">

    <div class="mainContainer">

      <th:block th:replace="~{common/fragments/board/side-category}"></th:block>

      <div class="mainArea">

        <div class="searchArea">

          <span class="title">노하우</span>

        </div>

        <div class="boardAdContainer">
          <th:block th:unless="${#lists.isEmpty(board.imageList)}" th:each="image : ${board.imageList}">
            <img th:src="|${image.uploadImgPath}${image.uploadImgRename}|" class="boardAd mySlides">
          </th:block>
          <a class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-chevron-left"></i></a>
          <a class="next" onclick="plusSlides(1)"><i class="fa-solid fa-chevron-right"></i></a>
          <h4 class="adViewMore"></h4>
        </div>

        <div class="myHouseTitle">
          <h4>[노하우]</h4>
          <div>
            <h2 th:text="${board.boardTitle}">게시글 제목</h2>

            <div class="like">
              <i id="boardLike" class="fa-heart" th:classappend="${board.likeCheck == 1} ? fa-solid : fa-regular"></i>
              <!-- 빈하트 : fa-regular -->
              <div th:text="${board.likeCount}" class="like-count" id="likeCount">10</div>
            </div>
          </div>
        </div>

        <div class="userProfileArea">
          <div class="leftSide">
            <div class="profileImg">
              <th:block th:if="${board.profileImg == null}">
                <img th:src="#{user.default.image}">
              </th:block>
            </div>

            <!-- 프로필 이미지가 있을 경우 -->
            <th:block th:unless="${board.profileImg == null}">
              <img th:src="${board.profileImg}" style="height: 30px; padding: 3px;">
            </th:block>

            <div class="userNickname">
              <h3 th:text="${board.memberNickname}">유저일</h3>
            </div>
          </div>

          <div class="rightSide">
            <div class="date">
              <h3 th:text="${board.boardWriteDate}">2024.05.31</h3>
            </div>
            <div class="reportBtn" id="reportBtn">
              <i class="fa-solid fa-bullhorn"></i>
              <h3>신고</h3>
            </div>
          </div>
        </div>
        
        <div class="contentArea">
 
          <div class="myHouseContent" th:text="${board.boardContent}">게시글 콘텐츠</div>

        </div>

        <th:black th:replace="~{common/fragments/board/boardComment}"></th:black>

        <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}">
          <div class="update-remove">
            <button type="button" id="updateBtn">수정</button>
            <button type="button" id="deleteBtn">삭제</button>
          </div>
        </th:block>

      </div>

    </div>

  </div>

  <div id="top">↑</div>

  <div id="reportModal" class="reportModal" style="display: none;">
    <div class="modal-content">
      <div class="top-area">
        <h2>신고하기</h2>
        <span class="close-button">&times;</span>
      </div>
      <div class="mid-area">
        <div>
    * 아래 중 해당하는 항목을 선택하여 주세요.
    * 허위신고일 경우, 신고자의 서비스 활동이 제한될 수 있습니다.
        </div>
      </div>
      <form>
          <div class="reportDetail">
              <div>신고사유</div>
              <div>
                <label><input type="radio" name="reason" value="홍보성 게시물"> 홍보성 게시물</label><br>
                <label><input type="radio" name="reason" value="음란성 게시물"> 음란성 게시물</label><br>
                <label><input type="radio" name="reason" value="욕설/부적절한 언어"> 욕설/부적절한 언어</label><br>
                <label><input type="radio" name="reason" value="회원 분란 유도"> 회원 분란 유도</label><br>
                <label><input type="radio" name="reason" value="도배성 게시물"> 도배성 게시물</label><br>
                <label><input type="radio" name="reason" value="정치/종교 등 부적절한 논쟁"> 정치/종교 등 부적절한 논쟁</label><br>
                <label><input type="radio" name="reason" value="명예훼손/저작권 침해"> 명예훼손/저작권 침해</label><br>
                <label><input type="radio" name="reason" value="개인정보/사생활 침해"> 개인정보/사생활 침해</label>
              </div>
          </div>

          <div class="btn-area">
            <button type="modalButton" id="confirmButton" class="myPageConfirmCancelBtn">확인</button>
            <button type="modalButton" id="cancelButton" class="myPageConfirmCancelBtn">취소</button>
          </div>
      </form>

    </div>
  </div>

  <th:block th:replace="~{common/fragments/footer}"></th:block>

  <script th:inline="javascript">
     const boardTypeList = /*[[${boardTypeList}]]*/ [];

      const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원번호";

      const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";

      const writerNo = /*[[${board.memberNo}]]*/ "작성자 번호";

      let likeCheck = /*[[${board.likeCheck}]]*/ "좋아요 여부";

      const userDefaultImage = /*[[#{user.default.image}]]*/ "기본 이미지";

      // Extract boardCode for boardName "노하우"
      let boardCode = "게시판 코드";
      for (const board of boardTypeList) {
          if (board.boardName === "노하우") {
              boardCode = board.boardCode;
              break;
          }
      }

  </script>
  <script src="/js/common/fragments/board/reportModal.js"></script>
  <script src="/js/common/fragments/board/side-category.js"></script>
  <script src="/js/common/main.js"></script>
  <script src="/js/common/redirectToLogin.js"></script>
  <script src="/js/board/comment.js"></script>
  <script src="/js/board/tipBoard/tipBoardDetail.js"></script>

</body>
</html>