<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div style="width: 1440px; height: 1700px; position: relative; background: #FFFDF8">
            <div class="User01" style="left: 388px; top: 694px; position: absolute; color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">@User01</div>
            <div style="left: 378px; top: 730px; position: absolute; color: black; font-size: 40px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 40px; word-wrap: break-word">베란다 가구배치 꿀팁</div>
            <div class="16" style="left: 993px; top: 705px; position: absolute; color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">좋아요 ♥ 16</div>
            <div class="Rectangle226" style="width: 749px; height: 148px; left: 378px; top: 802px; position: absolute; background: white; border: 1px #8C8C8C solid"></div>
            <div style="width: 19px; height: 19px; left: 1109px; top: 706px; position: absolute; color: black; font-size: 18px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word">🚨</div>
            <div style="width: 19px; height: 19px; left: 1134px; top: 1219px; position: absolute; color: black; font-size: 18px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 18px; word-wrap: break-word">🚨</div>
            <img class="D689afbaefb75fd3753e8ae88cdcd5be11004451" style="width: 749px; height: 368px; left: 378px; top: 213px; position: absolute" src="https://via.placeholder.com/749x368" />
            <div style="left: 295px; top: 134px; position: absolute; color: #3A732A; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">노하우</div>
            <div class="Group33847" style="width: 725px; height: 48px; left: 445px; top: 125px; position: absolute">
              <div class="Rectangle397" style="width: 725px; height: 48px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #9B9B9B solid"></div>
              <div class="SearchNormal" style="width: 24px; height: 25.62px; left: 672px; top: 11px; position: absolute">
                <div class="Vector" style="width: 19px; height: 20.28px; left: 2px; top: 2.13px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 2px; height: 2.13px; left: 20px; top: 21.35px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 24px; height: 25.62px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
              </div>
              <div style="left: 20px; top: 14px; position: absolute; color: #9B9B9B; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">집들이 검색</div>
            </div>
            <div style="left: 399px; top: 830px; position: absolute; color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">꿀팁나간다</div>
            <div class="Line23" style="width: 791.01px; height: 0px; left: 353px; top: 987px; position: absolute; border: 1px black solid"></div>
            <div class="Line24" style="width: 812px; height: 0px; left: 353px; top: 1203px; position: absolute; border: 1px black solid"></div>
            <div class="Rectangle231" style="width: 749px; height: 103px; left: 378px; top: 1079px; position: absolute; background: white; border: 1px #8C8C8C solid"></div>
            <div style="left: 363px; top: 1223px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; word-wrap: break-word">@유저이</div>
            <div class="5" style="left: 362px; top: 1014px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 700; word-wrap: break-word">댓글 5개</div>
            <div class="10" style="width: 55px; left: 428px; top: 1222px; position: absolute; color: black; font-size: 15px; font-family: Lexend; font-weight: 700; word-wrap: break-word">♥ 10</div>
            <div style="left: 1023px; top: 1220px; position: absolute; color: black; font-size: 15px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">답글/수정/삭제</div>
            <div style="left: 377px; top: 1256px; position: absolute; color: black; font-size: 15px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">개이쁘다</div>
            <img class="23" style="width: 80px; height: 80px; left: 379px; top: 600px; position: absolute" src="https://via.placeholder.com/80x80" />
            <img class="Y2k6ydkxka3" style="width: 80px; height: 80px; left: 477px; top: 600px; position: absolute" src="https://via.placeholder.com/80x80" />
            <img class="Main0922" style="width: 80px; height: 80px; left: 575px; top: 600px; position: absolute" src="https://via.placeholder.com/80x80" />
            <div class="Hover" style="width: 82px; height: 29px; left: 1055px; top: 1037px; position: absolute">
              <div class="Rectangle233" style="width: 82px; height: 29px; left: 0px; top: 0px; position: absolute; background: #404040; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"></div>
              <div style="left: 27px; top: 5px; position: absolute; color: #FFFAF0; font-size: 16px; font-family: Pretendard; font-weight: 400; word-wrap: break-word">등록</div>
            </div>
            <div class="Group33889" style="width: 150px; height: 137px; left: 52px; top: 162px; position: absolute">
              <div style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D3BBA4; border-radius: 30px"></div>
                <div style="left: 51px; top: 19px; position: absolute; color: #3A732A; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">집들이</div>
              </div>
              <div style="width: 150px; height: 55px; left: 0px; top: 82px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D3BBA4; border-radius: 30px"></div>
                <div style="left: 51px; top: 19px; position: absolute; color: #3A732A; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">노하우</div>
              </div>
            </div>
          </div>
    </main>
</body>
</html>