<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board/tipBoard/tipboard.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/common/fragments/board/side-category.css"> 
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <title>뚝딱뚝딱 : 커뮤니티</title>
</head>
<body>

    <!-- 헤더 -->
    <th:block th:replace="~{common/fragments/header}"></th:block>

    
    <main class="boardMainPageContainer">

        <div class="boardMainPageContentContainer">

            <!-- 사이드 카테고리 버튼 -->
            <th:block th:replace="~{common/fragments/board/side-category}"></th:block>

            <section class="mainArea">

            
                <section class="searchArea">

                  <span class="title">노하우</span>
                    <span>
                        <input type="text" placeholder="노하우 검색" class="searchBox">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    
                </section>
                <!-- 광고 -->
                <div class="boardAdContainer">
                    <div class="boardAdContentContainer">
                      <h1>이달의 Best 리뷰어</h1>
                      <h3>나만의 공간을 꾸몄어요</h3>
                      <h4 class="ellipsed-content">이사오고 나만의 공간을 꾸며봤어요 처음 자취하는거라 인테리어에 고민을 많이 했는데 뚝딱뚝딱에서 인테리어소품을 구매하고 시공까지 맡기니 제가 원하던 집이 완성됐어요 뚝딱뚝딱 최고 이사오고 나만의 공간을 꾸며봤어요 처음 자취하는거라 인테리어에 고민을 많이 했는데 뚝딱뚝딱에서 인테리어소품을 구매하고 시공까지 맡기니 제가 원하던 집이 완성됐어요 뚝딱뚝딱 최고 이사오고 나만의 공간을 꾸며봤어요 처음 자취하는거라 인테리어에 고민을 많이 했는데 뚝딱뚝딱에서 인테리어소품을 구매하고 시공까지 맡기니 제가 원하던 집이 완성됐어요 뚝딱뚝딱 최고 이사오고 나만의 공간을 꾸며봤어요 처음 자취하는거라 인테리어에 고민을 많이 했는데 꾸며봤어요 처음 자취하는거라 인테리어에 고민을 많이 했는데 꾸며봤어요 처음 자취하는거라 인테리어에 고민을 많이 했는데</h4>
                      <a href=""><h3>더보기 >></h3></a>
                    </div>
                    <img src="/images/partner/interior/portfolio/portfolio_ex5_1.jpg" alt="" class="boardAd mySlides">
                      
                    <div class="overlay"></div>
                </div>

                <!-- 작성하기 버튼 -->
                <form action="/tip/registTipBoard" method="get" class="btn-form">
                  <div class="btn-container">
                    <button class="boardCreateBtn">작성하기</button>
                  </div>
                </form>

                <!-- 노하우 -->
                <div class="tipMainContainer">
                    
                    <th:block th:replace="~{common/fragments/board/boardMainTip}"></th:block>
                    <div class="tipBoardMoreBtnContainer">
                      <button class="tipBoardMoreBtn" id="tipBoardViewMore">더보기 +</button>
                    </div>
                </div>
            </section>

        </div>

    </main>

    <!-- 탑 버튼  -->
    <div id="boardMainTop">↑</div>


    <!-- 푸터 -->
    <th:block th:replace="~{common/fragments/footer}"></th:block>
    

    <script src="/js/board/boardMainPage.js"></script>
    <script src="/js/common/fragments/board/side-category.js"></script>
    <script src="/js/board/tipBoard/tipBoard-DOM.js"></script>
    <script src="/js/board/tipBoard/tipBoard.js"></script>

    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/7f3fe5627c.js" crossorigin="anonymous"></script>
</body>
</html>

