<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/fragments/myPageSidebar.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/button.css">
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

        <th:block th:replace="~{common/fragments/myPageProfileSection}"></th:block>

        <section class="myPage-row2">
            <th:block th:replace="~{common/fragments/myPageSideBar}"></th:block>

            <section class="myPage-main">
                <h2 class="category-name">장바구니</h2>

                <table class="cartList">
                    <thead>
                        <th>전체(N개)</th>
                        <th><input type="checkbox"></th>
                        <th>상품이미지</th>
                        <th>상품정보[옵션]</th>
                        <th>주문수량</th>
                        <th>주문금액</th>
                        <th>주문관리</th>
                    </thead>
                    <tbody>
                        <!--<th:block th:if="${skuList} != null">
                                <th:block th:foreach 어쩌구>
                                    <tr>

                                    </tr>
                                </th>
                            </th>
                        -->

                        <tr> <!--상품으로 나눠서 나열-->
                            <td>1</td>
                            <td><input type="checkbox"></td>
                            <td><a><img class="product-image"></a></td>
                            <td>
                                포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용
                                [캐슬(사각)/마블/1200*600]
                            </td>
                            <td>1</td>
                            <td>25,150 원</td>
                            <td>
                                <button class="myPageDelUpdateBtn">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input type="checkbox"></td>
                            <td><a><img class="product-image" ></a></td>
                            <td>
                                포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용
                                [캐슬(사각)/마블/1200*600]
                            </td>
                            <td>1</td>
                            <td>25,150 원</td>
                            <td>
                                <button class="myPageDelUpdateBtn">삭제</button>
                            </td>
                        </tr>
                        <tr> <!--상품으로 나눠서 나열-->
                            <td>3</td>
                            <td><input type="checkbox"></td>
                            <td><a><img class="product-image" ></a></td>
                            <td>
                                포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용
                                [캐슬(사각)/마블/1200*600]
                            </td>
                            <td>1</td>
                            <td>25,150 원</td>
                            <td>
                                <button class="myPageDelUpdateBtn">삭제</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>

        <th:block th:replace="~{common/fragments/footer}"></th:block>
</body>
</html>