<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 마이페이지</title>
    <link rel="stylesheet" href="/css/myPage/managerChat.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <script src="https://kit.fontawesome.com/4b505ed7b7.js" crossorigin="anonymous"></script>

</head>
<body>
    <main>
        <div class="popup-header">
            <div class="popup-title">
                <h2>뚝딱봇 1:1 문의</h2>
                <button class="close-popup" style="cursor: pointer;">문의 종료</button>
            </div>
            <div class="popup-info">
                뚝딱봇은 발전중!<br>
                문의 종료를 원할 시 우측 상단의 '문의종료' 버튼을 클릭해주세요!
            </div>
        </div>
        <div class="chatting-content"><!--채팅 영역-->
            <ul class="display-chatting">
                <li class="target-chat">
                    <img src="/images/default/chatbot.webp ">
                    <div>
                        <div class="target-name">뚝딱봇</div>
                        <p class="b-chat">안녕하세요! 뚝딱뚝딱 cs봇입니다!</p>
                        <!--span class="chatDate">10:05 AM</span-->
                    </div>
                </li>
                <li class="my-chat">
                    <div>
                        <button type="button"  id="customer" class="c-chat u-chat" onclick="customerChat()">뚝딱뚝딱 이용 고객입니다</button>
                        <button type="button" id="partner" class="c-chat u-chat" onclick="partnerChat()">뚝딱뚝딱 판매/시공사입니다</button>
                        <!--span class="chatDate">10:05 AM</span-->
                    </div>
                </li>

            </ul>
        </div>
        <div class="input-area">
            <textarea id="inputChatting" col="2" disabled></textarea>
            <button type="button" id="send"><i class="fa-regular fa-paper-plane"></i></button>
        </div>
    </main>
    <script th:inline="javascript">
        const memberPoint = /*[[${session.loginMember.memberPoint}]]*/ "회원 포인트";
    </script>
    <script src="/js/myPage/managerChat.js"></script>
</body>
</html>