<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 마이페이지</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/fragments/myPageSidebar.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <script src="https://kit.fontawesome.com/4b505ed7b7.js" crossorigin="anonymous"></script>

</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

        <th:block th:replace="~{common/fragments/myPageProfileSection}"></th:block>

        <section class="myPage-row2">
            <th:block th:replace="~{common/fragments/myPageSideBar}"></th:block>

            <section class="myPage-main">
                <h2 class="category-name">회원정보</h2>
                <section>
                        <table class="member-info">
                            <tbody>
                                <tr class="profile-img-area">
                                    <th>사진</th>
                                    <td>
                                        <label class="image-label">
                                            <img 
                                            th:with="user=#{user.default.image}"
                                            th:src="${session.loginMember.profileImg ?:user}">
                                        </label>
                                    </td>
                                    <td>
                                        <span>회원님을 알릴 수 있는 사진을 등록해 주세요. <br>등록된 사진은 회원님의 게시물이나 댓글들에 사용됩니다.</span>
                                    </td>
                                    <td class="profile-area"><button class="myPageMainBtn" type="button">사진 변경</button></td>
                                </tr>

                                <tr style='display: none;' class="change-profile-img-area">
                                    <form id ="profile-form" action="/myPage/memberInfo" method = "POST" name = "profileForm" enctype="multipart/form-data" >
                                        <th>사진</th>
                                        <td class="profileImg">
                                            <label class="image-label" for="inputImage" >
                                                <img id="profile-img" 
                                                th:with="user=#{user.default.image}"
                                                th:src="${session.loginMember.profileImg?:user}">
                                            </label>
                                            <input id="inputImage"type="file" name="profile-image" accept="iamge/*">
                                            <span class="delete-image">&times;</span>
                                        </td>
                                        <td>
                                            <span>회원님을 알릴 수 있는 사진을 등록해 주세요. <br>등록된 사진은 회원님의 게시물이나 댓글들에 사용됩니다.</span>
                                        </td>                                    
                                        <td class="profile-area">
                                            <button class="profile-del-btn myPageDelUpdateBtn" type="button">취소</button>
                                            <button class="confirm myPageDelUpdateBtn" type="submit">수정</button>
                                        </td>
                                    </form>
                                </tr>
        
                                <tr class="id-area" colspan="3">
                                    <th>아이디</th>
                                    <td colspan="3"><h3 class="id-box"th:text=${session.loginMember.memberId}>Id</h3></td>
                                </tr>
        
                                <tr class="password-area">
                                    <th>비밀번호</th>
                                    <td   colspan="3">
                                        <div class="before-modify">
                                            <div>**********</div>
                                            <div><button id="pwBtn" class="myPageSubBtn" type="button">비밀번호 변경</button></div>
                                        </div>

                                    </td>
                                </tr>
                                <tr style='display: none;' class="change-password-area">
                                    <th>비밀번호</th>
                                    <td colspan="3">
                                        <div class="password-area2">
                                            <div class="password-area2-1">
                                                <span class="password-title">현재 비밀번호</span>
                                                <input name = "currentPw" placeholder="기존 비밀번호 입력" maxlength="100" type="password" autocomplete="off">
                                                <i class="fa-solid fa-eye"></i><i class="fa-solid fa-eye-slash display-none"></i>
                                            </div>
                                            <span class="pwAlert currentPwAlert"></span>
                                        </div>
                                        <div class="password-area2">
                                            <div class="password-area2-1">
                                                <span class="password-title">신규 비밀번호</span>
                                                <input name = "newPw" placeholder="신규 비밀번호 입력" maxlength="20" type="password" autocomplete="off">
                                                <i class="fa-solid fa-eye"></i><i class="fa-solid fa-eye-slash display-none"></i>
                                            </div>
                                            <span class="pwAlert newPwAlert"></span>
                                        </div>
                                        <div class="password-area2">
                                            <div class="password-area2-1">
                                                <span class="password-title">신규 비밀번호 확인</span>
                                                <input name="confirmNewPw" placeholder="신규 비밀번호 확인" maxlength="20" type="password" autocomplete="off">
                                                <i class="fa-solid fa-eye"></i><i class="fa-solid fa-eye-slash display-none"></i>
                                            </div>
                                            <span class="pwAlert newPwConfirmAlert"></span>
                                        </div>
                                        <div class="password-commit">
                                            <button id = "pwConfirmBtn" type="button" class="confirm myPageConfirmCancelBtn">확인</button>
                                            <button class="pwCancel myPageConfirmCancelBtn" type="button">취소</button>
                                        </div>
                                    </td>
                                </tr>


                                <tr class="email-area">
                                    <th>이메일</th>
                                    <td style='display:""'  colspan="3">
                                        <div class="before-modify" >
                                            <div id ="emailValue" th:text="${session.loginMember.memberEmail}">****@***.***</div>
                                            <div><button id="emailBtn" class="myPageSubBtn" type="button">이메일 변경</button></div>
                                        </div>

                                    </td>
                                </tr>
                                <tr style='display: none;' class="change-email-area">
                                    <th>이메일</th>
                                    <td colspan="3">
                                        <ul class="mail-alarm">
                                            <li>변경 할 메일주소를 입력 후 인증하기 버튼 클릭 시, 
                                                <br>회원님의 이메일로 이메일 인증 번호가 적힌 메일이 발송됩니다</li>
                                            <li>아래에 인증번호를 입력하면 변경이 완료됩니다.</li>
                                        </ul>
                                        <div class="email-input-area">
                                            <div>
                                                <input name="email-input" class= "email-input" placeholder="이메일 주소 입력" type="email" required>
                                                <input name="auth-input"class= "email-input" placeholder="인증번호 입력" required>
                                            </div>
                                            <button type="button" class="emailAuthBtn myPageVerifyBtn">인증</button>
                                        </div>
                                        <div class="email-btn-area">
                                            <button class="emailConfirmBtn confrim myPageConfirmCancelBtn" type="button" disabled>확인</button>
                                            <button class="cancel myPageConfirmCancelBtn" type="button">취소</button>
                                        </div>
                                    </td>
                              

                                </tr>
        
                                <tr class="nickname-area">
                                    <th>닉네임</th>
                                    <td colspan="3">
                                        <div class="before-modify">
                                            <div class="nickname" id ="nicknameDiv1" th:text="${session.loginMember.memberNickname}">회원 닉네임</div>
                                            <div ><button class="myPageSubBtn" type="button">닉네임 변경</button></div>
                                        </div>
                                    </td>
                                </tr>
                
                                <tr style='display: none;'class="change-nickname-area">
                                    <th >닉네임</th>
                                    <td class="nickname-area2" colspan="3">
                                        <div id ="nicknameDiv2" class="nickname" style="margin-left: 80px;" th:text="${session.loginMember.memberNickname}">회원 닉네임</div>
                                        <ul class="nickname-alarm">
                                            <li>이번달 수정 가능 횟수(월 최대 4회까지만 변경 가능합니다.)</li>
                                            <li>길이는 최대 8자 이내로 작성해주세요.</li>
                                            <li>중복 닉네임은 설정 불가합니다.</li>
                                            <li>띄어쓰기는 불가합니다.</li>
                                            <li>닉네임 설정에 이모티콘 및 특수문자 사용이 불가합니다. ex)& < > ( ) ' " ,</li>
                                        </ul>
                                        <div class="nickname-input-area">
                                            <input name = "nicknameInput"placeholder="닉네임 입력">
                                        </div>
                                        <div class="nickname-btn-area">
                                            <button class="nicknameConfirmBtn confirm myPageConfirmCancelBtn" type="button">확인</button>
                                            <button class="cancel myPageConfirmCancelBtn" type="button">취소</button>
                                        </div>
                                    </td>
                                  
                                </tr>


                                <tr class="phoneNum-area">
                                    <th>휴대전화</th>
                                    <td colspan="3">
                                        <div class="before-modify">
                                            <div id="phoneDiv" th:text="${session.loginMember.memberTel}">010-1111-2222</div>
                                            <div><button class="myPageSubBtn" type="button">정보 변경</button></div>
                                        </div>
                                    </td>
    
                                </tr>
                                <tr style='display: none;' class="change-phoneNum-area">
                                    <th>휴대전화</th>
                                    <td colspan="3" class="phoneNum-area2">
                                        <div class="phonNum-input-area">
                                            <div>
                                                <input name = "phoneNum" placeholder="'-' 없이 입력" type="tel">
                                                <input name="p-auth-input" placeholder="인증번호 입력">
                                            </div>
                                            
                                            <button class="p-authBtn myPageVerifyBtn" type="button">인증</button>
                                        </div>
                                        <div>
                                            <button class="phoneConfirmBtn confirm myPageConfirmCancelBtn" type="button" disabled>확인</button>
                                            <button class="cancel myPageConfirmCancelBtn" type="button">취소</button>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="address-area">
                                    <th>배송지</th>
                                    <td colspan="3">
                                        <div class="before-modify">
                                            <div id="addrDiv" th:text="${session.loginMember?.memberAddr}"></div>
                                            <div><button class="myPageSubBtn" type="button">주소 변경</button></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr style='display: none;' class="change-address-area">
                                    <th>배송지</th>
                                    <td colspan="3">
                                        <div class="addr-area">
                                            <div>
                                                <div class="address-input-area">
                                                    <input type="text" name="memberAddr" placeholder="우편번호" maxlength="6" id="postcode" readonly>                       
                                                
                                                    <button type="button" onclick="sample6_execDaumPostcode()" id="searchAddress">검색</button>
                                                </div>
                        
                                                <div class="address-input-area">
                                                    <input type="text" name="memberAddr" placeholder="도로명/지번 주소" id="address" readonly>
                                                </div>
                                                
                                                <div class="address-input-area">
                                                    <input type="text" name="memberAddr" placeholder="상세 주소" id="detailAddress" readonly>
        
                                                </div>
                                            </div>
                                            <div>
                                                <button class="addrConfirmBtn confirm myPageConfirmCancelBtn" type="button">확인</button>
                                                <button class="addrCancel  cancel myPageConfirmCancelBtn" type="button">취소</button>
                                            </div>
                                        </div>


                                    </td>
                                </tr>




                            </tbody>
                        </table>
              


                    <h2 class="addinfo-title">추가 회원 정보</h2>
                    <table class="add-info">
                        <tbody>
                            <tr>
                                <th>회원구분</th>
                                <td th:switch="${session.loginMember.authority}">
                                    <span th:case="1">일반회원</span>
                                    <span th:case="2">관리자</span>
                                    <span th:case="*">알 수 없음</span>
                                </td>
                            </tr>
                            <tr>
                                <th>회원 이름</th>
                                <td th:text="${session.loginMember.memberName}">홍길동</td>
                            </tr>
                            <tr>
                                <th>로그인 경로</th>
                                <td th:switch="${session.loginMember.socialLoginType}">
                                    <span th:case="D">일반 로그인</span>
                                    <span th:case="N">네이버 로그인</span>
                                    <span th:case="K">카카오 로그인</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </section>


            </section>
        </section>
    </main>
    <th:block th:replace="~{common/fragments/footer}"></th:block>


    <script th:inline="javascript">
        const loginMember = /*[[${session.loginMember}]]*/ '로그인 한 회원';
        const loginType = /*[[${session.loginMember.socialLoginType}]]*/ "로그인 타입";
        const loginMemberProfileImg = /*[[${session.loginMember.profileImg}]]*/ "회원프로필이미지";
        const loginMemberAddress = /*[[${session.loginMember.memberAddr}]]*/ "회원 주소";
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/myPage/memberInfo.js"></script> 
</body>

</html>