<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 마이페이지</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/fragments/myPageSidebar.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <script src="https://kit.fontawesome.com/4b505ed7b7.js" crossorigin="anonymous"></script>

</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

        <th:block th:replace="~{common/fragments/myPageProfileSection}"></th:block>

        <section class="myPage-row2">
            <th:block th:replace="~{common/fragments/myPageSideBar}"></th:block>

            <section class="myPage-main">
                <h2 class="category-name">회원정보</h2>
                <section>
                    <form> <!--정보 변경 폼-->
                        <table class="member-info">
                            <tbody>

                                <tr class="profile-img-area">
                                    <th>사진</th>
                                    <td>
                                        <label class="image-label">
                                            <img>
                                        </label>

                                    </td>
                                    <td>
                                        <span>회원님을 알릴 수 있는 사진을 등록해 주세요. <br>등록된 사진은 회원님의 게시물이나 댓글들에 사용됩니다.</span>
                                    </td>
                                    <td class="profile-area"><button class="myPageMainBtn" type="button">사진 변경</button></td>
                                </tr>

                                <tr style='display: none;' class="change-profile-img-area">
                                    <form id ="profile-form" action="profileImg" method = "POST" name = "profileForm" enctype="multipart/form-data" >
                                        <th>사진</th>
                                        <td class="profileImg">
                                            <label class="image-label" for="inputImage" >
                                                <img id="profile-img">
                                            </label>
                                            <input id="inputImage"type="file" name="profile-image" accept="iamge/*">
                                            <span class="delete-image">&times;</span>
                                        </td>
                                        <td>
                                            <span>회원님을 알릴 수 있는 사진을 등록해 주세요. <br>등록된 사진은 회원님의 게시물이나 댓글들에 사용됩니다.</span>
                                        </td>                                    
                                        <td class="profile-area">
                                            <button class="profile-del-btn myPageDelUpdateBtn" type="button">삭제</button>
                                            <button class="confirm myPageDelUpdateBtn">수정</button>
                                        </td>
                                    </form>
                                </tr>
        
                                <tr class="id-area" colspan="3">
                                    <th>아이디</th>
                                    <td colspan="3"><h3 class="id-box">shsdfsdfdsong69</h3></td>
                                </tr>
        
                                <tr class="password-area">
                                    <th>비밀번호</th>
                                    <td   colspan="3">
                                        <div class="before-modify">
                                            <div>**********</div>
                                            <div><button class="myPageSubBtn" type="button">비밀번호 변경</button></div>
                                        </div>

                                    </td>
                                </tr>
                                <tr style='display: none;' class="change-password-area">
                                    <th>비밀번호</th>
                                    <td colspan="3">
                                        <div class="password-area2">
                                            <span>현재 비밀번호</span>
                                            <input style="display:block;" name = "currentPw" placeholder="기존 비밀번호 입력" type="password" autocomplete="off">
                                        </div>
                                        <div class="password-area2">
                                            <span>신규 비밀번호</span>
                                            <input placeholder="신규 비밀번호 입력" name = "newPw" type="password" autocomplete="off">
                                        </div>
                                        <div class="password-area2">
                                            <span>신규 비밀번호 확인</span>
                                            <input placeholder="신규 비밀번호 확인"name="confirmNewPw" type="password" autocomplete="off">
                                        </div>
                                        <div class="password-commit">
                                            <button id = "pwConfirmBtn"class="confirm myPageConfirmCancelBtn">확인</button>
                                            <button class="cancel myPageConfirmCancelBtn" type="button">취소</button>
                                        </div>
                                    </td>
                                </tr>


                                <tr class="email-area">
                                    <th>이메일</th>
                                    <td style='display:""'  colspan="3">
                                        <div class="before-modify" >
                                            <div>shong7576@gmail.com</div>
                                            <div><button class="myPageSubBtn" type="button">이메일 변경</button></div>
                                        </div>

                                    </td>
                                </tr>
                                <tr style='display: none;' class="change-email-area">
                                    <form>
                                        <th>이메일</th>
                                        <td colspan="3">
                                            <ul class="mail-alarm">
                                                <li>메일주소를 입력 후 인증하기 버튼 클릭 시, 
                                                    <br>회원님의 이메일로 이메일 인증 번호가 적힌 메일이 발송됩니다</li>
                                                <li>아래에 인증번호를 입력하면 인증이 완료됩니다.</li>
                                            </ul>
                                            <div class="email-input-area">
                                                <div>
                                                    <input  class= "email-input" placeholder="이메일 주소 입력" type="email">
                                                    <input class= "email-input" placeholder="인증번호 입력">
                                                </div>
                                                <button class="myPageVerifyBtn">인증</button>
                                            </div>
                                            <div class="email-btn-area">
                                                <button class="confrim myPageConfirmCancelBtn">확인</button>
                                                <button class="cancel myPageConfirmCancelBtn" type="button">취소</button>
                                            </div>
                                        </td>
                                    </form>

                                </tr>
        
                                <tr class="nickname-area">
                                    <th>닉네임</th>
                                    <td colspan="3">
                                        <div class="before-modify">
                                            <div class="nickname">김송</div>
                                            <div ><button class="myPageSubBtn" type="button">닉네임 변경</button></div>
                                        </div>
                                    </td>
                                </tr>
                
                                <tr style='display: none;'class="change-nickname-area">
                                    <form>
                                        <th>닉네임</th>
                                        <td class="nickname-area2" colspan="3">
                                            <div class="nickname" style="margin-left: 80px;">김송</div>
                                            <ul class="nickname-alarm">
                                                <li>이번달 수정 가능 횟수(월 최대 4회까지만 변경 가능합니다.)</li>
                                                <li>길이는 최대 8자 이내로 작성해주세요.</li>
                                                <li>중복 닉네임은 설정 불가합니다.</li>
                                                <li>띄어쓰기는 불가합니다.</li>
                                                <li>닉네임 설정에 이모티콘 및 특수문자 사용이 불가합니다. ex)& < > ( ) ' " ,</li>
                                            </ul>
                                            <div class="nickname-input-area">
                                                <input placeholder="닉네임 입력">
                                            </div>
                                            <div class="nickname-btn-area">
                                                <button class="confirm myPageConfirmCancelBtn">확인</button>
                                                <button class="cancel myPageConfirmCancelBtn" type="button">취소</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>


                                <tr class="phoneNum-area">
                                    <th>휴대전화</th>
                                    <td colspan="3">
                                        <div class="before-modify">
                                            <div>010-1111-2222</div>
                                            <div><button class="myPageSubBtn" type="button">정보 변경</button></div>
                                        </div>
                                    </td>
    
                                </tr>
                                <tr style='display: none;' class="change-phoneNum-area">
                                    <form>
                                        <th>휴대전화</th>
                                        <td colspan="3" class="phoneNum-area2">
                                            <div class="phonNum-input-area">
                                                <input placeholder="'-' 없이 입력" type="tel">
                                                <button class="myPageVerifyBtn">인증</button>
                                            </div>
                                            <div>
                                                <button class="confirm myPageConfirmCancelBtn">확인</button>
                                                <button class="cancel myPageConfirmCancelBtn" type="button">취소</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </form>
              


                    <h2 class="addinfo-title">추가 회원 정보</h2>
                    <table class="add-info">
                        <tbody>
                            <tr>
                                <th>생년월일</th>
                                <td>2000.01.01</td>
                            </tr>
                            <tr>
                                <th>성별</th>
                                <td>여</td>
                            </tr>
                            <tr>
                                <th>배송지</th>
                                <td>경남 사천시 서포면 선창부두길 11-2 선전리</td>
                            </tr>
                        </tbody>
                    </table>
                </section>


            </section>
        </section>
    </main>
    <th:block th:replace="~{common/fragments/footer}"></th:block>

      <!-- 회원 프로필 이미지 변경시 사용할 변수 js 변수로 얻어놓기 -->
    <script th:inline="javascript">
        const loginMemberProfileImg = /*[[${session.loginMember.profileImg}]]*/ "회원프로필이미지";
    </script>
    <script src="/js/myPage/myPage.js"></script>
</body>

</html>