<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/fragments/myPageSidebar.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <script src="https://kit.fontawesome.com/4b505ed7b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

        <th:block th:replace="~{common/fragments/myPageProfileSection}"></th:block>

        <section class="myPage-row2">
            <th:block th:replace="~{common/fragments/myPageSideBar}"></th:block>

            <section class="myPage-main">
                <h2 class="category-name">주문내역</h2>
                <table class="skuList">
                    <thead>
                        <th>상품이미지</th>
                        <th>주문일자</th>
                        <th>주문번호</th>
                        <th>상품정보[옵션]</th>
                        <th>주문수량</th>
                        <th>주문금액</th>
                        <th>주문상태</th>
                    </thead>
                    <tbody>
                        <!--<th:block th:if="${skuList} != null">
                                <th:block th:foreach 어쩌구>
                                    <tr>
                                        <td><a href="상품 상세 링크">상품이미지</a></td>
                                        <td>주문일자</td>
                                        <td>주문번호</td>
                                        <td>상품정보</td>
                                        <td>주문금액</td>
                                        <td>주문수량</td>
                                        <td>주문상태</td>
                                    </tr>
                                </th>
                            </th>
                        -->

                        <tr> <!--상품으로 나눠서 나열-->
                            <td><a><img class="product-image" src="/images/"></a></td>
                            <td>2025-01-01</td>
                            <td>12341234</td>
                            <td>
                                포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용
                                [캐슬(사각)/마블/1200*600]
                            </td>
                            <td>1</td>
                            <td>25,150 원</td>
                            <td class="sku-status">
                                <span>배송중</span>
                                <span class="myPageMainBtn">구매확정</span>
                            </td>
                        </tr>
                        <tr>
                            <td><a><img class="product-image" src="/images/"></a></td>
                            <td>2025-01-01</td>
                            <td>12341234</td>
                            <td>
                                루체르 빛차단 100% 암막커튼 방한 방풍 커튼 130x165cm
                                [2000*1800/핀형/페일그레이]
                            </td>
                            <td>1</td>
                            <td>89,000 원</td>
                            <td class="sku-status">
                                <span>배송중</span>
                                <span class="myPageMainBtn">교환</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </main>

    <th:block th:replace="~{common/fragments/footer}"></th:block>
</body>
</html>