<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
</head>
<body>
    <main>
        <section>
            <div>
                <img>
                <table>
                    <tr>
                        <td>닉네임</td>
                        <td>Squid</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>squid@gmail.com</td>
                    </tr>
                    <tr>
                        <td>가입일</td>
                        <td>2024.05.27</td>
                    </tr>
                    <tr>
                        <td>휴대전화</td>
                        <td>010-1234-1234</td>
                    </tr>
                </table>
            </div>
            <div>
                <div>마이페이지</div>
                <div>
                    <a href="#">주문내역</a>
                    <a href="#">1:1문의</a>
                    <a href="#">포인트</a>
                </div>
            </div>
        </section>
        <section>
            <section class="side-bar">
                <div>
                    <img>
                </div>
                <div>
                    <span>쇼핑</span>
                    <a href="#">주문내역</a>
                    <a href="#">위시리스트</a>
                    <a href="#">장바구니</a>
                </div>
                <div>
                    <span>커뮤니티</span>
                    <a href="#">내 집들이</a>
                    <a href="#">내 노하우</a>
                    <a href="#">좋아요한 게시글</a>
                </div>
                <div>
                    <span>시공사</span>
                    <a href="#">시공사와의 채팅</a>
                </div>
            </section>

            <section class="myPage-main">
                <div>주문내역</div>
                <table>
                    <thead>
                        <th>상품이미지</th>
                        <th>주문일자</th>
                        <th>주문번호</th>
                        <th>상품정보[옵션]</th>
                        <th>주문수량</th>
                        <th>주문금액</th>
                        <th>주문상태</th>
                    </thead>
                    <tbody>
                        <th:block th:if="${skuList} != null">
                            <tr>
                                <td><a href="상품 상세 링크">상품이미지</a></td>
                                <td>주문일자</td>
                                <td>주문번호</td>
                                <td>상품정보</td>
                                <td>주문금액</td>
                                <td>주문수량</td>
                                <td>주문상태</td>
                            </tr>
                        </th>
                        <tr> <!--상품으로 나눠서 나열-->
                            <td><a><img class="product-image" src="/images/"></a></td>
                            <td>2025-01-01</td>
                            <td>12341234</td>
                            <td>
                                포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용
                                [캐슬(사각)/마블/1200*600]
                            </td>
                            <td>1</td>
                            <td>25,150 원</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </main>

    <th:block th:replace="~{common/fragments/footer}"></th:block>
</body>
</html>