<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/fragments/myPageSidebar.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

        <th:block th:replace="~{common/fragments/myPageProfileSection}"></th:block>

        <section class="myPage-row2">
            <th:block th:replace="~{common/fragments/myPageSideBar}"></th:block>

            <section class="myPage-main">
                <h2 class="category-name">내 집들이</h2>
                <!--
                    <th:block th:if=${"myHomeBoardList != null"}>
                        <li>
                        </li>
                    </th>
                -->
                <ul class="homeBoard-list">
                    <li>
                        <img class="homeBoard-img">

                        <h3 class="homeboard-title"><a href="#">셀프 인테리어 후기</a></h3>
                        <div class="homeBoard-info">
                            <div>
                                <a href="#">방문하기 ></a>
                            </div>
                            <div>
                                <span>유저일 |</span>
                                <span>조회수 30 |</span>
                                <span>2025-01-01</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img class="homeBoard-img">

                        <h3 class="homeboard-title"><a href="#">셀프 인테리어 후기</a></h3>
                        <div class="homeBoard-info">
                            <div>
                                <a href="#">방문하기 ></a>
                            </div>
                            <div>
                                <span>유저일 |</span>
                                <span>조회수 30 |</span>
                                <span>2025-01-01</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img class="homeBoard-img">

                        <h3 class="homeboard-title"><a href="#">셀프 인테리어 후기</a></h3>
                        <div class="homeBoard-info">
                            <div>
                                <a href="#">방문하기 ></a>
                            </div>
                            <div>
                                <span>유저일 |</span>
                                <span>조회수 30 |</span>
                                <span>2025-01-01</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img class="homeBoard-img">

                        <h3 class="homeboard-title"><a href="#">셀프 인테리어 후기</a></h3>
                        <div class="homeBoard-info">
                            <div>
                                <a href="#">방문하기 ></a>
                            </div>
                            <div>
                                <span>유저일 |</span>
                                <span>조회수 30 |</span>
                                <span>2025-01-01</span>
                            </div>
                        </div>
                    </li>

                </ul>

            </section>
        </section>

        <th:block th:replace="~{common/fragments/footer}"></th:block>
</body>
</html>