<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 마이페이지</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/fragments/myPageSidebar.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <script src="https://kit.fontawesome.com/4b505ed7b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

        <th:block th:replace="~{common/fragments/myPageProfileSection}"></th:block>

        <section class="myPage-row2">
            <th:block th:replace="~{common/fragments/myPageSideBar}"></th:block>

            <section class="myPage-main">
                <h2 class="category-name">위시리스트</h2>

                <table class="wishList-table">
                    <!--
                    <th:block th:if="${skuList != null}"></th>
                        <tr th:each="wishList:${wishList}">
                            <td>
                            </td>
                        </tr>
                    -->
                    <tr class="item-row">
                        <td>
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td>
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr class="item-row">
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr class="item-row">
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr class="item-row">
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                        <td >
                            <section class="wish-item">
                                <img class="item_img">
                                <div>
                                    <span class="item-title">포세린 세라믹 식탁 테이블 상판 2인용 4인용 6인용</span>
                                    <span>캐슬(사각)/마블/1200*600</span>
                                    <span>25,150 원</span>
                                    <i class="fa-regular fa-heart heart"></i>
                                </div>
                            </section>
                        </td>
                    </tr>
                </table>
            </section>
        </section>
        <th:block th:replace="~{common/fragments/footer}"></th:block>
</body>
</html>