<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 마이페이지</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/fragments/myPageSidebar.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <script src="https://kit.fontawesome.com/4b505ed7b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

        <th:block th:replace="~{common/fragments/myPageProfileSection}"></th:block>

        <section class="myPage-row2">
            <th:block th:replace="~{common/fragments/myPageSideBar}"></th:block>

            <section class="myPage-main">
                <h2 class="category-name">위시리스트</h2>

                <table class="wishList-table">
                    <tr class="item-row" th:each="row : ${#numbers.sequence(0, 3)}">
                        <td  th:each="col : ${#numbers.sequence(row * 3, (row + 1) * 3 - 1)}">
                            <section class="wish-item" th:if="${col lt wishList.size()}">
                                    <a class="wish-a" th:href="|/eCommerce/list/${wishList[col].bigCategoryNo}/${wishList[col].categoryNo}/${wishList[col].productNo}/detail|">
                                        <img class="item_img" th:src="|${wishList[col].uploadImgPath}${wishList[col].uploadImgRename}|">
                                        <i class="fa-solid fa-heart heart"></i>
                                        <div>
                                            <div>
                                                <span class="item-title" th:text="${wishList[col].productName}">상품제목</span>
                                                <span th:text="${wishList[col].productPrice}" class="productPrice">상품가격</span>
                                            </div>
                                            <button th:memberNo-data="${loginMember.memberNo}"
                                                    th:productNo-data="${wishList[col].productNo}"
                                                    type="button" class="delButton">
                                                    삭제
                                            </button>
                                        </div>
                                    </a>
                            </section>
                        </td>
                    </tr>
                </table>

                <!-- 페이지네이션 -->
                 <th:block th:if="${wishList.size()> 0}">

                    <div class="pagination">
                        <ul class = "pagination" th:object="${pagination}">
                            <li><a th:href="@{|/myPage/wishList?cp=1|}">&lt;&lt;</a></li>
                            <li><a th:href="@{|/myPage/wishList?cp=*{prevPage}|}">&lt;</a></li>
                
                            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
        
                                <li th:if="${i} == *{currentPage}">
                                    <a class="current" th:text="${i}" style="font-weight: bold;">현재페이지</a>
                                </li>
        
                                <li th:unless="${i} == *{currentPage}">
                                    <a th:href="@{|/myPage/wishList?cp=${i}|}"
                                    th:text="${i}">이동할 페이지</a>
                                </li>
                                
                            </th:block>
                
                        
                            <li>
                                <a th:href="@{|/myPage/wishList?cp=*{nextPage}|}">&gt;</a>
                            </li>
                            <li><a th:href="@{|/myPage/wishList?cp=*{maxPage}|}">&gt;&gt;</a></li>
                        </ul>
                    
                    </div>
                 </th:block>

                

            </section>
        </section>
        <th:block th:replace="~{common/fragments/footer}"></th:block>


        <script src="/js/myPage/wishList.js"></script>
    </main>

</body>
</html>