<style>
    #shopping > div:first-child {
    display: flex;
    flex-direction: column;
}

#category-circle {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category-circle > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#category-circle > div > h4 {
    margin-top: 15px;
}

#category-circle > div > div {
    border: 1px #ececec solid;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

#category-circle > div > div:hover {
    box-shadow: 5px 5px 5px #9B9B9B;
}

#category-circle > div > div > img {
    width: 60%;
    height: 60%;
}
</style>

<div>
    <div id="category-circle">
      <div>
        <div><img onclick="location.href='/eCommerce/list';" src="/images/main/category-1.png"></div>
        <h4>가구</h4>
      </div>

      <div>
        <div><img src="/images/main/category-2.png"></div>
        <h4>가전/디지털</h4>
      </div>

      <div>
        <div><img src="/images/main/category-3.png"></div>
        <h4>주방용품</h4>
      </div>

      <div>
        <div><img src="/images/main/category-4.png"></div>
        <h4>데코/식물</h4>
      </div>

      <div>
        <div><img src="/images/main/category-5.png"></div>
        <h4>수납/정리</h4>
      </div>

      <div>
        <div><img src="/images/main/category-6.png"></div>
        <h4>생활용품</h4>
      </div>

      <div>
        <div><img src="/images/main/category-7.png"></div>
        <h4>유아/아동</h4>
      </div>
    </div>
  </div>