<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>시공사 모아보기</title>
        
        <link rel="stylesheet" href="/css/common/main.css"> 
        <link rel="stylesheet" href="/css/partner/interior/interiorList.css"> 
        <link rel="stylesheet" href="/css/common/fragments/header.css"> 
        <link rel="stylesheet" href="/css/common/fragments/footer.css"> 
        <link rel="stylesheet" href="/css/common/button.css"> 

    </head>
    <body>

        <th:block th:replace="~{common/fragments/header}"></th:block>

        <div class="mainContainer">

            <main>

                <section class="bannerArea">
                
                    <img src="/images/partner/interior/portfolio/시공사 배너이미지.jpg">
                    <h1>시공사 모아보기</h1>
                    
                </section>

                
                <section class="searchInterior">

                    <div class="titleArea">
                        <h2>시공사 찾기</h2>
                    </div>
                    
                    <table class="searchInteriorTable">

                        <tr>
                            <td>시공사 지역</td>
                            <td>
                                <select name="region" class="regionSelect">
                                    <option value="seoul">서울</option>
                                    <option value="busan">부산</option>
                                    <option value="incheon">인천</option>
                                    <option value="daegu">대구</option>
                                    <option value="daejeon">대전</option>
                                    <option value="gwangju">광주</option>
                                    <option value="ulsan">울산</option>
                                    <option value="sejong">세종</option>
                                    <option value="jeju">제주</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>견적 금액</td>
                            <td>
                                <input type="number" step="100000" min="0">
                                <span>~</span>
                                <input type="number" step="100000" min="0">
                            </td>
                        </tr>

                        <tr>
                            <td>시공 일정</td>
                            <td>
                                <input type="date">
                                <span>~</span>
                                <input type="date">
                            </td>
                        </tr>

                        <tr>
                            <td>원하는 스타일</td>
                            <td>
                                <input type="radio" name="styleType" value="modern">모던
                                <input type="radio" name="styleType" value="chic">시크 
                                <input type="radio" name="styleType" value="fancy">화려
                                <input type="radio" name="styleType" value="clean">깔끔
                                <input type="radio" name="styleType" value="achromatic">무채색
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button>파트너 찾기</button>
                            </td>
                        </tr>

                    </table>

                </section>

            
                
                <section class="interiorList">

                    <div class="titleArea">
                        <h2>시공사 리스트</h2>
                    </div>

                    <table style="text-align: center;">

                        <thead>
                            <th>시공사</th>
                            <th>전화번호</th>
                            <th>주소</th>
                            <th>시공가격(평당)</th>
                            <th>포트폴리오</th>
                        </thead>

                        <tbody>

                            <tr class="listRow">
                                <td>삶</td>
                                <td>01012341234</td>
                                <td>서울특별시 중랑구 면목동</td>
                                <td>1,000,000</td>
                                <td>
                                    <button>포트폴리오</button>
                                </td>
                            </tr>
                            
                            <tr class="listRow">
                                <td>삶</td>
                                <td>01012341234</td>
                                <td>서울특별시 중랑구 면목동</td>
                                <td>1,000,000</td>
                                <td>
                                    <button>포트폴리오</button>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    
                </section>
                

                <section>
                    
                    <th:block>
                        <div class="pagination-area">
        
                            <ul class="pagination">
                                <!-- 첫 페이지로 이동 -->
                                <li><a href="#">&lt;&lt;</a></li>
        
                                <!-- 이전 목록 마지막 번호로 이동 -->
                                <li><a href="#">&lt;</a></li>
        
                                <!-- 특정 페이지로 이동 -->
        
                                <th:block>
        
                                    <!-- 현재 보고있는 페이지 -->
                                    <li>
                                        <a class="current">1</a>
                                    </li>
        
                                    <!-- 보고있지 않은 페이지 -->
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                </th:block>
        
                                <!-- 다음 목록 시작 번호로 이동 -->
                                <li><a href="#">&gt;</a></li>
        
                                <!-- 끝 페이지로 이동 -->
                                <li><a href="#">&gt;&gt;</a></li>
                            </ul>
                        </div>
                    </th:block>


                </section>

            </main>
            
            
        </div>
        
        <th:block th:replace="~{common/fragments/footer}"></th:block>

    </body>

</html>