<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>뚝딱뚝딱 : 시공사</title>

        <link rel="stylesheet" href="/css/common/main.css">
        <link rel="stylesheet" href="/css/partner/interior/interiorPortfolio.css">
        <link rel="stylesheet" href="/css/common/fragments/header.css">
        <link rel="stylesheet" href="/css/common/fragments/footer.css">
        <link rel="stylesheet" href="/css/common/button.css">
        <link rel="stylesheet" href="/css/common/fragments/portfolioCarousel.css">
        <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    </head>
    <body>
        <!-- 헤더 -->
        <th:block th:replace="~{common/fragments/header}"></th:block>


        <main class="mainContainer">

            <!-- 시공사 이름 + 메인 캐러셀 컨테이너 -->
            <div class="topContainer">
                <h1 class="portTitle">캣츠코</h1>
                
                <th:block th:replace="~{common/fragments/portfolioCarousel}"></th:block>
            </div>

            <!-- 중간 시공사 컨테이너 -->
            <div class="midContainer">
                <div class="imgContainer">
                    <img class="portLogo" src="/images/profile/main.jpg"></img>
                </div>
                <div class="nameContainer">
                    <h2 class="portName">캣츠코</h2>
                </div>
                <div class="buttonContainer">
                    <button class="interiorMatchBtn">컨택하기</button>
                </div>
            </div>


            <!-- 프로젝트 리스트 컨테이너 -->
            <div class="botContainer">
                <!-- 프로젝트 리스트 불러오기 -->
                <th:block th:replace="~{common/fragments/interiorProjectList.html}"></th:block>


                <button class="interiorProjectViewMoreBtn" id="interiorProjectViewMore">더보기 +</button>
            </div>
        </main> 

        <div id="portTop">↑</div>


        <!-- 푸터 -->
        <th:block th:replace="~{common/fragments/footer}"></th:block>
        <script src="/js/common/fragments/portfolioCarousel.js"></script>
        <script src="/js/partner/interior/interiorPortfolio-dom.js"></script>
        <script src="/js/partner/interior/interiorPortfolio.js"></script>
        <script src="https://kit.fontawesome.com/7f3fe5627c.js" crossorigin="anonymous"></script>
    </body>
</html>