<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="/src/main/resources/static/css/common/main.css">
        <link rel="stylesheet" href="/src/main/resources/static/css/partner/interior/interiorPortfolio.css">
    </head>
    <body>

        <div class="mainContainer">

            <h1>캣츠코</h1>

            <div class="mainProjectArea">

                
                
            </div>

            <div class="interiorContactArea">

            </div>
            
            <div class="allProject">

            </div>

        </div>
        
    </body>
</html>