<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Floor Plan 3D Modeling</title>
<link rel="stylesheet" href="/css/partner/interior/sj-3d.css">
</head>
<body>
    <div class="container">
      <div class="left-panel">
        <button id="add-chair" class="add-element-button">Add Chair</button>
        <button id="add-table" class="add-element-button">Add Table</button>
        <button id="add-sofa" class="add-element-button">Add Sofa</button>
        <button id="add-bed" class="add-element-button">Add Bed</button>
      </div>
        <div id="floor-plan">
          <table>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      <div class="right-panel">
        <div id="viewer">
          <button id="open">[  ]</button>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="/js/partner/interior/sj-3d.js"></script>
    </body>
</html>
