#leftheaderContainer {
    width: 200px;
    height: 100vh;
    /* position: fixed;
    left: 0;
    top: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid #404040;
}

#leftheaderContainer h2 {
    margin-bottom: 50px;
}

#leftheaderContainer h3 {
    margin-bottom: 30px;
}
