<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>

      <link rel="stylesheet" href="/css/board/myHouseBoard/myHouseBoard.css">
      <link rel="stylesheet" href="/css/common/main.css"> 
      <link rel="stylesheet" href="/css/common/fragments/header.css"> 
      <link rel="stylesheet" href="/css/common/fragments/footer.css"> 
      <link rel="stylesheet" href="/css/common/button.css"> 

      <script src="https://kit.fontawesome.com/fa0ef5fd68.js" crossorigin="anonymous"></script>
  </head>
  <body>
      
    <div class="mainContainer">

      <section class="categoryNav">

        <div class="boardMainBtn">집들이</div>
        <div class="boardMainBtn">노하우</div>

      </section>

      <section class="mainArea">

        <section class="searchArea">

          <span class="title">집들이</span>
          <span>
            <input type="text" placeholder="집들이 검색">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>

        </section>
        
        <section class="sortingArea">
          <select>
            <option>최신순</option>
            <option>조회순</option>
          </select>
        </section>
        
        <section class="listArea">

          <div class="myHouseList">
            
            <span class="myHouseThumbnail">
              <img src="/images/board/myHouse/3364958d-89de-4f1a-8ff5-f730f6ccc826.jpg">
            </span>
            <span class="myHouseInfo">
              <div class="top-left">
                <h1>셀프인테리어 후기</h1>
              </div>
              <div class="bottom-right">
                <h4>유저일 | 조회수 : 20 | 2024-05-30</h4>
              </div>
            </span>

          </div>

        </section>
        
        <section class="btnArea">
          <button>작성하기</button>
        </section>
        
        <section class="paginationArea">

        </section>

      </section>

    </div>
          
      
  </body>
</html>