<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div style="width: 1440px; height: 2400px; position: relative; background: #FFFDF8">
            <div class="Rectangle108" style="width: 900px; height: 240px; left: 270px; top: 603px; position: absolute; background: white; box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25)"></div>
            <div class="Rectangle109" style="width: 900px; height: 239px; left: 265px; top: 931px; position: absolute; background: white; box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25)"></div>
            <div class="Rectangle110" style="width: 900px; height: 240px; left: 270px; top: 1218px; position: absolute; background: white; box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25)"></div>
            <div class="Rectangle111" style="width: 900px; height: 240px; left: 270px; top: 1526px; position: absolute; background: white; box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25)"></div>
            <div style="left: 295px; top: 134px; position: absolute; color: #3A732A; font-size: 30px; font-family: Lexend; font-weight: 700; text-transform: uppercase; line-height: 30px; word-wrap: break-word">집들이</div>
            <div class="12345678910" style="width: 573px; height: 40px; left: 419px; top: 1911px; position: absolute; color: black; font-size: 30px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word"><<   <  1  2  3  4  5  6  7  8  9  10  >   >></div>
            <div class="Group27" style="width: 150px; height: 140px; left: 56px; top: 194px; position: absolute">
              <div class="Group24" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(211, 187, 164, 0.50); border-radius: 30px"></div>
                <div style="left: 47px; top: 16px; position: absolute; color: #3A732A; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">집들이</div>
              </div>
              <div class="Group25" style="width: 150px; height: 55px; left: 0px; top: 85px; position: absolute">
                <div class="Rectangle114" style="width: 150px; height: 55px; left: 0px; top: 0px; position: absolute; background: rgba(211, 187, 164, 0.50); border-radius: 30px"></div>
                <div style="left: 47px; top: 16px; position: absolute; color: #3A732A; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">노하우</div>
              </div>
            </div>
            <div class="Group33847" style="width: 725px; height: 48px; left: 445px; top: 125px; position: absolute">
              <div class="Rectangle397" style="width: 725px; height: 48px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #9B9B9B solid"></div>
              <div class="SearchNormal" style="width: 24px; height: 25.62px; left: 672px; top: 11px; position: absolute">
                <div class="Vector" style="width: 19px; height: 20.28px; left: 2px; top: 2.13px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 2px; height: 2.13px; left: 20px; top: 21.35px; position: absolute; border: 1.50px #9B9B9B solid"></div>
                <div class="Vector" style="width: 24px; height: 25.62px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
              </div>
              <div style="left: 20px; top: 14px; position: absolute; color: #9B9B9B; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">집들이 검색</div>
            </div>
            <div class="Rectangle367" style="width: 212px; height: 48px; left: 958px; top: 210px; position: absolute; background: white; border: 1px black solid"></div>
            <div style="left: 973px; top: 224px; position: absolute; color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">최신순</div>
            <div style="left: 1162px; top: 228px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; color: black; font-size: 20px; font-family: Lexend; font-weight: 400; text-transform: uppercase; line-height: 20px; word-wrap: break-word">></div>
            <img class="On2" style="width: 300px; height: 200px; left: 292px; top: 623px; position: absolute" src="https://via.placeholder.com/300x200" />
            <img class="22" style="width: 300px; height: 200px; left: 292px; top: 931px; position: absolute" src="https://via.placeholder.com/300x200" />
            <img class="2" style="width: 300px; height: 200px; left: 292px; top: 1238px; position: absolute" src="https://via.placeholder.com/300x200" />
            <img class="Y2k6ydkxka2" style="width: 300px; height: 200px; left: 292px; top: 1546px; position: absolute" src="https://via.placeholder.com/300x200" />
            <div style="left: 623px; top: 641px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 30px; word-wrap: break-word">집의 무드를 바꿔봤어요</div>
            <div class="3" style="left: 623px; top: 949px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 30px; word-wrap: break-word">셀프 셀프인테리어 3년차에요<br/>평가 부탁드려요</div>
            <div style="left: 623px; top: 1256px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 30px; word-wrap: break-word">나만의 공간을 꾸몄어요</div>
            <div style="left: 623px; top: 1564px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 30px; word-wrap: break-word">이사했어요</div>
            <div class="Group33981" style="width: 900px; height: 240px; left: 270px; top: 295px; position: absolute">
              <div class="Rectangle103" style="width: 900px; height: 240px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25)"></div>
              <img class="Snust16508510635152" style="width: 300px; height: 200px; left: 22px; top: 15px; position: absolute" src="https://via.placeholder.com/300x200" />
              <div style="left: 353px; top: 35px; position: absolute; color: black; font-size: 30px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 30px; word-wrap: break-word">셀프 인테리어 후기</div>
              <div class="3020240511" style="left: 653px; top: 197px; position: absolute; color: #7D7D7D; font-size: 15px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저일  |  조회수 30  |  2024-05-11</div>
            </div>
            <div class="3020240511" style="left: 923px; top: 804px; position: absolute; color: #7D7D7D; font-size: 15px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저이  |  조회수 30  |  2024-05-11</div>
            <div class="3020240511" style="left: 923px; top: 1108px; position: absolute; color: #7D7D7D; font-size: 15px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저삼  |  조회수 30  |  2024-05-11</div>
            <div class="3020240511" style="left: 923px; top: 1419px; position: absolute; color: #7D7D7D; font-size: 15px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저사  |  조회수 30  |  2024-05-11</div>
            <div class="3020240511" style="left: 923px; top: 1726px; position: absolute; color: #7D7D7D; font-size: 15px; font-family: Lexend; font-weight: 500; text-transform: uppercase; line-height: 15px; word-wrap: break-word">유저오  |  조회수 30  |  2024-05-11</div>
            <div class="Hover" style="width: 135px; height: 40px; left: 1038px; top: 1799px; position: absolute">
              <div class="Rectangle112" style="width: 135px; height: 40px; left: 0px; top: 0px; position: absolute; background: #404040; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
              <div style="left: 36px; top: 11px; position: absolute; color: #FFFAF0; font-size: 18px; font-family: Pretendard; font-weight: 700; text-transform: uppercase; line-height: 18px; word-wrap: break-word">작성하기</div>
            </div>
          </div>
    </main>
</body>
</html>