<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/board/myHouseBoard/myHouseBoard.css">
    <link rel="stylesheet" href="/css/board/myHouseBoard/myHouseBoardDetail.css">
    <link rel="stylesheet" href="/css/common/main.css"> 
    <link rel="stylesheet" href="/css/common/fragments/header.css">  
    <link rel="stylesheet" href="/css/common/fragments/footer.css"> 
    <link rel="stylesheet" href="/css/common/fragments/board/side-category.css"> 
    <link rel="stylesheet" href="/css/common/button.css"> 

    <script src="https://kit.fontawesome.com/fa0ef5fd68.js" crossorigin="anonymous"></script>
</head>
<body>

  <th:block th:replace="~{common/fragments/header}"></th:block>
    
  <div class="topContainer">

    <div class="mainContainer">

      <th:block th:replace="~{common/fragments/board/side-category}"></th:block>

      <div class="mainArea">

        <div class="searchArea">

          <span class="title">집들이</span>
            <span>
              <input type="text" placeholder="집들이 검색">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>

        </div>

        <div class="imgArea">

          <div class="mainImg">
            <img src="/images/board/myHouse/3364958d-89de-4f1a-8ff5-f730f6ccc826.jpg" id="mainImage" class="main-image" alt="Main Image">
          </div>

          <div class="images">
            <img src="/images/board/myHouse/0a0a379f-05c8-4777-a071-b29abcf9f542.jpg" class="thumbnail" data-index="1" alt="Thumbnail 1" onclick="swapImage(this)">
            <img src="/images/board/myHouse/38206_28135_2644.jpg" class="thumbnail" data-index="2" alt="Thumbnail 2" onclick="swapImage(this)">
            <img src="/images/board/myHouse/147215_155199_1614.jpg" class="thumbnail" data-index="3" alt="Thumbnail 3" onclick="swapImage(this)">
            <img src="/images/board/myHouse/117575264.4.jpg" class="thumbnail" data-index="4" alt="Thumbnail 4" onclick="swapImage(this)">
          </div>

        </div>

        <h3>[집들이]</h3>
        <h2>셀프인테리어 후기</h2>

        <div class="userProfileArea">
          <div class="leftSide">
            <div class="profileImg">
              <img src="/images/profile/main.jpg">
            </div>
            <div class="userNickname">
              <h3>유저일</h3>
            </div>
          </div>

          <div class="rightSide">
            <div class="date">
              <h3>2024.05.31</h3>
            </div>
            <div class="reportBtn">
              <i class="fa-solid fa-bullhorn"></i>
              <h3>신고</h3>
            </div>
          </div>
        </div>
        
        <div class="contentArea">

          <div class="myHouseContent">

            안녕하세요, 여러분! 오늘은 제가 최근에 진행한 셀프 인테리어 프로젝트에 대해 공유하려고 합니다.
            몇 주 동안의 노력 끝에, 저의 작은 아파트가 어떻게 변화했는지 여러분께 보여드리고자 해요.
            시작은 작은 아이디어에서
            처음에는 단순히 집을 조금 더 아늑하게 만들고 싶다는 생각이었습니다.
            그래서 인터넷에서 여러 인테리어 아이디어를 찾아보았고, 결국 셀프 인테리어에 도전하기로 결
            심했죠. 가장 중점을 둔 부분은 베란다였습니다. 작지만 활용도가 높은 공간으로 바꾸고 싶었어요.


            최근 집을 아늑한 느낌의 인테리어로 꾸몄습니다. 따뜻한 베이지 톤의 벽지와 부드러운 질감의 패브릭 
            소파를 배치해 편안한 분위기를 만들었어요. 조명은 은은한 노란빛을 선택해 눈이 편안하고, 책장을 채운
            다양한 책들이 공간을 더욱 풍성하게 합니다. 커다란 러그와 여러 개의 쿠션들이 더해져 공간이 더욱 
            포근해졌습니다. 창가에는 초록 식물들을 놓아 생기를 불어넣었고, 벽에는 가족사진과 작은 액자들로 
            장식해 개인적인 터치를 더했어요. 이 모든 요소들이 어우러져 집에 들어설 때마다 따뜻한 포옹을 
            받는 듯한 기분이 듭니다.

          </div>

        </div>

        <div class="commentArea">

          <div class="inputCommentArea">

            <div class="topArea">
              <h2>댓글수</h2>
              <button class="boardDetailSubmitChatBtn">등록</button>
            </div>

            <div class="commentTextArea">
              <textarea cols="120" rows="5"></textarea>
            </div>

          </div>

          <div class="comment">

            <div class="commentUser">

              <div class="leftArea">
                <div>
                  <img src="/images/profile/main.jpg">
                  <h3>유저이</h3>
                </div>

                <div class="like">
                  <i class="fa-solid fa-heart" style="color: red;"></i>
                  <!-- 빈하트 : fa-regular -->
                  <div class="like-count">10</div>
                </div>
              </div>

              <div class="rightArea">

                <div class="commentBtnArea">
                  <div th:onclick="|showInsertComment(this)|">답글</div>
                  <div>수정</div>
                  <div>삭제</div>
                </div>

                <div class="reportBtn">
                  <i class="fa-solid fa-bullhorn"></i>
                  <h3>신고</h3>
                </div>

              </div>

            </div>

            <div class="commentContent" id="commentContent">
              <h3>댓글 내용</h3>
            </div>

          </div>

          

        </div>


      </div>

    </div>

  </div>

  <div id="top">↑</div>

  <th:block th:replace="~{common/fragments/footer}"></th:block>

  <script src="/js/common/fragments/board/side-category.js"></script>
  <script src="/js/board/myHouseboard/myHouseBoard.js"></script>
  <script src="/js/board/myHouseboard/myHouseBoardDetail.js"></script>
  <script src="/js/common/main.js"></script>

</body>
</html>