<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/board/myHouseBoard/myHouseBoard.css">
    <link rel="stylesheet" href="/css/common/main.css"> 
    <link rel="stylesheet" href="/css/common/fragments/header.css">  
    <link rel="stylesheet" href="/css/common/fragments/footer.css"> 
    <link rel="stylesheet" href="/css/common/fragments/board/side-category.css"> 
    <link rel="stylesheet" href="/css/common/button.css"> 

    <script src="https://kit.fontawesome.com/fa0ef5fd68.js" crossorigin="anonymous"></script>
</head>
<body>

  <th:block th:replace="~{common/fragments/header}"></th:block>
    
  <div class="topContainer">

    <div class="mainContainer">

      <th:block th:replace="~{common/fragments/board/side-category}"></th:block>

      <div class="mainArea">

        <div class="searchArea">

          <span class="title">집들이</span>
            <span>
              <input type="text" placeholder="집들이 검색">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>

        </div>

        <div class="imgArea">

          <div class="mainImg">
            <img>
          </div>

          <div class="images"></div>

        </div>

      </div>

    </div>

  </div>

  <script src="/js/common/fragments/board/side-category.js"></script>
  <script src="/js/board/myHouseboard/myHouseBoard.js"></script>
  <script src="/js/common/main.js"></script>

</body>
</html>