<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 커뮤니티</title>

    <link rel="stylesheet" href="/css/common/main.css"> 
    <link rel="stylesheet" href="/css/common/fragments/header.css">  
    <link rel="stylesheet" href="/css/common/fragments/footer.css"> 
    <link rel="stylesheet" href="/css/common/fragments/board/side-category.css"> 
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/board/myHouseBoard/registMyHouse.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>

    <th:block th:replace="~{common/fragments/header}"></th:block>

    <div class="topContainer">

        <div class="mainContainer">

            <th:block th:replace="~{common/fragments/board/side-category}"></th:block>

            <div class="mainArea">

                <form action="/myHouse/registMyHouse" method="POST" id="registMyHouseForm" enctype="multipart/form-data">

                    <div class="topTitle">
                        <h1>집들이 작성하기</h1>
                    </div>

                    <div class="titleInput">
                        <input type="text" placeholder="제목" id="boardTitle" name="boardTitle">
                    </div>

                    <div class="contentInput">
                        <textarea placeholder="내용 입력" id="boardContent" name="boardContent"></textarea>
                    </div>

                    <div class="midTitle">
                        <h2>사진 첨부하기</h2>
                    </div>

                    <div class="inputFile">
                        <input type="file" name="images" id="imageUpload" accept="image/*" multiple>
                    </div>

                    <div class="thumbnailImg">
                        <h1 id="mainImgText" style="display: none;">메인 이미지</h1>
                        <img id="largeImage" src="" alt="Large Image Preview" style="display: none;">
                    </div>

                    <!-- Hidden input for main image -->
                    <input type="hidden" id="mainImgHidden" name="mainImg">

                    <div class="btnArea">
                        <button class="boardCreateSubmitBtn">등록하기</button>
                        <button type="button" class="boardQuickViewBtn" id="backToList">등록취소</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <div id="top">↑</div>
    
    <th:block th:replace="~{common/fragments/footer}"></th:block>

    <script src="/js/common/fragments/board/side-category.js"></script>
    <script src="/js/common/main.js"></script>
    <script src="/js/board/myHouseboard/registMyHouse.js"></script>
</body>
</html>