#estimateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#estimateContainer > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#estimateContainer > div:first-child > img {
    width: 400px;
    height: 400px;
    margin: 20px;
}

#estimateContainer > div:first-child > div:first-child {
    background-image: url("/images/partner/interior/modeling/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#estimateContainer > div:last-child {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

#estimateContainer > div:last-child > div:first-child {
    display: flex;
    justify-content: end;
}

#estimateContainer > div:last-child select {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--gray3);
}

#estimateContainer > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
}


/*시공사 리스트*/
.interiorList {
    width: -webkit-fill-available;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}


/* .listRow {
    width: 1020px; 
    height: 78px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
    border: 0.50px black solid;
} */

tr.listRow {
    width: 1020px; 
    height: 78px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
    border: 0.50px black solid;
}

tr.listRow td {
    border: none; /* 개별 셀의 기본 보더를 제거 */
}

.interiorDetailView {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary);
    left: 0px; 
    top: 0px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-color: transparent;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    outline: none;

    cursor: pointer;
    
    /* 폰트 */
    font-family: 'main';
    word-wrap: break-word;
    text-align: center; 
    color: var(--white); 
}

.interiorDetailView:hover {
    color: var(--white);
    left: 0px; 
    top: 0px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px;
    transform: translateY(-2px);
    

    /* 폰트 */
    font-family: 'main';
    text-align: center;
    word-wrap: break-word;
}

.interiorDetailView:active {
    box-shadow: none;
    transform: translateY(0);
}


/*페이징*/
.pagination{
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: #3A732A;
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
} 
