/* 모델링 헤더 */
#modelingHeader {
  background-color: #f7f7f7;
  border-bottom: 2px solid #b3bcc2;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
}

#modelingHeader h2 {
  color: var(--gray3);
  flex-basis: 90%;
  padding-left: 10px;
}

#modelingHeader h3 {
  color: var(--gray3);
}
  


/* 모델링부분 */
#modelingBox {

}

.container {
  display: flex;
  height: 100%;
}


/* 가구선택칸 */     
.left-panel {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #b3bcc2;
  border-bottom: 2px solid #b3bcc2
}

.left-panel > div:first-child {
  display: flex;
  flex-direction: column;
}

.left-panel > div > div {
  display: flex;
}


.left-panel > div:last-child {
  height: 850px;
  background-color: #f7f7f7;
}



/* 도구툴 */
#btnBox {
  position: absolute;
  top: 100px;
  left: 330px;
  width: 120px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #b3bcc2;
  background-color: #f7f7f7;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btnBox button {
  width: 100px;
  height: 30px;
  background: none;
  border-bottom: 1px solid #b3bcc2;
  margin-bottom: 10px;
  color: var(--gray1);
}

#btnBox i {
  font-size: 15px;
  color: var(--gray1);
  margin-right: 5px;
}

/* 모델링칸 */
#floor-plan {
  background-image: url("/images/partner/interior/modeling/background.png");
  background-size: 500px;
  width: 100%;
  position: relative;
}

#floor-plan table {
  width: 610px;
  height: 610px;
  margin-top: 100px;
  margin-left: 300px;
  background-color: white;
  border: 1px solid black;
}
  
#floor-plan tr {
  margin: 0;
  padding: 0;
}
  
.mainTd  {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}

.wallTd1 {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 10px;
}

.wallTd2 {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 100px;
}

.wallTdSide {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
}


.item {
  height: 100%;
  width: 100%;
  display: none;
}

.item img {
  height: 145px;
  border: 1px solid #b3bcc2;
}


.right-panel {
  position: absolute;
  top: 50px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#viewer {
  width: 400px;
}

#canvas {
  width: 400px;
  height: 400px;
  border: 1px solid var(--gray4);
}

/* 바닥, 벽지 바꾸기 */
#floorAndwall {
  position: absolute;
  top: 500px;
  left: 330px;
  display: flex;
  z-index: 10;
  height: 400px;
}

#floorTextureBox,
#wallTextureBox {
  width: 100px;
  border-radius: 20px;
  border: 2px solid #b3bcc2;
  background-color: #f7f7f7;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#floorTextureBox > div,
#wallTextureBox > div {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
  cursor: pointer;
}

#floorTextureBox > h4,
#wallTextureBox > h4 {
  margin-bottom: 8px;
  background-color: var(--gray3);
  color: white;
  padding: 0 5px;
}

#floorTextureBox > div:nth-child(2) {
  border: 1px solid #b3bcc2;
  background-image: url('/images/partner/interior/modeling/floor1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#floorTextureBox > div:nth-child(3) {
  background-image: url('/images/partner/interior/modeling/floor2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#floorTextureBox > div:nth-child(4) {
  background-image: url('/images/partner/interior/modeling/floor3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#floorTextureBox > div:nth-child(5) {
  background-image: url('/images/partner/interior/modeling/floor4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#floorTextureBox > div:nth-child(6) {
  background-image: url('/images/partner/interior/modeling/floor5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#wallTextureBox > div:nth-child(2) {
  border: 1px solid #b3bcc2;
  background-image: url('/images/partner/interior/modeling/wall1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#wallTextureBox > div:nth-child(3) {
  background-image: url('/images/partner/interior/modeling/wall2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#wallTextureBox > div:nth-child(4) {
  background-image: url('/images/partner/interior/modeling/wall3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#wallTextureBox > div:nth-child(5) {
  background-image: url('/images/partner/interior/modeling/wall4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#wallTextureBox > div:nth-child(6) {
  background-image: url('/images/partner/interior/modeling/wall5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



/* 모델링 배경색깔 바꾸기 */
#modelingContainer {
  display: flex;
}

#backgroundColorBox {
  width: 100px;
  border-radius: 20px;
  border: 2px solid #b3bcc2;
  background-color: #f7f7f7;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#backgroundColorBox > div {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
  cursor: pointer;
}

#backgroundColorBox > div:nth-child(1) {
  background: linear-gradient(#E4F5FF, #FFECD6);
  border: 1px solid #b3bcc2;
}

#backgroundColorBox > div:nth-child(2) {
  background: linear-gradient(#FFE4EB, #D6FFF8);
}

#backgroundColorBox > div:nth-child(3) {
  background: linear-gradient(#E4FFED, #F2D6FF);
}

#backgroundColorBox > div:nth-child(4) {
  background: linear-gradient(#FFF0E4, #FFD6D6);
}

#backgroundColorBox > div:nth-child(5) {
  background: linear-gradient(#FFFFFF, #C9C9C9);
}

.sqare {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.1s ease; /* 투명도 전환 효과 */
}

.sqare.dragging {
  opacity: 0.2; /* 드래그 중일 때 투명도 조정 */
}

  
#open {
  background-color: var(--gray4);
  border: none;
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

#searchContainer {
  background-color: var(--gray1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  margin-left: 150px;
  width: 300px;
  height: 350px;
}

#searchContainer h3 {
  color: white;
}

#searchContainer > * {
  margin: 10px 0;

}
    