
#detail {
    display: flex;
    margin-top: 50px;
}



#productList > div:first-child {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

#productList > div:first-child select {
    font-family: 'main';
    height: 30px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}

#productList td {
    padding: 15px;
}

#productList table td {
    cursor: pointer;
    width: 280px;
}

#productList table td > div > a > div:first-child {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#productList table td > div > a > div:first-child > img {
    height: 300px;
    width: 250px;
}

#productList table td > div h4:hover {
    text-decoration: underline;
}

#productList table td > div > a > div:nth-child(3) {
    display: flex;
    margin-top: 8px;
}

.productPrice {
    font-weight: bold;
}

#productList table td > div > a > div:nth-child(4) {
    display: flex;
    margin-top: 8px;
}

.productPrice {
    font-weight: bold;
}