#detail {
    display: flex;
    margin-top: 50px;
}



#productList > div:first-child {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

#productList > div:first-child select {
    font-family: 'main';
    height: 30px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}

#productList td {
    padding: 15px;
}