

main {
    width: 1440px;
    height: auto;
    color: var(--gray1);
    margin: 100px 0;
}

main h1 {
    margin-bottom: 40px;
    color: var(--secondary);
}

/* 결과 전체 박스 */
.resultBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    border: 2px solid var(--gray4);
    border-radius: 5px;
}

/* 결과 제목 */
.resultTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 0 60px 0;
}




/* 아이디 내역 */
.findIdDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    margin-bottom: 60px;
    background-color: #ECECEC;
    border-radius: 5px;
}

.findIdDiv h3 {
    font-size: 16px;
    color: black;
    font-weight: 700;
}


/* 비밀번호 찾기로? */
.findPwMove {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    margin-bottom: 24px;
}

.findPwMove h4 {
    font-size: 12px;
}

.findPwMove a {
    margin-left: 5px;
    color: var(--secondary);
    font-weight: 700;
}


#goToLoginBtn {
    background-color: var(--gray1);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-color: transparent;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    height: 50px;
    will-change: transform;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    
    /* 폰트 */
    font-family: 'main';
    word-wrap: break-word;
    text-align: center; 
    color: var(--white); 
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}

#goToLoginBtn:hover {
    left: 0px; 
    top: 0px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px;
    transform: translateY(-2px);
    

    /* 폰트 */
    font-family: 'main';
    color: var(--gray1);
    text-align: center;
    word-wrap: break-word;
    background-color: var(--white);
}

#goToLoginBtn:active {
    box-shadow: none;
    transform: translateY(0);
}