<div id="leftheaderContainer">
    <!--admin -->
    <div>
        <h2>A D M I N</h2>
    </div>

    <!-- 네비바 -->
    <div>
        <a href="/manager/member/management"><h3>회원관리</h3></a>
        <a href="/manager/partner/management"><h3>파트너관리</h3></a>
        <a href="/manager/partnerPass"><h3>가입 승인 관리</h3></a>
        <a href="#"><h3>주문 내역</h3></a>
        <a href="#"><h3>1:1 문의</h3></a>
        <a href="#"><h3>신고 내역</h3></a>
        <a href="#"><h3>개발 노트</h3></a>
        <a href="#"><h3>공지사항</h3></a>
    </div>

</div>