<div class="portListMainContainer hidden" th:each="chunk, iterStat : ${houseBoardChunks}" th:classappend="${iterStat.index == 0} ? '' : 'hidden'">
    <th:block th:each="board : ${chunk}">
        <div class="portListContainer fade" th:onclick="|location.href='@{/myHouse/detail/{boardNo}(boardNo=${board.boardNo})}'|">
            <img th:src="@{|${board.thumbnail}|}" alt="Portfolio Image">
            <div class="overlay">
                <h1 th:text="${board.boardTitle}">Title</h1>
                <h4 class="portDate" th:text="${board.memberNickname}">User</h4>
            </div>
        </div>
    </th:block>
</div>