<div class="boardAdContainer">
    <th:block th:each="chunk, iterStat : ${boardChunks}">
        <div class="portListMainContainer hidden">
            <th:block th:each="board : ${chunk}">
                <div class="portListContainer fade" th:onclick="|location.href='@{/myHouse/detail/{boardNo}(boardNo=${board.boardNo})}'|">
                    <img th:src="@{|${board.thumbnail}|}" alt="No Image">
                    <div class="overlay">
                        <h1 th:text="${board.boardTitle}">Title</h1>
                        <h4 class="portDate" th:text="${board.memberNickname}">User</h4>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</div>