
<div class="tipBoardMainContainer" th:each="chunk, iterStat : ${tipBoardChunks}" th:classappend="${iterStat.index == 0} ? '' : 'hidden'">
    <th:block th:each="board : ${chunk}">
        <div class="tipBoardContainer fade tipBoardItem" th:onclick="|location.href='@{/tip/detail/{boardNo}(boardNo=${board.boardNo})}'|">
            <div class="tipBoardImg">
                <img th:src="@{|${board.thumbnail}|}" alt="Portfolio Image" class="tipBoardImg" 
                th:attr="data-board-no=${board.boardNo}">
            </div>
            <div class="tipBoardUserInfoContainer">
                <div class="tipBoardTitle" th:text="${board.boardTitle}">제목</div>
                <div class="nameBox">
                    <img th:src="${board.profileImg}">
                    <div class="tipBoardUserName" th:text="${board.memberNickname}">닉네임</div>
                </div>
                <div class="tipBoardLikeContainer">
                    <i class="fa-solid fa-heart" style="color: red;"></i>
                    <h3 th:text="${board.likeCount}">10</h3>
                </div>
                <div class="tipBoardContent" th:text="${board.boardContent}">내용</div>
                <input type="hidden" name="boardNo" value="${board.boardNo}">
            </div>
        </div>
    </th:block>
</div>