<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Example</title>
    <link rel="stylesheet" href="/css/common/fragments/board/reportModal.css">
</head>
<body>
    
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>신고하기</h2>
            <p>* 아래 중 해당하는 항목을 선택하여 주세요.<br>* 허위신고일 경우, 신고자의 서비스 활동이 제한될 수 있습니다.</p>
            <form>
                <fieldset>
                    <legend>신고사유</legend>
                    <label><input type="radio" name="reason" value="홍보성 게시물"> 홍보성 게시물</label><br>
                    <label><input type="radio" name="reason" value="음란성 게시물"> 음란성 게시물</label><br>
                    <label><input type="radio" name="reason" value="욕설/부적절한 언어"> 욕설/부적절한 언어</label><br>
                    <label><input type="radio" name="reason" value="회원 분란 유도"> 회원 분란 유도</label><br>
                    <label><input type="radio" name="reason" value="도배성 게시물"> 도배성 게시물</label><br>
                    <label><input type="radio" name="reason" value="정치/종교 등 부적절한 논쟁"> 정치/종교 등 부적절한 논쟁</label><br>
                    <label><input type="radio" name="reason" value="명예훼손/저작권 침해"> 명예훼손/저작권 침해</label><br>
                    <label><input type="radio" name="reason" value="개인정보/사생활 침해"> 개인정보/사생활 침해</label>
                </fieldset>
                <button type="button" id="confirmButton">확인</button>
                <button type="button" id="cancelButton">취소</button>
            </form>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>