<div id="reportModal" class="reportModal" style="display: none;">
  <div class="modal-content">
    <div class="top-area">
      <h2>신고하기</h2>
      <span class="close-button">&times;</span>
    </div>
    <div class="mid-area">
      <div>
  * 아래 중 해당하는 항목을 선택하여 주세요.
  * 허위신고일 경우, 신고자의 서비스 활동이 제한될 수 있습니다.
      </div>
    </div>
    <form>
        <div class="reportDetail">
            <div>신고사유</div>
            <div>
              <label><input type="radio" name="reason" value="홍보성 게시물"> 홍보성 게시물</label><br>
              <label><input type="radio" name="reason" value="음란성 게시물"> 음란성 게시물</label><br>
              <label><input type="radio" name="reason" value="욕설/부적절한 언어"> 욕설/부적절한 언어</label><br>
              <label><input type="radio" name="reason" value="회원 분란 유도"> 회원 분란 유도</label><br>
              <label><input type="radio" name="reason" value="도배성 게시물"> 도배성 게시물</label><br>
              <label><input type="radio" name="reason" value="정치/종교 등 부적절한 논쟁"> 정치/종교 등 부적절한 논쟁</label><br>
              <label><input type="radio" name="reason" value="명예훼손/저작권 침해"> 명예훼손/저작권 침해</label><br>
              <label><input type="radio" name="reason" value="개인정보/사생활 침해"> 개인정보/사생활 침해</label>
            </div>
        </div>

        <div class="btn-area">
          <button type="modalButton" id="confirmButton" class="myPageConfirmCancelBtn">확인</button>
          <button type="modalButton" id="cancelButton" class="myPageConfirmCancelBtn">취소</button>
        </div>
    </form>
  </div>
</div>