<section class="categoryNav" id="categoryNav" >
    
    <!-- <div class="boardMainBtn" id="toMyHouseBoard">집들이</div>
    <div class="boardMainBtn" id="toTipBoard">노하우</div> -->

    <div class="btnBox">
        <a class="boardMainBtn" href="/board/main">
            메인
        </a>
        <a class="boardMainBtn" href="/myHouse/main?boardCode=1&sort=latest">
            집들이
        </a>
        <a class="boardMainBtn" href="/tip/main?boardCode=2">
            노하우
        </a>
    </div>

</section>