<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 비밀번호 찾기</title>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/findPw.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/74d1671a70.js" crossorigin="anonymous"></script>


</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>
        <section>
            <header>
                <div><a onclick="window.history.back();"><i class="fa-solid fa-chevron-left" style="color: var(--gray1);"></a></i></div>
                <div><h3>비밀번호 찾기</h3></div>

                <!-- 빈공간 -->
                <div></div>
            </header>

            <!-- 컨텐츠 -->
            <form id="findPwForm" action="#">
                <div class="content">
                    <!-- ID 입력 영역 -->
                    <div class="inputIdDiv">
                        <div class="inputInfoDiv">
                            <h4>비밀번호를 찾으시려는 아이디를 입력하세요.</h4>
                        </div>
                        <div>
                            <div>
                                <input id="inputId" placeholder="아이디" name="inputId" maxlength="20">
                            </div>
                        </div>
                    </div>

                    <!-- 휴대폰 -->
                    <div class="telDiv">
                        <div id="telHiddenDiv" class="authArea hidden">
                            <input id="inputTel" type="tel" placeholder="전화번호(-없이)" name="inputTel" maxlength="11">
                            <button type="button" id="telAuthBtn" >인증 요청</button>
                        </div>
                        <span id="telMsg" class="msgSpan"></span>
                        <div id="telAuthHidden" class="authArea hidden">
                            <input id="telAuthInput" type="tel" placeholder="인증번호(숫자 6자리)" name="smsAuthKey" maxlength="6">
                        </div>
                        <span id="telAuthMsg" class="msgSpan"></span>
                    </div>

                    <!-- 버튼 -->
                    <div class="btnDiv1">
                        <button type="button" id="nextBtn" class="nextBtn" disabled>다음</button>
                    </div>

                    <div id="findPwBtnDiv" class="btnDiv2 hidden">
                        <button id="findPwBtn" class="findPwBtn">비밀번호 찾기</button>
                    </div>

                    <div class="findPwMoveDiv">
                        <a href="/member/findId"><i class="fa-solid fa-angle-left"></i> 아이디 찾기</i></a>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <th:block th:replace="~{common/fragments/footer}"></th:block>
    <script src="/js/common/findPw.js"></script>



</body>
</html>