<footer class="footer">

    <section>
        <div class="footer-nav">
            <a href="#">회사소개</a>
            <a href="#">이용 가이드</a>
            <a href="#">멤버 가입</a>
        </div>
        <div class="footer-nav">
            <a href="#">가구</a>
            <a href="#">가전/디지털</a>
            <a href="#">주방용품</a>
            <a href="#">데코/식물</a>
            <a href="#">수납/정리</a>
            <a href="#">생활용품</a>
        </div>
        <div class="footer-nav">
            <a href="#">관리자와 1:1문의</a>
        </div>
        <div class="footer-nav">
            <a href="#">포트폴리오</a>
            <a href="#">라이브 커머스</a>
            <a href="#">내 방꾸미기</a>
        </div>

        <div class="sns-nav">
            <a href="#"><img class="sns-logo" src="/images/fragments/cafe.png"></a>
            <a href="#"><img class="sns-logo" src="/images/fragments/insta.png"></a>
            <a href="#"><img class="sns-logo" src="/images/fragments/x.png" style="width: 17px; height: 17px;"></a>
            <a href="#"><img class="sns-logo" src="/images/fragments/youtube.png" style="height: 15px;"></a>
        </div>
    </section>
    <section>
        <div class="footer-left">
            법인명(상호) : ㉿뚝딱뚝딱 (주) 대표자(성명) : 오에스조 주소 : 서울특별시 종로구 남대문로 120 그레이츠 청계 3층 E동 강의실<br>
            사업자 등록번호 : 123456436-390583784  사업자등록번호 : 119-86-84860 (사업자정보확인)<br>
            고객센터 이용시간 : 평일 09:00 ~ 18:00  고객센터 전화번호 : 02-1234-1234
        </div>
    
        <div class="footer-right">
            현금 등으로 결제 시 안전 거래를 위해<br>
            당사에서 가입하신 한국결제네트웍스 유한회사의 구매안전 서비스(결제대금예치)를 이용하실 수 있습니다.<br>
            결제대금예치 콘텐츠산업진흥법에 의한 콘텐츠 보호 안내 자세히 보기
        </div>
    </section>

</footer>
<script th:inline="javascript">
	const message = /*[[${message}]]*/ "전달받은메세지";
	
	if(message != null){
		alert(message);
	}
</script>