<header>
    <!-- 로고 -->
    <div>
        <img onclick="location.href='/';" src="/images/main/main-logo.png" style="height: 50px;">
    </div>

    <!-- 네비바 -->
    <div>

        <a href="/eCommerce/main"><h4>쇼핑</h4></a>
        <a href="#"><h4>커뮤니티</h4></a>
        <a href="/partner/interiorList"><h4>시공사 모아보기</h4></a>
        <a href="#"><h4>라이브 커머스</h4></a>
        <a href="/partner/interior/modeling/main"><h4>방 디자인</h4></a>

    </div>

    <!-- 로그인/회원가입 -->
    <div>
        <a href="/member/login"><h4>로그인</h4></a>
        <a href="/signup"><h4>회원가입</h4></a>
    </div>
</header>