<header>
    <!-- 로고 -->
    <div>
        <img onclick="location.href='/';" src="/images/main/main-logo.png" style="height: 50px;">
    </div>

    <!-- 네비바 -->
    <div>
        <a href="/eCommerce/main"><h4 style="font-weight: bold;">쇼핑</h4></a>
        <a href="#"><h4 style="font-weight: bold;">커뮤니티</h4></a>
        <a href="/partner/interiorList"><h4 style="font-weight: bold;">시공사 모아보기</h4></a>
        <a href="#"><h4 style="font-weight: bold;">라이브 커머스</h4></a>
        <a href="#"><h4 style="font-weight: bold;">방 디자인</h4></a>
    </div>

    <!-- 로그인/회원가입 -->
    <div>
        <a href="#"><h4>로그인</h4></a>
        <a href="#"><h4>회원가입</h4></a>
    </div>
</header>