<div class="portListMainContainer">
    <div class="portListContainer fade">
        <img src="/images/partner/interior/portfolio/portfolio_ex1_main.jpg" alt="Portfolio Image 1">
        <div class="overlay">
            <h2>서초구 M&C</h2>
            <h4>깔끔한 회색톤의 모던 시공</h4>
            <h4 class="portDate">2024-01-16</h4>
        </div>
    </div>
    <div class="portListContainer fade">
        <img src="/images/partner/interior/portfolio/portfolio_ex2_main.jpg" alt="Portfolio Image 2">
        <div class="overlay">
            <h2>5MINLAB</h2>
            <h4>따뜻한 톤의 회의실</h4>
            <h4 class="portDate">2024-01-16</h4>
        </div>
    </div>
    <div class="portListContainer fade">
        <img src="/images/partner/interior/portfolio/portfolio_ex3_main.jpg" alt="Portfolio Image 3">
        <div class="overlay">
            <h2>LUYWORK</h2>
            <h4>안락하게 쉴 수 있는 공간</h4>
            <h4 class="portDate">2024-01-16</h4>
        </div>
    </div>
</div>

<div class="portListMainContainer">
    <div class="portListContainer fade">
        <img src="/images/partner/interior/portfolio/portfolio_ex4_main.jpg" alt="Portfolio Image 4">
        <div class="overlay">
            <h2>비스타릿</h2>
            <h4>따뜻한 우드톤의 탕비실</h4>
            <h4 class="portDate">2024-01-16</h4>
        </div>
    </div>
    <div class="portListContainer fade">
        <img src="/images/partner/interior/portfolio/portfolio_ex5_main.jpg" alt="Portfolio Image 5">
        <div class="overlay">
            <h2>IZEX</h2>
            <h4>깔끔한 회색톤의 모던 시공</h4>
            <h4 class="portDate">2024-01-16</h4>
        </div>
    </div>
    <div class="portListContainer fade">
        <img src="/images/partner/interior/portfolio/portfolio_ex6_1.jpg" alt="Portfolio Image 6">
        <div class="overlay">
            <h2>ACE PLANET</h2>
            <h4>탁 트인 흰색 시공</h4>
            <h4 class="portDate">2024-01-16</h4>
        </div>
    </div>
</div>
