<section class="myPage-row1">
    <div>
        <img class="profile-image">
        <table class="profile-content">
            <tr>
                <td>닉네임</td>
                <td>Squid</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>squid@gmail.com</td>
            </tr>
            <tr>
                <td>가입일</td>
                <td>2024.05.27</td>
            </tr>
            <tr>
                <td>휴대전화</td>
                <td>010-1234-1234</td>
            </tr>
        </table>
    </div>
    <div>
        <div class="title">마이페이지</div>
        <div class="quick-view">
            <a class="nav-content" href="/myPage"><i class="fa-solid fa-receipt" style="margin-right: 5px;"></i>주문내역</a>
            <a class="nav-content" href="#"><i class="fa-regular fa-comments" style="margin-right: 5px;"></i>1:1문의</a>
            <a class="nav-content" href="#"><i class="fa-solid fa-coins" style="margin-right: 5px;"></i>포인트</a>
        </div>
    </div>
</section>