<section class="side-bar">
    <div class="menu">
        <img class="side-bar-logo" src="/images/main/main-logo-white.png">
    </div>
    <div class="menu">
        <h2>쇼핑</h2>
        <a class="nav-content" href="/myPage">주문내역</a>
        <a class="nav-content" href="/myPage/wishList">위시리스트</a>
        <a class="nav-content" href="/myPage/cart">장바구니</a>
    </div>
    <div class="menu">
        <h2>커뮤니티</h2>
        <a class="nav-content" href="/myPage/myPageHouseBoard">내 집들이</a>
        <a class="nav-content" href="/myPage/myPageTipBoard">내 노하우</a>
        <a class="nav-content" href="/myPage/myLikes">좋아요한 게시글</a>
    </div>
    <div class="menu">
        <h2>시공사</h2>
        <a class="nav-content" href="/myPage/chatWithInter">시공사와의 채팅</a>
    </div>
</section>