<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 판매사</title>

    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/partner/seller/qna/qna.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <th:block th:replace="~{partner/seller/common/header}"></th:block>


    <div id="qnaContainer">
        <div id="qnaTitle">
            <h1>문의내역</h1>
        </div>
    
    
    
    
    
        <div>
            <!-- 상품목록 -->
         <div id="productList">
            <table>
                <thead style="height: 40px;">
                    <td>문의번호</td>
                    <td>문의제목</td>
                    <td>회원아이디</td>
                    <td>문의날짜</td>
                    <td>답변여부</td>
                </thead>

                <tr class="borderTr" th:each="qna : ${qnaList}">
                    <td th:text="${qna.qnaNo}">문의번호</td>
                    <td th:text="${qna.qnaTitle}">문의제목</td>
                    <td th:text="${qna.memberId}">회원아이디</td>
                    <td th:text="${qna.qnaWriteDate}">문의날짜</td>
                    <td>
                        <div class="statusBox">
                            <h5 style="margin-right: 5px;">●</h5>
                            <h4 class="answerStatus" th:text="${qna.qnaAnswerStatus}">답변상태</h4>
                        </div>
                    </td>
                    <input type="hidden" th:value="${qna.qnaContent}">
                    <input type="hidden" th:value="${qna.qnaAnswer}">
                </tr>
                
                
            </table>
        </div>

        <!-- 페이지네이션 -->
         <th:block th:if="${qnaList.size()>0}">
            <div>
                <ul class="pagination" th:object="${pagination}">
                    <li><a th:href="@{/partner/seller/qna?cp=1}">&lt;&lt;</a></li>
    
                    <li><a th:href="|/partner/seller/qna?cp=*{prevPage}|">&lt;</a></li>
    
                    <th:block th:if="*{startPage lt endPage}" th:each="i : *{#numbers.sequence(startPage, endPage)}">
                            
                            <li th:if="${i} == *{currentPage}">
                                <a class="current" th:text="${i}">현재페이지</a>
                            </li>
                            
                            <li th:unless="${i} == *{currentPage}">
                                <a th:href="|/partner/seller/qna?cp=${i}|"
                                    th:text="${i}">이동할 페이지</a>
                            </li>
                        </th:block>
                        
    
                        <th:block th:unless="*{startPage lt endPage}">
                            <li>
                                <a class="current">1</a>
                            </li>
                        </th:block>
    
                    <li><a th:href="|/partner/seller/qna?cp=*{nextPage}|">&gt;</a></li>
    
                    <li><a th:href="|/partner/seller/qna?cp=*{maxPage}|">&gt;&gt;</a></li>
                </ul>
            </div>
         </th:block>
    
    </div>


    <!-- 모달창 -->
    <div class="modal">
        <div id="closeButton">X</div>

        <div>
            <h2>문의정보</h2>
        </div>

        <div>
            <table>
                <tr>
                    <td>문의번호</td>
                    <td>문의제목</td>
                    <td>회원아이디</td>
                    <td>문의날짜</td>
                    <td>답변상태</td>
                </tr>
    
                <tr>
                    <td id="orderNo"></td>
                    <td id="userId"></td>
                    <td id="productName"></td>
                    <td id="option"></td>
                    <td id="qnaDate"></td>
                </tr>
            </table>

        </div>


        <h3>[문의내용]</h3>

        <div id="qnaContent">
            배송 언제오나요?
        </div>

        <h3>[문의답변]</h3>

        <textarea id="textarea"></textarea>

        <div id="buttonContainer">
            <button id="apply">수정/등록</button>
        </div>

            
    </div>

    
    <script src="/js/partner/seller/qna/qna.js"></script>
</body>
</html>