<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddukddak.board.model.mapper.BoardMainMapper">
	
	<select id="selectBoardTypeList">
		SELECT BOARD_CODE AS "boardCode", BOARD_NAME AS "boardName" 
		FROM "BOARD_TYPE"
		ORDER BY BOARD_CODE
	</select>
	
	<select id="selectBoardMainAd">
		SELECT UPLOAD_IMG_PATH, UPLOAD_IMG_OG_NAME, UPLOAD_IMG_RENAME, UPLOAD_IMG_ORDER, CATEGORY
		FROM UPLOAD_FILE
		WHERE CATEGORY = 5
		ORDER BY UPLOAD_IMG_ORDER
	</select>
	
	<select id="selectBoard">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, READ_COUNT, MEMBER_NO, MEMBER_ID, MEMBER_NICKNAME, UPLOAD_IMG_PATH || UPLOAD_IMG_RENAME AS THUMBNAIL, BOARD_CODE
		FROM COMMUNITY 
		JOIN MEMBER USING(MEMBER_NO) 
		JOIN UPLOAD_FILE USING(BOARD_NO) 
		WHERE UPLOAD_IMG_ORDER = 0 AND MEMBER_DEL_FL = 'N'
		ORDER BY BOARD_WRITE_DATE DESC
	</select>
	
</mapper>
