<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddukddak.board.model.mapper.BoardMainMapper">
	
	<select id="selectBoardTypeList">
		SELECT BOARD_CODE AS "boardCode", BOARD_NAME AS "boardName" 
		FROM "BOARD_TYPE"
		ORDER BY BOARD_CODE
	</select>
	
	<select id="selectBoardMainAd">
		SELECT UPLOAD_IMG_PATH, UPLOAD_IMG_OG_NAME, UPLOAD_IMG_RENAME, UPLOAD_IMG_ORDER, CATEGORY
		FROM UPLOAD_FILE
		WHERE CATEGORY = 5
		ORDER BY UPLOAD_IMG_ORDER
	</select>
	
	<select id="selectBoard">
				SELECT C.BOARD_NO, 
		       C.BOARD_TITLE, 
		       C.BOARD_CONTENT, 
		       C.READ_COUNT, 
		       M.MEMBER_NO, 
		       M.MEMBER_ID, 
		       M.MEMBER_NICKNAME, 
		       U.UPLOAD_IMG_PATH || U.UPLOAD_IMG_RENAME AS THUMBNAIL, 
		       C.BOARD_CODE, 
		       (SELECT COUNT(*) 
		          FROM BOARD_LIKE L 
		         WHERE L.BOARD_NO = C.BOARD_NO) AS LIKE_COUNT 
		  FROM COMMUNITY C
		  JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO 
		  LEFT JOIN UPLOAD_FILE U ON C.BOARD_NO = U.BOARD_NO AND U.UPLOAD_IMG_ORDER = 0 
		 WHERE C.BOARD_DEL_FL = 'N' 
		   AND M.MEMBER_DEL_FL = 'N' 
		 ORDER BY C.BOARD_WRITE_DATE DESC
	</select>
	
	<!-- 좋아요 해제 -->
	<delete id="deleteBoardLike">
		DELETE FROM "BOARD_LIKE"
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_NO = #{boardNo}
	</delete>
	
	<!-- 좋아요 체크 -->
	<insert id="insertBoardLike">
		INSERT INTO "BOARD_LIKE" (MEMBER_NO, BOARD_NO)
		VALUES (#{memberNo}, #{boardNo})
	</insert>
	
	<!-- 게시글 좋아요 수 조회 -->
	<select id="selectLikeCount">
		SELECT COUNT(*) FROM "BOARD_LIKE"
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 신고 등록 -->
	<insert id="insertReport">
		INSERT INTO "REPORT" 
		VALUES (SEQ_REPORT_NO.NEXTVAL,
				#{reportedMemberNo},
				#{reportReason},
				DEFAULT,
				#{memberNo},
				#{boardNo})
	</insert>
	
</mapper>
