<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddukddak.partner.model.mapper.InteriorMapper">
	
	<resultMap type="Portfolio" id="portfolio_rm">
	
		<!-- id 태그 : PK 역할을 하는 컬럼, 필드를 작성하는 태그 -->
		<id property="portfolioNo" column="PORTFOLIO_NO"/>
		
		<!-- 
			<< collection 태그 >>
			select로 조회된 결과를 컬렉션(List)에 담아
			지정된 필드에 세팅
			
			property : List를 담을 DTO의 필드명
			select : 실행할 select의 id
			column : 조회 결과 중 지정된 컬럼의 값을 파라미터로 전달
			javaType : List(컬렉션)의 타입을 지정
			ofType : List(컬렉션)의 제네릭(타입 제한) 지정
		-->
		
					
		<!-- 해당 포트폴리오 프로젝트 조회 후 필드에 저장 -->
		<collection property="projectList" 
					select="selectProjectList"
					column="PORTFOLIO_NO"
					javaType="java.util.ArrayList"
					ofType="Project"/>

	</resultMap>

	<resultMap type="Project" id="project_rm">
	
		<!-- id 태그 : PK 역할을 하는 컬럼, 필드를 작성하는 태그 -->
		<id property="projectNo" column="PROJECT_NO"/>
		
		
		<!-- 
			<< collection 태그 >>
			select로 조회된 결과를 컬렉션(List)에 담아
			지정된 필드에 세팅
			
			property : List를 담을 DTO의 필드명
			select : 실행할 select의 id
			column : 조회 결과 중 지정된 컬럼의 값을 파라미터로 전달
			javaType : List(컬렉션)의 타입을 지정
			ofType : List(컬렉션)의 제네릭(타입 제한) 지정
		-->
		
					
		<!-- 해당 포트폴리오 프로젝트 조회 후 필드에 저장 -->
		<collection property="imgList" 
					select="selectImageList"
					column="PROJECT_NO"
					javaType="java.util.ArrayList"
					ofType="ProjectImg"/>

	</resultMap>


	<!-- 시공사 개수 조회 -->
	<select id="getInteriorListCount">
		SELECT COUNT(*) FROM "PARTNER" 
		WHERE PARTNER_TYPE = 1
		AND PARTNER_DEL_FL = 'N'
	</select>
	
	<!-- 검색 시공사 개수 조회 -->
	<select id="getSearchCount">
		SELECT COUNT(*) FROM "PARTNER"
		WHERE PARTNER_TYPE = 1
		AND(PARTNER_BUSINESS_NAME LIKE '%' || UPPER( #{query} ) || '%' OR PARTNER_BUSINESS_NAME LIKE '%' || LOWER ( #{query} ) || '%' )
		AND PARTNER_DEL_FL = 'N'
	</select>
	
	<!-- 시공사 리스트 조회 -->
	<select id="selectIneriorList">
		SELECT PARTNER_NO, PARTNER_TEL, PARTNER_BUSINESS_NAME, PORTFOLIO_NO, HOME_LINK, PORTFOLIO_NO
		FROM PARTNER 
		LEFT JOIN PORTFOLIO USING (PARTNER_NO)
		WHERE PARTNER_TYPE = 1
		AND PARTNER_DEL_FL = 'N'
	</select>
	
	<!-- 검색 시공사 리스트 조회 -->
	<select id="searchInteriorList">
		SELECT PARTNER_NO, PARTNER_TEL, PARTNER_BUSINESS_NAME, PORTFOLIO_NO, HOME_LINK, PORTFOLIO_NO
		FROM PARTNER 
		LEFT JOIN PORTFOLIO USING (PARTNER_NO)
		WHERE PARTNER_TYPE = 1
		AND PARTNER_DEL_FL = 'N'
		AND (PARTNER_BUSINESS_NAME LIKE '%' || LOWER( #{query} ) || '%' OR PARTNER_BUSINESS_NAME LIKE '%' || UPPER ( #{query} ) || '%')
	</select>
	
	<!-- 포트폴리오 조회 -->
	
    <select id="selectPortfolio" parameterType="int" resultMap ="portfolio_rm">
        SELECT PORTFOLIO_NO, PORTFOLIO_DETAIL, HOME_LINK, PROFILE_IMG, PARTNER_BUSINESS_NAME
        FROM "PORTFOLIO" 
        JOIN "PARTNER" USING (PARTNER_NO)
        WHERE PARTNER_NO = #{partnerNo}
    </select>
    
    
    
    <!-- 메인프로젝트 조회 -->
     
    <select id="selectMainProject" resultMap="project_rm">
    	SELECT PARTNER_NO, PARTNER_TEL, PARTNER_BUSINESS_NAME, PORTFOLIO_NO, PROJECT_NAME, HOME_LINK, 
		PORTFOLIO_DETAIL, HOUSING_TYPE, WORK_FORM, WORK_AREA, PROFILE_IMG, PROJECT_NO, 	
		CONSTRUCTION_COST, REGION, CONSTRUCTION_YEAR, FAMILY_SIZE, PROJECT_CONTENT, MAIN_PROJECT_FL 
		FROM PARTNER 
		NATURAL JOIN PORTFOLIO 
		NATURAL JOIN PROJECT_INFO 
		NATURAL JOIN PROJECT
		WHERE PARTNER_TYPE = 1 
		AND MAIN_PROJECT_FL = 'Y'
		AND PROJECT_DEL_FL = 'N'
		AND PORTFOLIO_NO = #{portfolioNo}
    </select>
    
    
    <!-- 포트폴리오에 포함된 프로젝트 리스트 조회 -->
    <select id="selectProjectList" resultType="Project">
    	SELECT PARTNER_NO, PARTNER_TEL, PARTNER_BUSINESS_NAME, PORTFOLIO_NO, PROJECT_NAME, HOME_LINK, 
		PORTFOLIO_DETAIL, HOUSING_TYPE, WORK_FORM, WORK_AREA, PROFILE_IMG, PROJECT_NO,	
		CONSTRUCTION_COST, REGION, CONSTRUCTION_YEAR, FAMILY_SIZE, PROJECT_CONTENT, MAIN_PROJECT_FL 
		FROM PARTNER 
		NATURAL JOIN PORTFOLIO 
		NATURAL JOIN PROJECT_INFO 
		NATURAL JOIN PROJECT
		WHERE PARTNER_TYPE = 1
		AND PROJECT_DEL_FL = 'N'
		AND PORTFOLIO_NO = #{portfolioNo}
		ORDER BY CONSTRUCTION_YEAR DESC
    </select>

    <!-- 프로젝트 상세 조회 -->
    <select id="selectProject" resultMap="project_rm">
    <!-- 
    	SELECT PROJECT_NO, PROJECT_NAME, PORTFOLIO_NO, HOUSING_TYPE, WORK_FORM, WORK_AREA, CONSTRUCTION_COST,
    		   REGION, CONSTRUCTION_YEAR, FAMILY_SIZE, MAIN_PROJECT_FL, PROJECT_CONTENT, HOME_LINK
    	FROM "PROJECT"
    	NATURAL JOIN "PROJECT_INFO"
    	NATURAL JOIN "PORTFOLIO"
    	WHERE PROJECT_NO = #{projectNo}
     -->
     	SELECT PARTNER_NO, PARTNER_TEL, PARTNER_BUSINESS_NAME, PORTFOLIO_NO, PROJECT_NAME, HOME_LINK, 
		PORTFOLIO_DETAIL, HOUSING_TYPE, WORK_FORM, WORK_AREA, PROFILE_IMG, PROJECT_NO,
		CONSTRUCTION_COST, REGION, CONSTRUCTION_YEAR, FAMILY_SIZE, PROJECT_CONTENT, MAIN_PROJECT_FL 
		FROM PROJECT 
		NATURAL JOIN PORTFOLIO 
		NATURAL JOIN PROJECT_INFO 
		NATURAL JOIN PARTNER
		WHERE PROJECT_NO = #{projectNo}
		AND PROJECT_DEL_FL = 'N'
     
    </select>

    <!-- 상세조회한 게시글의 이미지 리스트 조회 -->
	<select id="selectImageList" resultType="ProjectImg">
		SELECT * FROM "UPLOAD_FILE" 
		WHERE PROJECT_NO = #{projectNo}
		ORDER BY UPLOAD_IMG_ORDER
	</select>
	
    
	
	
	<!-- 포트폴리오 데이터 -->
	<!-- 
	<select id="selectPortfolio2">
		SELECT * FROM "PORTFOLIO" WHERE PARTNER_NO = #{partnerNo}
	</select>
	-->
	
	<!-- 포트폴리오 프로젝트 등록 -->
	<insert id="projectInsert" useGeneratedKeys="true" parameterType="Project">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="projectNo">
			SELECT SEQ_PROJECT_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "PROJECT"
		VALUES (#{projectNo},
				#{projectName},
				#{portfolioNo},
				DEFAULT
				)
		
	</insert>
	
	
	<!-- 프로젝트 세부사항 등록 -->
	<insert id="projectInfoInsert">
		INSERT INTO "PROJECT_INFO"
		VALUES (SEQ_PROJECT_INFO_NO.NEXTVAL,
				#{housingType},
				#{workForm},
				#{workArea},
				#{constructionCost},
				#{region},
				#{constructionYear},
				#{familySize},
				DEFAULT,
				#{projectNo},
				#{projectContent})
	</insert>
	
	
	<!-- 프로젝트 이미지 삽입 -->
	<insert id="insertUploadList" parameterType="list">
		INSERT INTO "UPLOAD_FILE"
		
		<foreach collection="list" item="img" open="(" close=")" separator=" UNION ">
			SELECT NEXT_UPLOAD_IMG_NO(),
					   #{img.uploadImgPath},
					   #{img.uploadImgOgName},
					   #{img.uploadImgRename},
					   #{img.uploadImgOrder},
					   2,
					   NULL,
					   NULL,
					   NULL,
					   #{img.projectNo}
			  	FROM DUAL
		</foreach>
		
	</insert>
	
	<!-- 프로젝트 내용 수정 -->
	<update id="updateProject">
		UPDATE "PROJECT_INFO" SET
		HOUSING_TYPE = #{housingType},
		WORK_FORM = #{workForm},
		WORK_AREA = #{workArea},
		CONSTRUCTION_COST = #{constructionCost},
		REGION = #{region},
		CONSTRUCTION_YEAR = #{constructionYear},
		FAMILY_SIZE = #{familySize},
		PROJECT_CONTENT = #{projectContent}
		WHERE PROJECT_NO = #{projectNo}
	</update>
	
	<!-- 프로젝트 이미지 삭제 -->
	<!-- 
	<delete id="deleteImage">
		DELETE FROM "UPLOAD_FILE"
		WHERE UPLOAD_IMG_ORDER IN (${deleteOrder})
		AND PROJECT_NO = #{projectNo}
	</delete>
	 -->
	
	<!-- 프로젝트 이미지 수정 -->
	<update id="updateImage">
		UPDATE "UPLOAD_FILE" SET
		UPLOAD_IMG_OG_NAME = #{uploadImgOgName},
		UPLOAD_IMG_RENAME = #{uploadImgRename}
		WHERE PROJECT_NO = #{projectNo}
		AND UPLOAD_IMG_ORDER = #{uploadImgOrder}
	</update>
	
	<!-- 메인 프로젝트 해제 -->
	<update id="clearMainProject">
		UPDATE "PROJECT_INFO" SET MAIN_PROJECT_FL = 'N'
		WHERE PROJECT_NO = #{projectNo}
	</update>
	
	<!-- 메인 프로젝트 변경 -->
	<update id="registMainProject">
		UPDATE "PROJECT_INFO" SET MAIN_PROJECT_FL = 'Y'
		WHERE PROJECT_NO = #{projectNo}
	</update>
	
	
	<!-- 프로젝트 삭제 -->
	<update id="deleteProject">
		UPDATE "PROJECT" SET PROJECT_DEL_FL = 'Y' 
		WHERE PROJECT_NO = ${projectNo}
	</update>
	
	
	<!-- 시공사 프로필 변경 -->
	<update id="updateProfileImg">
		UPDATE "PARTNER" SET
		PROFILE_IMG = #{profileImg}
		WHERE PARTNER_NO = #{partnerNo}
	</update>
	
	
	<!-- 시공사 홈페이지 변경 -->
	<update id="updateHomeLink">
		UPDATE "PORTFOLIO" SET
		HOME_LINK = #{homeLink}
		WHERE PARTNER_NO = #{partnerNo}
	</update>
	
	
	<!-- 포트폴리오 생성 -->
	<insert id="insertPortfolio">
		INSERT INTO "PORTFOLIO" 
		VALUES (SEQ_PORTFOLIO_NO.NEXTVAL,
				NULL,
				NULL,
				#{partnerNo})
	</insert>
	
	
	<!-- 포트폴리오 번호 조회 -->
	<select id="selectPortfolioNo">
		SELECT PORTFOLIO_NO FROM "PORTFOLIO" WHERE PARTNER_NO = #{partnerNo}
	</select>
	
</mapper>






























