<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddukddak.member.model.mapper.MemberMapper">
	
	<!-- [메일] 이름, 이메일 일치 여부 확인 -->
	<select id="memberNMCheck">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_NAME = #{memberName} 
		AND MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
		AND SOCIAL_LOGIN_TYPE = 'D'
	</select>
	
	<!-- 아이디 찾기 결과(이메일) -->
	<select id="findIdByEmail">
		SELECT MEMBER_ID, TO_CHAR(ENROLL_DATE, 'YY"."MM"."DD') ENROLL_DATE
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NAME = #{memberName}
		AND MEMBER_DEL_FL = 'N'
		AND SOCIAL_LOGIN_TYPE = 'D'
	</select>
	
	<!-- 아이디 찾기 결과(휴대폰) -->
	<select id="findIdByTel">
		SELECT MEMBER_ID, TO_CHAR(ENROLL_DATE, 'YY"."MM"."DD') ENROLL_DATE
		FROM "MEMBER"
		WHERE MEMBER_Tel = #{memberTel}
		AND MEMBER_NAME = #{memberName}
		AND MEMBER_DEL_FL = 'N'
		AND SOCIAL_LOGIN_TYPE = 'D'
	</select>
	
	<!-- [SMS] 이름, 이메일 일치 여부 확인 -->
	<select id="memberNTCheck">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_NAME = #{memberName} 
		AND MEMBER_TEL = #{memberTel}
		AND MEMBER_DEL_FL = 'N'
		AND SOCIAL_LOGIN_TYPE = 'D'
	</select>
	
	<select id="login">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_EMAIL, MEMBER_PW, 
		MEMBER_NAME, MEMBER_NICKNAME, MEMBER_TEL, MEMBER_ADDR, 
		MEMBER_POINT, PROFILE_IMG, 
		TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') ENROLL_DATE, 
		MEMBER_DEL_FL, AUTHORITY, SOCIAL_LOGIN_TYPE 
		FROM "MEMBER"
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_DEL_FL = 'N'
		AND SOCIAL_LOGIN_TYPE = 'D'
	</select>

	<!-- 회원가입 - 아이디 중복 체크 -->
	<select id="checkId">
		SELECT COUNT(*)
		FROM (
		    SELECT MEMBER_ID
		    FROM "MEMBER"
		    WHERE MEMBER_ID = #{inputId}
		    AND MEMBER_DEL_FL = 'N'
		    
		    UNION ALL
		    
		    SELECT PARTNER_ID
		    FROM PARTNER
		    WHERE PARTNER_ID = #{inputId}
		    AND PARTNER_DEL_FL != 'Y'
		)
	</select>
	
	
	
	<!-- 회원가입 - 닉네임 중복 체크 -->
	<select id="checkNickname">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_NICKNAME = #{inputNickname}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	<!-- 회원가입 - 이메일 중복 체크 -->
	<select id="checkEmail">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{inputEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	<!-- 회원가입 - 휴대폰 중복 체크 -->
	<select id="checkTel">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_TEL = #{inputTel}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	<!-- [회원가입 제출] -->
	<insert id="signup">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO.NEXTVAL, 
			#{memberId}, 
			#{memberEmail}, 
			#{memberPw}, 
			#{memberName},
			#{memberNickname},
			#{memberTel}, 
			#{memberAddr},
			DEFAULT,
			DEFAULT, 
			DEFAULT, 
			DEFAULT, 
			DEFAULT, 
			DEFAULT)
	</insert>
	
</mapper>
