<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddukddak.myPage.model.mapper.myBoardMapper">
	
	<!-- 내가 쓴 집들이 게시글들 불러오기 -->
	<select id="selectMyHouseBoardList">
		SELECT BOARD_NO, BOARD_TITLE, 
		TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD') BOARD_WRITE_DATE, 
		TO_CHAR(BOARD_UPDATE_DATE, 'YYYY-MM-DD') BOARD_UPDATE_DATE, 
		READ_COUNT, 
		(SELECT UPLOAD_IMG_PATH || UPLOAD_IMG_RENAME FROM UPLOAD_FILE U WHERE U.BOARD_NO = C.BOARD_NO AND UPLOAD_IMG_ORDER=0) THUMBNAIL
		FROM "COMMUNITY" C
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_CODE = 1
	</select>
	
	
	
	<!-- 내가 쓴 노하우 게시글들 불러오기 -->
	<select id="selectMyTipBoardList">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, 
		TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD') BOARD_WRITE_DATE, 
		TO_CHAR(BOARD_UPDATE_DATE, 'YYYY-MM-DD') BOARD_UPDATE_DATE, 
		  READ_COUNT, 
		(SELECT UPLOAD_IMG_PATH || UPLOAD_IMG_RENAME FROM UPLOAD_FILE U WHERE U.BOARD_NO = C.BOARD_NO AND UPLOAD_IMG_ORDER=0) THUMBNAIL,
		(SELECT COUNT(*) FROM BOARD_LIKE B WHERE B.BOARD_NO = C.BOARD_NO) LIKE_COUNT
		FROM "COMMUNITY" C
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_CODE = 2
	</select>
	
	<!--좋아요 한 집들이 게시글 목록 조회-->
	<select id="likeHouseBoardList">
		SELECT DISTINCT C.BOARD_NO, BOARD_TITLE, BOARD_CONTENT, 
		TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD') BOARD_WRITE_DATE, 
		TO_CHAR(BOARD_UPDATE_DATE, 'YYYY-MM-DD') BOARD_UPDATE_DATE, 
		READ_COUNT, 
		(SELECT UPLOAD_IMG_PATH || UPLOAD_IMG_RENAME FROM UPLOAD_FILE U WHERE U.BOARD_NO = C.BOARD_NO AND UPLOAD_IMG_ORDER=0) THUMBNAIL,
		(SELECT COUNT(*) FROM BOARD_LIKE B WHERE B.BOARD_NO = C.BOARD_NO) LIKE_COUNT
		FROM "COMMUNITY" C
		WHERE BOARD_CODE = 1
		AND C.MEMBER_NO = #{memberNo}
	</select>
	
	<!--좋아요 한 노하우 게시글 목록 조회-->
	<select id="likeTipBoardList">

		SELECT DISTINCT C.BOARD_NO, BOARD_TITLE, BOARD_CONTENT, 
		TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD') BOARD_WRITE_DATE, 
		TO_CHAR(BOARD_UPDATE_DATE, 'YYYY-MM-DD') BOARD_UPDATE_DATE, 
		READ_COUNT, 
		(SELECT UPLOAD_IMG_PATH || UPLOAD_IMG_RENAME FROM UPLOAD_FILE U WHERE U.BOARD_NO = C.BOARD_NO AND UPLOAD_IMG_ORDER=0) THUMBNAIL,
		(SELECT COUNT(*) FROM BOARD_LIKE B WHERE B.BOARD_NO = C.BOARD_NO) LIKE_COUNT
		FROM "COMMUNITY" C
		WHERE BOARD_CODE = 2
		AND C.MEMBER_NO = #{memberNo}
	</select>
</mapper>
