<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddukddak.partner.model.mapper.PartnerMapper">
	
		<select id="login">
			SELECT PARTNER_NO, PARTNER_ID, PARTNER_PW, PARTNER_TEL, 
			PARTNER_BUSINESS_NAME, PARTNER_CEO_NAME, PARTNER_BUSINESS_NUM, PARTNER_TYPE 
			FROM PARTNER
			WHERE PARTNER_ID = #{partnerId}
			AND PARTNER_PW = #{partnerPw}
			AND PARTNER_DEL_FL = 'N'
		</select>

</mapper>
