body {
    background-image: url("/images/board/aa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 전체 백그라운드색 컨테이너 */
.boardMainPageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}




/* 메인 컨테이너 */
.boardMainPageContentContainer {
    display: flex;
    width: 1700px;
    position: relative;
}

.mainArea {
    flex-grow: 1;
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* 검색 area */
.searchArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1380px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #3A732A;
}

.searchArea input {
    width: 1350px;
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    
}

.searchArea input::placeholder {
    font-size: 14px;
}

.searchArea input:focus {
    outline: none;
}

.searchArea > span:nth-child(1) form {
    border: 1px solid var(--gray5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
}

.searchArea > span:nth-child(1) > i {
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
    color: var(--gray3);
}

/* 광고 베너 컨테이너 */
.boardAdContainer {
    position: relative;
    width: 1350px;
    height: 670px;
    margin-top: 30px;
    overflow: hidden;
}

.boardAd {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
}

.adViewMore {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}

.active {
    background-color: #717171;
}

.mySlides {
    display: none;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}


/* 중간 집들이 컨테이너 */
.myHouseMainContainer, .tipMainContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 20px;
    /*box-shadow: 7px 7px 10px #dbdbdb;*/
}

.tipMainContainer {
    background-color: rgba(255, 255, 255, 0.5);
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    padding: 30px;
    margin-top: 10px;
}

.portListMainContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    width: 95%;
    margin-bottom: 20px;
}

.portListContainer {
    position: relative;
    cursor: pointer;
    box-shadow: 7px 7px 30px #cfcfcf;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

/* 다양한 크기를 위해 여러 개의 CSS 클래스를 추가 */
.portListContainer.size1 {
    grid-row: span 2;
    grid-column: span 2;
}

.portListContainer.size2 {
    grid-row: span 2;
    grid-column: span 3;
}

.portListContainer.size3 {
    grid-row: span 3;
    grid-column: span 2;
}

.portListContainer.size4 {
    grid-row: span 3;
    grid-column: span 4;
}

.portListContainer.size5 {
    grid-row: span 1;
    grid-column: span 5;
}

.portListContainer.size6 {
    grid-row: span 2;
    grid-column: span 4;
}

.portListContainer.size7 {
    grid-row: span 1;
    grid-column: span 2;
}

.portListContainer.size8 {
    grid-row: span 2;
    grid-column: span 2;
}

.portListContainer.size9 {
    grid-row: span 2;
    grid-column: span 3;
}

.portListContainer.size10 {
    grid-row: span 1;
    grid-column: span 2;
}

.portListContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.3s;
    border-radius: 10px;
}

.portListContainer img:hover {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 100%); /* Gradient overlay */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: white; /* Text color */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
}

.overlay h2, .overlay h5 {
    margin: 5px 0; /* Adjust margin for spacing */
}

.overlay h2 {
    text-align: left;
    word-break: keep-all;
    line-height: 40px;
    width: 100%;
    word-wrap: break-word;
}

.overlay h5 {
    width: 100%;
    text-align: right;
}

.portDate {
    margin-top: 20px;
    padding-top: 20px;
}



.interiorProjectViewMoreBtn {
    margin-top: 20px;
}

.myHouseViewMore {
    width: 100%;
    text-align: end;
}

.myHouseViewMore:hover, .tipViewMore:hover {
    color: var(--secondary);
    transition: 0.2s;
}

/* 팁 보드  */
.slider {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease;
}

.tipBoardMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipBoardContainer {
    flex: 0 0 33.333%; /* Show 3 slides at once */
    box-sizing: border-box;
}

.tipBoardImg {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.tipBoardImg img {
    transition-duration: 0.3s;
}

.tipBoardImg img:hover {
    transform: scale(1.1);
}

.tipBoardUserInfoContainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tipBoardUserName {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.tipBoardTitle {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.nameBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameBox > img {
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.tipBoardLikeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.like {
    display: flex;
}

.tipBoardLikeContainer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.tipBoardLikeContainer i {
    font-size: 16px;
    color: red;
    margin-right: 5px;
}

.tipBoardLikeContainer h4 {
    font-size: 16px;
    margin: 0;
}

.tipBoardContent {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.tipBoardUserName, .tipBoardTitle, .tipBoardContent {
    color: var(--gray1);
}

.slider-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%; /* 둥근 버튼 모양 */
    width: 50px; /* 너비 */
    height: 50px; /* 높이 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* 아이콘 크기 */
    transition: background-color 0.3s;
}

.prev-btn {
    left: 10px; /* 왼쪽 위치 */
    top: 50%; /* 버튼의 상단을 중앙으로 정렬 */
    transform: translateY(-50%); /* 버튼을 수직 중앙 정렬 */
    z-index: 1; /* z-index 추가 */
}

.next-btn {
    right: 10px; /* 오른쪽 위치 */
    top: 50%; /* 버튼의 상단을 중앙으로 정렬 */
    transform: translateY(-50%); /* 버튼을 수직 중앙 정렬 */
    z-index: 1; /* z-index 추가 */
    margin-left: 10px; /* prev-btn과의 간격 설정 */
}


.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 탑버튼 */
#boardMainTop {
    position: fixed;
    top: 90%;
    left: 95%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    font-family: 'main';
    cursor: pointer;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* 게시글 넘는것들 처리 */
.hidden {
    display: none;
}