<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 모델링</title>

    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/partner/interior/modeling/modelingEstimate.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>

    <h2 style="text-align: center; margin: 50px;">예상 견적 조회</h2>

    <div id="estimateContainer">
        <div>
            <div></div>
            <div style="background-color: black;"></div>
        </div>

        <div>

            <div>
                <select>
                    <option>예상견적 (가구 포함)</option>
                    <option>예상견적 (가구 미포함)</option>
                </select>
            </div>


            <div style="margin: 30px 0;">
                <section class="interiorList">

                    <div class="titleArea">
                    </div>

                    <table style="text-align: center;">

                        <thead>
                            <th>시공사</th>
                            <th>전화번호</th>
                            <th>주소</th>
                            <th>시공가격(평당)</th>
                            <th>포트폴리오</th>
                        </thead>

                        <tbody>

                            <tr class="listRow">
                                <td>삶</td>
                                <td>01012341234</td>
                                <td>서울특별시 중랑구 면목동</td>
                                <td>1,000,000</td>
                                <td>
                                    <button class="interiorDetailViewBtn">포트폴리오</button>
                                </td>
                            </tr>
                            
                            <tr class="listRow">
                                <td>삶</td>
                                <td>01012341234</td>
                                <td>서울특별시 중랑구 면목동</td>
                                <td>1,000,000</td>
                                <td>
                                    <button class="interiorDetailViewBtn">포트폴리오</button>
                                </td>
                            </tr>
                            
                            <tr class="listRow">
                                <td>삶</td>
                                <td>01012341234</td>
                                <td>서울특별시 중랑구 면목동</td>
                                <td>1,000,000</td>
                                <td>
                                    <button class="interiorDetailViewBtn">포트폴리오</button>
                                </td>
                            </tr>
                            
                            <tr class="listRow">
                                <td>삶</td>
                                <td>01012341234</td>
                                <td>서울특별시 중랑구 면목동</td>
                                <td>1,000,000</td>
                                <td>
                                    <button class="interiorDetailViewBtn">포트폴리오</button>
                                </td>
                            </tr>
                            
                            <tr class="listRow">
                                <td>삶</td>
                                <td>01012341234</td>
                                <td>서울특별시 중랑구 면목동</td>
                                <td>1,000,000</td>
                                <td>
                                    <button class="interiorDetailViewBtn">포트폴리오</button>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    
                </section>


                <section style="margin: 50px 0;">
                    
                    <th:block>
                        <div class="pagination-area">
        
                            <ul class="pagination">
                                <!-- 첫 페이지로 이동 -->
                                <li><a href="#">&lt;&lt;</a></li>
        
                                <!-- 이전 목록 마지막 번호로 이동 -->
                                <li><a href="#">&lt;</a></li>
        
                                <!-- 특정 페이지로 이동 -->
        
                                <th:block>
        
                                    <!-- 현재 보고있는 페이지 -->
                                    <li>
                                        <a class="current">1</a>
                                    </li>
        
                                    <!-- 보고있지 않은 페이지 -->
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                </th:block>
        
                                <!-- 다음 목록 시작 번호로 이동 -->
                                <li><a href="#">&gt;</a></li>
        
                                <!-- 끝 페이지로 이동 -->
                                <li><a href="#">&gt;&gt;</a></li>
                            </ul>
                        </div>
                    </th:block>


                </section>

            </div>
        </div>
    </div>
    

    <th:block th:replace="~{common/fragments/footer}"></th:block>
    <script src="/css/partner/interior/modeling/modelingEstimate.js"></script>
</body>
</html>