@font-face {
    font-family: 'main';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
*{
    font-family: 'main';
}

/*전체 페이지*/
.myPage-row2{
	background-color: #eee;
}
.myPage-main{
    min-width: 1400px;
    min-height: 1200px;
}


.category-name{
	margin-top: 30px;
    text-align: center;
}

/* 채팅방 생성 버튼 */
#openChatRoom {
	width: 120px;
}

/*  채팅방 생성 모달*/
#chat-modal {
	justify-content: center;
	align-items: center;
}

.modal-body {
	text-align: center;
	background-color: white;
	padding: 50px;
	border-radius: 20px;
}

#chatRoomTitle {
	width: 250px;
}


/* 팝업레이어 */
#addTargetPopupLayer{
    position: fixed;
    margin: auto;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: #f5f5f5;
    width: 450px;
    height: 600px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.4), 0 3px 3px rgba(0,0,0,0.4);
}

.popup-layer-close{ display: none;  }

#closeBtn{
    position: absolute;
	right:5px;
	top: -0;
    font-size:25px;
    cursor: pointer;
}


.interInfo{
	display : flex;
	justify-content: space-between;
	width : 400px;
}

.target-input-area{
	width: 100%;
	height: 40px;
	margin-top:30px;
	margin-left: 25px;
	display:flex;
	flex-direction: row;
}



#targetInput{
	width: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
}
#inputCloseBtn{
	position:absolute;
	right:30px;
	top:40px;
	width: 18px;
	margin : auto;
	color:#a3a3a3;
}
input::-webkit-search-cancel-button{
	opacity: 0;
}
.reaultDiv{
	height: 500px;
	overflow: auto;
}
#resultArea{
	list-style: none;
	height: 100%;
}

.result-row{
	width: 90%;
	height: 50px;
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: auto;
}

.result-row:hover{	background-color: #dadada;}

.result-row > *{ 
	user-select: none;
}


.result-row-img{ 
	width: 20px;
	height: 20px;
	border-radius: 100%;
	margin-right: 15px;
}

.phoneNumSpan{
	font-size: 12px;
	font-weight: 200;
	color:#5a5a5a;
	margin-left: auto;
	margin-top: 5px;
	letter-spacing: 1px;
}
/* 채팅창 영역 */
.chatting-area-box{
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-left: 200px;
	height: 800px;
	width: 1100px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2), 0 3px 3px rgba(0,0,0,0.2);
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}
.chatting-header{
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}
.chatting-header1{
	height: 50px;
	background-color: #46633e;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border-bottom: 1px solid #d4d4d4;
}


.chatting-area {
	display: flex;
	height: 800px;
	background-color: white;
	
}

/*  채팅 목록 */
.chatting-list{
	width: 30%;
	list-style: none;
	overflow: auto;
	border: none;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2), 0 3px 3px rgba(0,0,0,0.2);
	z-index:12;
}

/* 추가 버튼 */
#addTarget{
	font-size: 23px;
	background-color: transparent;
    color: #fcfcf3;
    cursor: pointer;
	margin:15px 0 0 25px;
}

#addTarget:hover{
	color:#214118
}
.chatting-item{
	height: 12%;
	display: flex;
	padding: 5px 0;
	border-bottom: 1px solid #dadada;
	cursor: pointer;
}

.chatting-item * {
	pointer-events: none;
}

.chatting-item > div{ height: 100%; text-align: center;}
.item-header{ 
	width : 25%; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-body{ 
	width : 75%; 
	padding : 2px 0;
}
.item-body> p{ 
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.chatting-item.select{
	background-color: #ddd;
}
.chatting-item.select .recent-send-time{
	color : black;
}

.list-profile{ 
	max-width: 50px;
    max-height: 50px;
	border-radius: 50%;
	margin:auto 0;
}

.target-name{
	font-size: 1em;
	font-weight: bold;
	display: flex;

}

.recent-send-time{
	margin-right: 5px;
	font-size: 12px;
	color:#a0a0a0;
}


.item-body > div{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.recent-message{
	width: 180px;
	text-align: start;
	margin-top: 3px;
	color:#797979;
	/* 여러 줄 말줄임 처리 */
	white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

	/*  줄바꿈 처리 */
	word-break: break-all;
}

.not-read-count{
	width: 20px;
    height: 20px;
    border-radius: 50%;
	background-color: rgb(255, 72, 0);
    color: white;
    font-size: 11px;
	font-weight: 100;
	display:flex;
	justify-content: center;
    align-items: center;
	margin-right: 10px;
}


/* 채팅 내용 */
.chatting-content{
	width: 70%;
	max-height: 750px;
}

.display-none {
	display: none;
}

.prev-message{
	width: 70%;
	background-color: #e9e9e9;
}

.prev-message h1{
	text-align: center;
	align-items: center;
	line-height: 600px;
	font-weight: 400;
	color: #1c1c1c;

}

.display-chatting {
	width: 100%;
	height: 90%;
	overflow: auto;
	list-style: none;
	padding: 30px;
	background-color: #fffcf5c4;
}
.display-chatting::-webkit-scrollbar{
	width:12px;
}
.display-chatting::-webkit-scrollbar-thumb{
	background-color:#46633e;
	border-radius: 8px;
}
.display-chatting::-webkit-scrollbar-track{
	background-color: white;
}
.display-chatting > li{
	margin: 10px 0;
}

.target-chat{
	display: flex;
	align-items: flex-start;
}
.target-chat > img{
	width: 40px;
	margin-right: 15px;
	border-radius: 50%;
}

.chat {
	display: inline-block;
	border-radius: 9px;
	padding: 8px 12px;
	background-color: #eee;
	text-align: left;
	max-width: 500px;
	word-break: break-all;
	white-space: pre-wrap;
	line-height: 25px;
}


.input-area {
	height: 80px;
	width: 100%;
	display: flex;
}

#inputChatting {
	padding: 10px;
	font-size: 1em;
	width: 80%;
	resize: none;
	border: 1px solid #dadada;
	border-radius: 9px;
    outline-color: #aac8a2;
;
}

#send {
	width: 20%;
	font-size: 15px;
	background-color: #aac8a2;
	color: #fffef0;
	border-radius: 9px;
	border:none;
	cursor: pointer;

}
#send:active{
	background-color: #aac8a2;
	box-shadow: inset 0.4px 1.5px 12px #6c6c6c;
	cursor: pointer;

}
.my-chat {
	text-align: right;
}

.my-chat>p {
	background-color: #aac8a2;
	color: #000000;
}

.chatDate {
	font-size: 11px;
	color: rgb(90, 90, 90);
	margin-right: 4px;
	position: relative;
    top: 10px;
}

