/* 메인 폰트 */
@font-face {
    font-family: 'main';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
*{
    font-family: 'main';
}


.myPage-main{
    min-width: 1400px;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

/*주문내역*/
.category-name{
    margin: 30px 0;
}

.skuList,
.cartList{
    margin:30px 0;
}
.skuList thead,
.cartList thead{
    height: 70px;
    
}
.skuList th,
.cartList th{
    min-width: 90px;
    border-bottom:1px solid black;
}
.skuList tr,
.cartList tr{
    height: 60px;
    
}

.skuList td,
.cartList td{
    border-bottom:1px solid black;
    height: 80px;
}

.sku-status{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-evenly;
}
.product-image{
    width: 60px;
    height: 60px;
    background-color: #757575;
}
/*위시리스트*/
.wishList-table{
    margin-top: 80px;
    margin-left: 70px;
    margin-bottom: 50px;
}
.item-row{
    height: 180px;
}
.item_img{
    height: 150px;
    width: 150px;
}
.wish-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 450px;
    height: 180px;
    margin:20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wish-item>div{
    display: flex;
    flex-direction: column;
    width:200px;
    text-align: end;
    margin:5px 10px;
    line-height: 30px;
}

.item-title{
    font-weight: 600;
}
.heart{
    text-align: start;
    position:relative;
    left:-40px;
}

/*장바구니*/
.cartList{
    margin-left: 70px;
    margin-bottom: 50px;
}


/*내 집들이*/
.homeBoard-list{
    list-style-type: none;
}
.homeBoard-list > li {
    width : 800px;
    margin: 50px 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.homeBoard-img{
    width : 300px;
    height: 200px;
}


.homeboard-title{
    flex-basis: 40%;
    font-size : 18px;
    margin-top: 20px;
    margin-left: 15px;
    height: 30px;
    text-align: start;
}
.homeboard-title>a:hover{
    font-weight: 600;
    cursor: pointer;
}
.homeBoard-info{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.homeBoard-info>div:first-child{
    margin-left: auto;
    margin-top: 15px;
}
.homeBoard-info>div:last-child{
    margin-left: auto;
}
.homeBoard-info a{
    color: rgb(0, 73, 182);
    font-size: 15px;
}
.homeBoard-info span{
    font-size: 12px;
    color: #757575;
}

/*내 노하우*/
.tipBoard-table{
    margin-top: 80px;
    margin-left: 70px;
    margin-bottom: 50px;
}
.tipBoard-row{
    height: 180px;
}

.tipBoard-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 450px;
    height: 500px;
    margin:20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tipBoard-img{
    width:200px;
    height: 150px;
}