<style>
    #separateCategory {
    display: flex;
    margin: 5px 0;
    }

    #separateCategory > * {
        margin-right: 30px;
    }

    #separateCategory select {
        width: 200px;
        height: 30px;
        padding: 0 10px;
        border-radius: 5px;
    }
</style>

<div id="separateCategory">
    <h3>상품 분류</h3>
    
    <select id="mainCategory">
        <option value="none">대분류</option>
        <th:block th:each="category : ${categoryList}" th:object="${category}">
            <option th:value="${category.bigCategoryNo}" th:text="${category.bigCategoryName}">대분류값</option>
        </th:block>
    </select>

    <select id="subCategory">
        <option value="none">소분류</option>
        <th:block th:each="smallCategory : ${smallCategoryList}">
            <option th:value="${smallCategory.categoryNo}" th:text="${smallCategory.categoryName}" th:data-big-category-no="${smallCategory.bigCategoryNo}">소분류값</option>
        </th:block>
    </select>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var mainCategory = document.getElementById('mainCategory');
        var subCategory = document.getElementById('subCategory');
        
        // 초기에는 모든 소분류 옵션을 숨깁니다.
        var subCategoryOptions = subCategory.getElementsByTagName('option');
        for (var i = 0; i < subCategoryOptions.length; i++) {
            subCategoryOptions[i].style.display = 'none';
        }
        
        // "소분류" 옵션만 보이게 설정합니다.
        subCategory.querySelector('option[value="none"]').style.display = 'block';

        mainCategory.addEventListener('change', function() {
            subCategory.value = 'none';
            var selectedBigCategoryNo = this.value;

            // 모든 소분류 옵션을 숨깁니다.
            for (var i = 0; i < subCategoryOptions.length; i++) {
                subCategoryOptions[i].style.display = 'none';
            }

            // 기본 옵션은 항상 보이게
            subCategory.querySelector('option[value="none"]').style.display = 'block';

            // 선택된 대분류와 일치하는 소분류 옵션 보이기
            for (var i = 0; i < subCategoryOptions.length; i++) {
                var option = subCategoryOptions[i];
                if (option.dataset.bigCategoryNo === selectedBigCategoryNo) {
                    option.style.display = 'block';
                }
            }
        });
    });
</script>