<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 판매사</title>

    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/partner/seller/product/complete.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <th:block th:replace="~{partner/seller/common/header}"></th:block>


    <div id="completeContainer">
        <h1>상품관리 > 완료내역</h1>

        <!-- 상품 분류 -->
        <th:block th:replace="~{partner/seller/common/category}"></th:block>

        <!-- 주문 상태-->
        <div id="orderStatus">
            <h3>판매 상태</h3>

            <input type="checkbox" value="A" name="order" id="selectAll" onclick="updateStatus(this)"><label for="selectAll">전체</label>
            <input type="checkbox" value="PC" name="order" id="selectProductConfirm" onclick="updateStatus(this)"><label for="selectProductConfirm">구매확정</label>
            <input type="checkbox" value="PR" name="order" id="selectProductReject" onclick="updateStatus(this)"><label for="selectProductReject">주문 거절</label>
            <input type="checkbox" value="SR" name="order" id="selectShipmentReject" onclick="updateStatus(this)"><label for="selectShipmentReject">출고 거절</label>
        </div>

         <!-- 상품목록 -->
         <div id="productList">
            <table>
                <thead style="height: 40px;" id="tdContainer">
                    <td>
                        <input type="checkbox" value="1" name="select" id="selectAllCheckBox">
                    </td>
                    <td>주문번호</td>
                    <td>주문자</td>
                    <td>상품명/옵션</td>
                    <td>수량</td>
                    <td>주문상태</td>
                    <td>완료일</td>
                </thead>

                <th:block th:each="completeList : ${completeList}" th:object="${completeList}">
                    <tr class="borderTr">
                        <td>
                            <input type="checkbox" value="1" name="selectProduct">
                        </td>
                        <td th:text="*{merchantUid}"></td>
                        <td th:text="*{memberNickname}">김소영</td>
                        <td th:text="|*{productName} [*{options}]|"></td>
                        <td th:text="*{orderQuantity}">3</td>
                        <td th:text="*{orderStatus}">구매확정</td>
                        <td th:text="*{orderDate}">2024-05-23</td>
                    </tr>
                </th:block>
            </table>
        </div>

        <!-- Pagination -->
    <div class="pagination">
        <ul class="pagination" th:object="${pagination}">
            <li><a th:href="@{|/partner/seller/product/complete?cp=1&status=${status}|}">&lt;&lt;</a></li>
            <li><a th:href="@{|/partner/seller/product/complete?cp=*{prevPage}&status=${status}|}">&lt;</a></li>
            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                <li th:if="${i} == *{currentPage}">
                    <a class="current" th:text="${i}" style="font-weight: bold;">현재페이지</a>
                </li>
                <li th:unless="${i} == *{currentPage}">
                    <a th:href="@{|/partner/seller/product/complete?cp=${i}&status=${status}|}" th:text="${i}">이동할 페이지</a>
                </li>
            </th:block>
            <li>
                <a th:href="@{|/partner/seller/product/complete?cp=*{nextPage}&status=${status}|}">&gt;</a>
            </li>
            <li><a th:href="@{|/partner/seller/product/complete?cp=*{maxPage}&status=${status}|}">&gt;&gt;</a></li>
        </ul>
    </div>

    <script th:inline="javascript">
        const loginPartnerMember = /*[[${session.loginPartnerMember.partnerNo}]]*/ "loginPartnerMember";
    </script>
    <script src="/js/partner/seller/product/complete.js"></script>
</body>
</html>