<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 판매사</title>

    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/partner/seller/product/receipt.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <th:block th:replace="~{partner/seller/common/header}"></th:block>


    <div id="receiptContainer">
        <h1>상품관리 > 접수관리</h1>

        <!-- 검색엔진 -->
        <th:block th:replace="~{partner/seller/common/search}"></th:block>

        <!-- 상품 분류 -->
        <th:block th:replace="~{partner/seller/common/category}"></th:block>

        <!-- 접수 상태-->
        <div id="receiptStatus">
            <h3>접수 상태</h3>

            <input type="checkbox" value="A" name="receipt" id="selectAll" onclick="updateStatus(this)"><label for="selectAll">전체</label>
            <input type="checkbox" value="AM" name="receipt" id="selectAmount" onclick="updateStatus(this)"><label for="selectAmount">수량</label>
            <input type="checkbox" value="PR" name="receipt" id="selectPrice" onclick="updateStatus(this)"><label for="selectPrice">판매가</label>
        </div>

        <!-- 상품접수버튼 -->
        <div id="sellerButton">
            <button id="orderReceipt" style="margin-right: 10px;">주문 접수</button>
            <button id="orderRejection">주문 거절</button>
        </div>

        <div id="selectAll">
            <input type="checkbox" value="selectAll" name="select" id="selectAllCheckBox"><label>전체 선택</label>
        </div>

        <!-- 상품목록 -->
        <div id="productList">
            <table>
                <thead style="height: 60px;" id="theadContainer">
                    <td></td>
                    <td></td>
                    <td>No</td>
                    <td>주문번호</td>
                    <td>분류</td>
                    <td>상품명</td>
                    <td>옵션</td>
                    <td>수량</td>
                    <td>상품번호</td>
                    <td>판매가</td>
                </thead>

                <th:block th:each="receiptList : ${receiptList}" th:object="${receiptList}">
                    <tr class="borderTr">
                        <td>
                            <input type="checkbox" value="1" name="selectProduct">
                        </td>
                        <td><img th:src="@{*{thumbnail}}" alt="Product Thumbnail"></td>
                        <td th:text="*{orderNo}">1</td>
                        <td th:text="*{merchantUid}">1</td>
                        <td th:text="*{categoryName}">가구/의자</td>
                        <td th:text="*{productName}">오아르 벤 원목 부클레 패브릭 의자</td>
                        <td th:text="|[*{options}]|">오크내추럴</td>
                        <td th:text="*{orderQuantity}">300</td>
                        <td th:text="*{productNo}">F202405210001</td>
                        <td class="totalPrice" th:value="*{productPrice}">122,200</td>

                        <input type="hidden" class="productUpdateDate" th:value="*{productUpdateDate}">
                        <input type="hidden" class="orderQuantity" th:value="*{orderQuantity}">
                        <input type="hidden" class="productNo" th:value="*{productNo}">
                        <input type="hidden" class="orderNo" th:value="*{orderNo}">
                        <input type="hidden" class="productName" th:value="*{productName}">
                        <input type="hidden" class="productPrice" th:value="*{productPrice}">
                        <input type="hidden" class="orderItemNo" th:value="*{orderItemNo}">
                    </tr>
                </th:block>
            </table>
        </div>

         <!-- 페이지네이션 -->
         <div class="pagination">
            <th:block th:if="${status == null}">
                <ul class = "pagination" th:object="${pagination}">
                    <li><a th:href="@{|/partner/seller/product/receipt?cp=1|}">&lt;&lt;</a></li>
                    <li><a th:href="@{|/partner/seller/product/receipt?cp=*{prevPage}|}">&lt;</a></li>
        
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
    
                        <li th:if="${i} == *{currentPage}">
                            <a class="current" th:text="${i}" style="font-weight: bold;">현재페이지</a>
                        </li>
    
                        <li th:unless="${i} == *{currentPage}">
                            <a th:href="@{|/partner/seller/product/receipt?cp=${i}|}"
                            th:text="${i}">이동할 페이지</a>
                        </li>
                        
                    </th:block>
        
                
                    <li>
                        <a th:href="@{|/partner/seller/product/receipt?cp=*{nextPage}&status=${status}|}">&gt;</a>
                    </li>
                    <li><a th:href="@{|/partner/seller/product/receipt?cp=*{maxPage}&status=${status}|}">&gt;&gt;</a></li>
                </ul>
            </th:block>
            <th:block th:unless="${status == null}">
                <ul class = "pagination" th:object="${pagination}">
                    <li><a th:href="@{|/partner/seller/product/receipt?cp=1&status=${status}|}">&lt;&lt;</a></li>
                    <li><a th:href="@{|/partner/seller/product/receipt?cp=*{prevPage}&status=${status}|}">&lt;</a></li>
        
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
    
                        <li th:if="${i} == *{currentPage}">
                            <a class="current" th:text="${i}" style="font-weight: bold;">현재페이지</a>
                        </li>
    
                        <li th:unless="${i} == *{currentPage}">
                            <a th:href="@{|/partner/seller/product/receipt?cp=${i}&status=${status}|}"
                            th:text="${i}">이동할 페이지</a>
                        </li>
                        
                    </th:block>
        
                
                    <li>
                        <a th:href="@{|/partner/seller/product/receipt?cp=*{nextPage}&status=${status}|}">&gt;</a>
                    </li>
                    <li><a th:href="@{|/partner/seller/product/receipt?cp=*{maxPage}&status=${status}|}">&gt;&gt;</a></li>
                </ul>

            </th:block>
        </div>


    </div>


    <!-- 모달창 -->
    <div class="modal">
        <div id="closeButton">X</div>

        <div class="div-container">
            <h3 class="div-titleAdd">선택한 상품 주문을 접수하시겠습니까? 접수 후 해당 주문 품목은 출고관리에서 확인할 수 있습니다</h3>
        </div>

        <div>
            <table>
                <tr>
                    <th>상품번호</th>
                    <th>상품명</th>
                    <th>상품 옵션</th>
                    <th>판매가</th>
                    <th>판매 등록일</th>
                </tr>
            </table>

            <div id="productListBox"></div>

            <div>
                <button id="orderOK">확인</button>
            </div>
        </div>
            
    </div>

    <script th:inline="javascript">
        const loginPartnerMember = /*[[${session.loginPartnerMember.partnerNo}]]*/ "loginPartnerMember";
    </script>
    <script src="/js/partner/seller/product/receipt.js"></script>
    
</body>
</html>
