<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 판매사</title>
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/partner/seller/product/shipment.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <th:block th:replace="~{partner/seller/common/header}"></th:block>

    <div id="shipmentContainer">
        <h1>상품관리 > 출고관리</h1>
        <th:block th:replace="~{partner/seller/common/search}"></th:block>
        <th:block th:replace="~{partner/seller/common/category}"></th:block>

        <div id="shipmentStatus">
            <h3>출고 상태</h3>
            <input type="checkbox" value="A" name="shipment" id="selectAll" onclick="updateStatus(this)"><label for="selectAll">전체</label>
            <input type="checkbox" value="SW" name="shipment" id="selectShipmentPending" onclick="updateStatus(this)"><label for="selectShipmentPending">출고 대기</label>
            <input type="checkbox" value="SH" name="shipment" id="selectShipmentDelivery" onclick="updateStatus(this)"><label for="selectShipmentDelivery">출고중</label>
            <input type="checkbox" value="SC" name="shipment" id="selectShipmentComplete" onclick="updateStatus(this)"><label for="selectShipmentComplete">출고 완료</label>
            <input type="checkbox" value="DC" name="shipment" id="selectDeliveryComplete" onclick="updateStatus(this)"><label for="selectDeliveryComplete">배송 완료</label>
        </div>

        <div id="sellerButton">
            <button class="sellerButton">상태 수정</button>
        </div>

        <div id="productList">
            <table>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" value="all" name="product" id="selectAllCheckBox">
                        </th>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>출고상태</th>
                        <th>출고 수량</th>
                        <th>출고 등록일</th>
                        <th>출고 완료일</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="shipmentList : ${shipmentList}" th:object="${shipmentList}">
                        <tr>
                            <td>
                                <input type="checkbox" value="1" name="selectProduct">
                            </td>
                            <td class="orderNo" th:text="*{orderNo}">20241231-000001</td>
                            <td class="productName" th:text="*{productName}"></td>
                            <td class="orderStatus" th:text="*{orderStatus}">출고중</td>
                            <td class="orderQuantity" th:text="*{orderQuantity}">3</td>
                            <td class="orderDate" th:text="*{orderDate}">20240524</td>
                            <td class="shipmentCompleteDate">N/A</td>
                            <input type="hidden" class="productNo" th:value="*{productNo}">
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <th:block th:if="${status == null}">
                <ul class="pagination" th:object="${pagination}">
                    <li><a th:href="@{|/partner/seller/product/shipment?cp=1|}">&lt;&lt;</a></li>
                    <li><a th:href="@{|/partner/seller/product/shipment?cp=*{prevPage}|}">&lt;</a></li>
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                        <li th:if="${i} == *{currentPage}">
                            <a class="current" th:text="${i}" style="font-weight: bold;">현재페이지</a>
                        </li>
                        <li th:unless="${i} == *{currentPage}">
                            <a th:href="@{|/partner/seller/product/shipment?cp=${i}|}" th:text="${i}">이동할 페이지</a>
                        </li>
                    </th:block>
                    <li>
                        <a th:href="@{|/partner/seller/product/shipment?cp=*{nextPage}&status=${status}|}">&gt;</a>
                    </li>
                    <li><a th:href="@{|/partner/seller/product/shipment?cp=*{maxPage}&status=${status}|}">&gt;&gt;</a></li>
                </ul>
            </th:block>
            <th:block th:unless="${status == null}">
                <ul class="pagination" th:object="${pagination}">
                    <li><a th:href="@{|/partner/seller/product/shipment?cp=1&status=${status}|}">&lt;&lt;</a></li>
                    <li><a th:href="@{|/partner/seller/product/shipment?cp=*{prevPage}&status=${status}|}">&lt;</a></li>
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                        <li th:if="${i} == *{currentPage}">
                            <a class="current" th:text="${i}" style="font-weight: bold;">현재페이지</a>
                        </li>
                        <li th:unless="${i} == *{currentPage}">
                            <a th:href="@{|/partner/seller/product/shipment?cp=${i}&status=${status}|}" th:text="${i}">이동할 페이지</a>
                        </li>
                    </th:block>
                    <li>
                        <a th:href="@{|/partner/seller/product/shipment?cp=*{nextPage}&status=${status}|}">&gt;</a>
                    </li>
                    <li><a th:href="@{|/partner/seller/product/shipment?cp=*{maxPage}&status=${status}|}">&gt;&gt;</a></li>
                </ul>
            </th:block>
        </div>
    </div>

    <div class="modal">
        <div id="closeButton">X</div>
        <div>
            <h2>판매 상태 변경</h2>
        </div>
        <div>
            <table>
                <tr>
                    <th>주문번호</th>
                    <th>상품명</th>
                    <th>출고상태</th>
                    <th>출고 수량</th>
                    <th>출고 등록일</th>
                    <th>출고 완료일</th>
                </tr>
            </table>
            <div id="productListBox"></div>
            <div>
                <button id="shipmentButton">출고하기</button>
                <button id="shipmentRejection">출고거절</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const loginPartnerMember = /*[[${session.loginPartnerMember.partnerNo}]]*/ "loginPartnerMember";
    </script>
    <script src="/js/partner/seller/product/shipment.js"></script>
</body>
</html>
