<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.name}">뚝딱뚝딱 : 파트너</title>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/partner/login.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">

    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/74d1671a70.js" crossorigin="anonymous"></script>

</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>

    <main>

        <h1 class="loginPageTitle1">뚝딱뚝딱</h1>
        
        
        <div class="loginBox">
            
            <form id="loginForm">
                
                <div class="boxInDiv">
                    <h4 class="loginPageTitle2">파트너 로그인</h4>
                    
                    <!-- 아이디, 비밀번호 입력 영역 -->
                    <div class="inputArea">
                        <div class="inputGroup">
                            <label for="inputId" class="idLabel">아이디</label>
                            <input type="text" id="inputId" name="partnerId" required>
                        </div>
                        
                        <div class="inputGroup">
                            <label for="password" class="pwLabel">비밀번호</label>
                            <input type="password" id="inputPw" name="partnerPw" required>
                        </div>
                    </div>

                    <!-- 아이디 저장 영역 -->
                    <div class="saveIdArea">
                        <input type="checkbox" id="saveId">
                        <label for="saveId"> 아이디 기억하기</label>
                    </div>

                    <!-- 파트너 로그인 영역 -->
                    <div class="goToPartnerLogin">
                        <a href="/member/login">회원 로그인 <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                    
                    <!-- 로그인 버튼 -->
                    <div class="loginBtnArea">
                        <button class="mainPageBtn" id="loginBtn">로그인</button>
                    </div>


                    <div class="linksArea">
                        <div><a href="/signup">회원가입</a></div>
                        <div><a href="/partner/findId">아이디 찾기</a></div>
                        <div><a href="/common/findPw">비밀번호 찾기</a></div>
                    </div>
                </div>
            </form>

        </div>

    
    </main>


    <th:block th:replace="~{common/fragments/footer}"></th:block>


</body>
</html>