<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 파트너</title>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/partner/partnerMain.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">


    <script src="https://kit.fontawesome.com/74d1671a70.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <!-- 로고 -->
        <div>
            <img onclick="location.href='/partner/main';" src="/images/main/main-logo.png" style="height: 50px;">
        </div>

    
        <!-- 로그인/회원가입 -->
        <th:block th:unless="${session.loginPartnerMember}">
            <div>
                <a href="/member/login"><h4>로그인</h4></a>
                <a href="/signup"><h4>회원가입</h4></a>
            </div>
        </th:block>

        <th:block th:if="${session.loginPartnerMember}">
            <div>
                <a href="/partner/logout"><h4>로그아웃</h4></a>
            </div>
        </th:block>
    </header>

    <h4 style="text-align: center; margin-top: 70px;">본인의 파트너 유형을 선택해 주세요</h4>


    <th:block th:object="${session.loginPartnerMember}">
        <div id="selectContainer">
            
            <button type="button" class="selectBox" id="sellerBtn">
                <i class="fa-solid fa-house-user"></i>
                <h3>판매사</h3>
            </button>
            

            
            <button type="button" class="selectBox" id="interiorBtn">
                <i class="fa-solid fa-paint-roller"></i>
                <h3>시공사</h3>
            </button>
            
        </div>
    </th:block>


    <th:block th:replace="~{common/fragments/footer}"></th:block>
    <script src="/js/partner/main.js"></script>
    <script src="/js/common/redirectToLogin.js"></script>
    
</body>
</html>