<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 파트너</title>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/partner/partnerMain.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">


    <script src="https://kit.fontawesome.com/74d1671a70.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <!-- 로고 -->
        <div>
            <img onclick="location.href='/';" src="/images/main/main-logo.png" style="height: 50px;">
        </div>

    
        <!-- 로그인/회원가입 -->
        <div>
            <a href="#"><h4>마이페이지</h4></a>
            <a href="#"><h4>로그아웃</h4></a>
        </div>
    </header>

    <h4 style="text-align: center; margin-top: 70px;">본인의 파트너 유형을 선택해 주세요</h4>

    <div id="selectContainer">
        <form action="/partner/seller/product/create" method="get">
            <div class="selectBox" id="sellerBtn">
                <i class="fa-solid fa-house-user"></i>
                <h3>판매사</h3>
            </div>
        </form>

        <form action="/partner/interiorPortfolioEditMain" method="get">
            <div class="selectBox" id="interiorBtn">
                <i class="fa-solid fa-paint-roller"></i>
                <h3>시공사</h3>
            </div>
        </form>
    </div>

    <script src="/js/partner/main.js"></script>
</body>
</html>