<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 1:1문의</title>
    <link rel="stylesheet" href="/css/myPage/managerChat.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <main>
        <div class="popup-header">
            <div class="popup-title">
                <h2>뚝딱봇 1:1 문의</h2>
                <button onclick="closeChat()" class="close-popup" style="cursor: pointer;">문의 종료</button>
            </div>
            <div class="popup-info">
                뚝딱뚝딱의 챗봇 서비스는 24시간 운영됩니다.<br>
                궁금한 점을 자유롭게 물어봐주세요!
            </div>
        </div>
        <div class="chatting-content"><!--채팅 영역-->
            <ul class="display-chatting">
                <li class="target-chat">
                    <img src="/images/profile/main.jpg">
                    <div>
                        <b class="target-name">뚝딱봇</b><br>
                        <p class="chat">안녕하세요! 뚝딱뚝딱 cs봇입니다!<br>원하는 내용을 질문해주세요!</p>
                        <span class="chatDate">10:05 AM</span>
                    </div>
                </li>

            </ul>
        </div>
        <div class="input-area">
            <textarea id="inputChatting" col="3"></textarea>
            <button id="send">보내기</button>
        </div>
    </main>
    <script src="/js/myPage/managerChat.js"></script>
</body>
</html>