<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <title>관리자 : 메인페이지</title>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/admin/leftheader.css">
</head>
<body>
    <th:block th:replace="~{manager/common/header}"></th:block>
    <main>
        <section>
            <th:block th:replace="~{common/fragments/admin/leftheader}"></th:block>
            <div>

                
            </div>
        </section>
    </main>

</body>
</html>