<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <title>관리자 : 가입승인</title>

    <!-- <link rel="stylesheet" href="/css/common/main.css"> -->
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/admin/leftheader.css">
    <link rel="stylesheet" href="/css/manager/partnerPass.css">
</head>
<body>
    <div class="bodyContainer">
    <!-- 헤더 -->
        <th:block th:replace="~{manager/common/header}"></th:block>

        <div class="mainContainer">
        
            <!-- 왼쪽 네비 -->
            <th:block th:replace="~{common/fragments/admin/leftheader}"></th:block>
            
            <!-- 컨텐츠 전체 박스 -->
            <section class="contentContainer">

                <!--  -->
                <div class="content">
                    <!-- 타이틀 -->
                    <div class="titleBox">
                        <h3>파트너 가입 승인 관리</h3>
                    </div>

                    <!-- 테이블 -->
                    <div class="listBox">
                        <table>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="select-all" name="selectAll"></th>
                                    <th>파트너 번호</th>
                                    <th>파트너 아이디</th>
                                    <th>상호명</th>
                                    <th>사업자등록번호</th>
                                    <th>등록 요청일</th>
                                    <th colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 게시글이 존재 X-->
                                <th:block th:if="${#lists.isEmpty(passList)}">
                                    <tr>
                                        <td colspan="6">파트너 등록 요청이 없습니다.</td>
                                    </tr>
                                </th:block>

                                <!-- 
                                    model.addAttribute("pagination", map.get("pagination"));
                                    model.addAttribute("passList", map.get("passList"));
		
                                -->

                                <!-- 게시글이 존재 O -->
                                <th:block th:unless="${#lists.isEmpty(passList)}">
                                    <tr class="deleteBtn-tr">
                                        <td colspan="8"><button type="button" class="deleteBtn">삭 제</button></td>
                                    </tr>
                                    <tr th:each="pass : ${passList}" th:object="${pass}">
                                        
                                        <!-- 체크 박스 -->
                                        <td><input type="checkbox" class="select-item" name="selectItem"></td>

                                        <!-- 파트너번호 -->
                                        <td th:text="*{partnerNo}">파트너번호</td>

                                        <!-- 파트너 아이디 -->
                                        <td th:text="*{partnerId}">파트너 아이디</td>

                                        <!-- 상호명 -->
                                        <td th:text="*{partnerBusinessName}">상호명</td>

                                        <!-- 사업자등록번호 -->
                                        <td th:text="*{partnerBusinessNum}">사업자등록번호</td>

                                        <!-- 요청일 -->
                                        <td th:text="*{enrollDate}">요청일</td>
                                        <td class="btn-td"><button type="button" class="confirmBtn">승인</button></td>
                                        <td class="btn-td"><button type="button" class="refuseBtn">거절</button></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>    
                    </div>

                    <!-- 페이지네이션 -->
                    <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
                    <div class="pagination-area">

                        <ul class="pagination" th:object="${pagination}">

                            <!-- 첫 페이지로 이동 -->
                            <li><a th:href="@{/manager/partnerPass(cp=1)}">&lt;&lt;</a></li>

                            <!-- 이전 목록 마지막 번호로 이동 -->
                            <li><a th:href="@{/manager/partnerPass(cp=*{prevPage})}">&lt;</a></li>

                            <!-- 특정 페이지로 이동 -->
                            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                
                                <!-- 현재 보고 있는 페이지 -->
                                <li th:if="${i} == *{currentPage}">
                                    <a class="current" th:text="${i}">현재페이지</a>
                                </li>
            
                                <!-- 보고있지 않은 페이지 -->
                                <li th:unless="${i} == *{currentPage}">
                                    <a th:href="@{/manager/partnerPass(cp=${i})}" 
                                    th:text="${i}">이동할 페이지</a>
                                </li>
                                
                            </th:block>
                            
                            <!-- 다음 목록 시작 번호로 이동 -->
                            <li><a th:href="@{/manager/partnerPass(cp=*{nextPage})}">&gt;</a></li>

                            <!-- 끝 페이지로 이동 -->
                            <li><a th:href="@{/manager/partnerPass(cp=*{maxPage})}">&gt;&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="/js/manager/partnerPass.js"></script>
    <script src="/js/common/redirectToLogin.js"></script>
</body>


</html>