<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 라이브 업로드</title>

    <link rel="stylesheet" href="/css/common/fragments/admin/leftheader.css">
    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    <main>

    <th:block th:replace="~{common/fragments/admin/leftheader}"></th:block>

    
</body>
</html>