<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/fragments/header.css">

    <link rel="stylesheet" href="/css/common/main.css">
        <link rel="stylesheet" href="/css/partner/interior/interiorPortfolio.css">
        <link rel="stylesheet" href="/css/common/fragments/header.css">
        <link rel="stylesheet" href="/css/common/fragments/footer.css">
        <link rel="stylesheet" href="/css/common/button.css">
        <link rel="stylesheet" href="/css/common/fragments/portfolioCarousel.css">
        <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    <title>뚝딱뚝딱 : 시공사</title>
</head>
<body>

    <th:block th:replace="~{partner/interior/common/header}"></th:block>
    <main class="mainContainer">

        <!-- 시공사 이름 + 메인 캐러셀 컨테이너 -->
        <div class="topContainer">
            <h1 class="portTitle" th:text="${portfolio.partnerBusinessName}">캣츠코</h1>
            
            <div class="slideshow-container">

                <th:block th:if="${portfolio.mainProject == null}">
                    <h1>메인 프로젝트를 등록해 주세요</h1>
                </th:block>

                <!-- Full-width images with number and caption text -->
                <th:block th:unless="${portfolio.mainProject == null}">
                    <div th:each="img : ${portfolio.mainProject.imgList}" th:object="${img}" class="mySlides fade">
                        <a th:href="@{/partner/projectDetail/{projectNo}(projectNo=*{projectNo})}" method="GET">
                            <!-- <p>[[|*{uploadImgPath}*{uploadImgRename}|]]</p> -->
                            <img th:src="|*{uploadImgPath}*{uploadImgRename}|" style="width:100%" class="adBannerImg">
                            <div class="text-overlay">
                                <h1 class="text-title" th:text="${portfolio.mainProject.projectName}"></h1>
                                <h3 class="text-subtitle" th:text="${portfolio.mainProject.projectContent}"></h3>
                                <h4 class="text-date" th:text="|${portfolio.mainProject.constructionYear} |"></h4>
                            </div>
                        </a>
                    </div>

                    <!-- Next and previous buttons -->
                    <a class="prev"><i class="fa-solid fa-chevron-left"></i></a>
                    <a class="next"><i class="fa-solid fa-chevron-right"></i></a>
                </th:block>
                
            </div>
        </div>

        <!-- 중간 시공사 컨테이너 -->
        <div class="midContainer">

            <!-- 프로필 이미지 X -->
             <div th:unless="${portfolio.profileImg != null}" class="imgContainer">
                <img th:src="#{user.default.image}" class="portLogo">
             </div>

            <!-- 프로필 이미지 O -->
            <div th:if="${portfolio.profileImg != null}" class="imgContainer">
                <img class="portLogo" th:src="${portfolio.profileImg}"></img>
            </div>
            <div class="nameContainer">
                <h2 class="portName" th:text="${portfolio.partnerBusinessName}">캣츠코</h2>
            </div>
            <div>
                <button class="myPageMainBtn" type="button">프로필 사진 변경</button>
            </div>
        </div>

        <!-- 중간 시공사 컨테이너 -->
        <div style="display: none;" class="changeProfileImg">

            <form id="profile-form" action="/partner/changePartnerProfile" method="POST" class="profileForm" name="profileForm" enctype="multipart/form-data">
                <!-- 프로필 이미지 X -->
                <div class="profileImg">
                    <label for="inputImage" class="image-label">
                        <img id="profile-img" 
                        th:with="user=#{user.default.image}"
                        th:src="${portfolio.profileImg?:user}">
                    </label>
                    <input id="inputImage" type="file" name="profile-image" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>

                <div class="changeNameContainer">
                    <h2 class="portName" th:text="${portfolio.partnerBusinessName}">캣츠코</h2>
                </div>

                <div class="profile-area">
                    <button class="profile-del-btn myPageDelUpdateBtn" type="button">취소</button>
                    <button class="confirm myPageDelUpdateBtn" type="submit">수정</button>
                </div>

            </form>
        </div>

        <!-- 홈링크 AREA -->

        <div class="homeLinkArea">

            <h2>시공사 홈페이지 주소 : </h2>

            <h3 th:text="${portfolio.homeLink == null} ? '주소를 등록해주세요' : ${portfolio.homeLink}"></h3>

            <div>
                <button class="changeHomeLinkBtn">홈링크 변경</button>
            </div>

        </div>

        <div style="display: none;" class="changeHomeLink">

            <form id="homeLinkForm" class="homeLinkForm" action="/partner/updateHomeLink" method="POST">

                <h2>시공사 홈페이지 주소 : </h2>

                <input type="text" name="homeLink" id="inputHomeLink" class="inputHomeLink" th:value="${portfolio.homeLink}">

                <div class="homeLinkBtnArea">
                    <button class="homeLinkCancelBtn" type="button">취소</button>
                    <button class="homeLinkConfirmBtn" type="submit">변경</button>
                </div>

            </form>

        </div>


        <!-- 프로젝트 리스트 컨테이너 -->
        <div class="botContainer">
            <!-- 프로젝트 리스트 불러오기 -->
            <th:block th:replace="~{common/fragments/interiorProjectList.html}"></th:block>


            <button class="interiorProjectViewMoreBtn" id="interiorProjectViewMore">더보기 +</button>
        </div>

        <div class="insertBtnArea">
            <button type="button" class="insertBtn" id="insertBtn">프로젝트 등록하기</button>
        </div>
    </main> 

    <div id="portTop">↑</div>


    <!-- 푸터 -->
    <th:block th:replace="~{common/fragments/footer}"></th:block>
    <script th:inline="javascript">
        const homeLink = /*[[${portfolio.homeLink}]]*/ "홈 링크";
    </script>
    <script src="/js/partner/interior/interiorPortfolio-dom.js"></script>
    <script src="/js/partner/interior/interiorPortfolio.js"></script>
    <script src="https://kit.fontawesome.com/7f3fe5627c.js" crossorigin="anonymous"></script>
</body>
</html>