<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>뚝딱뚝딱 : 시공사</title>

        <link rel="stylesheet" href="/css/partner/interior/interiorPortfolioEdit/projectDetail.css">
        <link rel="stylesheet" href="/css/common/button.css">
        <link rel="stylesheet" href="/css/common/main.css">
        <link rel="stylesheet" href="/css/common/fragments/header.css">
        <link rel="stylesheet" href="/css/common/fragments/footer.css">
        <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
    </head>
    <body>

        <th:block th:replace="~{partner/interior/common/header}"></th:block>
        
        <div class="mainContainer">

            <div class="interior-title">
                <div class="logo-img">
                    <th:block th:if="${project.profileImg == null}">
                        <img th:src="#{user.default.image}">
                    </th:block>

                    <th:block th:unless="${project.profileImg == null}">
                        <img th:src="${project.profileImg}">
                    </th:block>
                </div>
                <div class="interior-name">
                    <h1 th:text="${project.partnerBusinessName}">회사명</h1>
                </div>
            </div>

            <div class="project-name">
                <h1 th:text="${project.projectName}">프로젝트명</h1>
            </div>

            <form th:action="@{/partner/updateProject(projectNo=${project.projectNo})}" method="POST" id="updateProjectForm" enctype="multipart/form-data">

                <div class="input-img-area">
                    <div class="projectImg thumbnail">
                        <label th:for="|img${project.imgList[0].uploadImgOrder}|">
                            <img class="preview">
                        </label>
                        <input type="file" name="images" class="inputImg" th:id="|img${project.imgList[0].uploadImgOrder}|" accept="image/*">
                        <span class="delete-img">&times;</span>
                    </div>
                    <!-- <div class="projectImg thumbnail">
                        <label th:for="|img${project.imgList[0].uploadImgOrder}|">
                            <img class="preview">
                        </label>
                        <input type="file" name="images" class="inputImg" th:id="|img${project.imgList[0].uploadImgOrder}|" accept="image/*">
                        <span class="delete-img">&times;</span>
                    </div> -->

                    <!-- <p>[[|img${project.imgList[0].uploadImgOrder}|]]</p> -->

                    <div class="preview-img">

                        <th:block th:each="img, iterStat : ${project.imgList}" th:object="${img}">
                            <th:block th:if="${iterStat.index > 0}">
                                <div class="projectImg previewImg">
                                    <label th:for="|img*{uploadImgOrder}|">
                                        <img class="preview">
                                        <!-- th:src="|*{uploadImgPath}*{uploadImgRename}|" -->
                                    </label>
                                    <input type="file" name="images" class="inputImg" th:id="|img*{uploadImgOrder}|" accept="image/*">
                                    <span class="delete-img">&times;</span>
                                </div>
                            </th:block>
                        </th:block>

                    </div>
                </div>

                <div class="project-info-area">
                    <h2>프로젝트 정보</h2>
                    <div class="project-info">
                        <select name="housingType" th:field="${project.housingType}">
                            <option th:value="'단독주택'">단독주택</option>
                            <option th:value="'아파트'">아파트</option>
                            <option th:value="'다세대 주택'">다세대 주택</option>
                            <option th:value="'상가'">상가</option>
                            <option th:value="'오피스텔'">오피스텔</option>
                        </select>
                        <div>
                            <input name="workArea" th:value="${project.workArea}" type="number" placeholder="평수" min="0">
                            <span>평</span>
                        </div>
                        
                        <select name="workForm" th:field="${project.workForm}">
                            <option th:value="'리모델링'" th:text="'리모델링'"></option>
                            <option th:value="'바닥공사'" th:text="'바닥공사'"></option>
                            <option th:value="'벽지도배'" th:text="'벽지도배'"></option>
                        </select>
                        <div>
                            <input name="constructionCost" th:value="${project.constructionCost}" type="number" placeholder="가격" min="0" step="100000">
                            <span>원</span>
                        </div>
                        
                    </div>
                </div>

                <div class="detail-info-area">
                    <h2>세부 정보</h2>
                    <div>
                        <select name="region" th:field="${project.region}">
                            <option th:value="'서울'">서울</option>
                            <option th:value="'경기/인천'">경기/인천</option>
                            <option th:value="'충청/대전'">충청/대전</option>
                            <option th:value="'전라/광주'">전라/광주</option>
                            <option th:value="'경북/대구'">경북/대구</option>
                            <option th:value="'경남/부산/울산'">경남/부산/울산</option>
                            <option th:value="'강원'">강원</option>
                            <option th:value="'제주'">제주</option>
                        </select>

                        <input name="constructionYear" type="date" th:value="${project.constructionYear}">

                        <select name="familySize" th:field="${project.familySize}">
                            <option th:value="'1인 가족'">1인 가족</option>
                            <option th:value="'2인 가족'">2인 가족</option>
                            <option th:value="'4인 가족'">4인 가족</option>
                            <option th:value="'기타'">기타</option>
                        </select>
                    </div>
                </div>

                <div class="projectContentArea">
                    <h2>프로젝트 내용</h2>
                    <textarea name="projectContent" th:text="${project.projectContent}" class="projectContent"></textarea>
                </div>

                <div class="btn-area">
                    <button th:unless="${project.mainProjectFl=='Y'}" class="boardCreateBtn" id="registMainProjectBtn" type="button">메인프로젝트 등록</button>
                    <button class="boardCreateBtn" id="updateProjectBtn">프로젝트 수정</button>
                    <button class="boardCreateBtn" id="deleteProjectBtn" type="button">프로젝트 삭제</button>
                </div>

                <input type="hidden" name="deleteOrder" value="">

            </form>

        </div>

        <th:block th:replace="~{common/fragments/footer}"></th:block>

        <!-- 이미지 미리 보기 설정 -->
        <script th:inline="javascript">
            
            const projectNo = /*[[${project.projectNo}]]*/ "프로젝트 번호";
            const imgList = /*[[${project.imgList}]]*/ [];
            const previewList = document.querySelectorAll('img.preview');

            const orderList = [];   // 기존에 존재하던 이미지를 순서를 기록하기 위한 배열 생성

            for(let img of imgList) { 

                previewList[img.uploadImgOrder].src = img.uploadImgPath + img.uploadImgRename;

                orderList.push(img.uploadImgOrder);
                // 다섯개 이미지가 전부다 있었다
                // -> [0,1,2,3,4]

            }

        </script>
        <script src="/js/partner/interior/interiorPortfolioEdit/projectDetail.js"></script>
    </body>
</html>