<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="/css/partner/interior/interiorPortfolioEdit/projectDetail.css">
        <link rel="stylesheet" href="/css/common/button.css">
        <link rel="stylesheet" href="/css/common/main.css">
        <link rel="stylesheet" href="/css/common/fragments/header.css">
        <link rel="stylesheet" href="/css/common/fragments/footer.css">
    </head>
    <body>

        <th:block th:replace="~{partner/interior/common/header}"></th:block>
        
        <div class="mainContainer">

            <div class="interior-title">
                <div class="logo-img">
                    <img src="/images/profile/main.jpg">
                </div>
                <div class="interior-name">
                    <h3>회사명</h3>
                </div>
            </div>

            <div class="project-name">
                <h1>프로젝트명</h1>
            </div>

            <div class="input-img-area">
                <div class="projectImg thumbnail">
                    <label for="img0">
                        <img class="preview" src="">
                    </label>
                    <input type="file" name="images" class="inputImg" id="img0">
                    <span class="delete-img">&times;</span>
                </div>

                <div class="preview-img">

                    <div class="projectImg">
                        <label for="img1">
                            <img class="preview" src="">
                        </label>
                        <input type="file" name="images" class="inputImg" id="img1">
                        <span class="delete-img">&times;</span>
                    </div>

                    <div class="projectImg">
                        <label for="img2">
                            <img class="preview" src="">
                        </label>
                        <input type="file" name="images" class="inputImg" id="img2">
                        <span class="delete-img">&times;</span>
                    </div>

                    <div class="projectImg">
                        <label for="img3">
                            <img class="preview" src="">
                        </label>
                        <input type="file" name="images" class="inputImg" id="img3">
                        <span class="delete-img">&times;</span>
                    </div>

                    <div class="projectImg">
                        <label for="img4">
                            <img class="preview" src="">
                        </label>
                        <input type="file" name="images" class="inputImg" id="img4">
                        <span class="delete-img">&times;</span>
                    </div>

                    <div class="projectImg">
                        <label for="img5">
                            <img class="preview" src="">
                        </label>
                        <input type="file" name="images" class="inputImg" id="img5">
                        <span class="delete-img">&times;</span>
                    </div>

                </div>
            </div>

            <div class="project-info-area">
                <h2>프로젝트 정보</h2>
                <div class="project-info">
                    <select>
                        <option>단독주택</option>
                        <option>아파트</option>
                        <option>다세대 주택</option>
                        <option>상가</option>
                        <option>오피스텔</option>
                    </select>
                    <div>
                        <input type="number" placeholder="평수" min="0">
                        <span>평</span>
                    </div>
                    
                    <select>
                        <option>리모델링</option>
                        <option>바닥공사</option>
                        <option>벽지도배</option>
                    </select>
                    <div>
                        <input type="number" placeholder="만원" min="0" step="100000">
                        <span>만원</span>
                    </div>
                    
                </div>
            </div>

            <div class="detail-info-area">
                <h2>세부 정보</h2>
                <div>
                    <select>
                        <option>서울</option>
                        <option>경기/인천</option>
                        <option>충청/대전</option>
                        <option>전라/광주</option>
                        <option>경북/대구</option>
                        <option>경남/부산/울산</option>
                        <option>강원</option>
                        <option>제주</option>
                    </select>

                    <select>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                    </select>

                    <select>
                        <option>1인 가족</option>
                        <option>2인 가족</option>
                        <option>4인 가족</option>
                        <option>기타</option>
                    </select>
                </div>
            </div>

            <div class="interior-info">
                <textarea placeholder="시공업체 소개글"></textarea>
            </div>

            <div class="btn-area">
                <button class="boardCreateBtn">메인프로젝트 등록</button>
                <button class="boardCreateBtn">프로젝트 수정</button>
                <button class="boardCreateBtn">프로젝트 삭제</button>
            </div>

        </div>

        <th:block th:replace="~{common/fragments/footer}"></th:block>

        <script src="/js/partner/interior/interiorPortfolioEdit/projectDetail.js"></script>

    </body>
</html>