<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 쇼핑</title>

    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/eCommerce/eCommerceDetail.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">

    <script src="https://kit.fontawesome.com/74d1671a70.js" crossorigin="anonymous"></script>
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>

    <!-- 검색엔진 -->
    <th:block th:replace="~{eCommerce/common/searchHeader}"></th:block>

    <!-- 카테고리 -->
    <th:block th:replace="~{eCommerce/common/category}"></th:block>
    

    <div id="detail">
        <!-- 상세 카테고리-->
        <th:block th:replace="~{eCommerce/common/leftCategory}"></th:block>

        <div id="detailContainer">
            <!-- 메인 이미지/ 가격 -->
            <div id="productContainer">
                <div id="imgContainer" th:each="img : ${productInfo.imgList}" th:if="${img.uploadImgOrder == 0}">
                    <div>
                        <img th:src="|${img.uploadImgPath}${img.uploadImgOgName}|" class="mainImg">
                        <div class="arrow left-arrow">&lt;</div>
                        <div class="arrow right-arrow">&gt;</div>
                    </div>

                    <div id="imgSubContainer" >
                        <span th:each="img : ${productInfo.imgList}">
                            <img th:src="|${img.uploadImgPath}${img.uploadImgOgName}|" class="subImg">
                        </span>
                    </div>

                </div>

                <!-- 가격칸 -->
                <div id="productPriceContainer">
                    <!-- 설명/가격칸 -->
                    <div>
                        <div>
                            <h2 id="productTitle" th:text="${productInfo.productName}">상품이름</h2>
                        </div>

                        <div>
                            <h1 style="font-weight: 600;" id="mainProductPrice" class="mainProductPrice" th:text="${productInfo.productPrice}" th:value="${productInfo.productPrice}">상품가격</h1>
                            <h2 style="font-weight: 500;">28%</h2>
                        </div>
                    </div>

                    <!-- 포인트 -->
                    <div>
                        <h4>받을 수 있는 포인트</h4>
                        <h4 style="color: red;" id="point">포인트</h4>
                    </div>

                    <!-- 안내사항 -->
                    <div>
                        <div><h3>무이자 할부 | 카드 자세히 보기 [?]</h3></div>
                        <div><h3>택배배송 | 무료배송 기타택배</h3></div>
                        <div><h3 style="color: #bbbbbb;">제주, 도서지역 추가 3,000원</h3></div>
                    </div>

                    <!-- 옵션선택칸 -->
                    <div>
                        <select class="selectOption" th:each="optionNameList : ${optionList}" th:object="${optionNameList}">
                            <option th:text="${optionNameList.optionName}" value="0">옵션명</option>
                            <block  th:each="option : ${productInfo.optionList}" th:if="${option.optionName == optionNameList.optionName}">
                                <option th:text="${option.optionValue}" th:value="${option.optionValue}">옵션</option>
                            </block>
                        </select>
                    </div>

                    <div id="optionProductBox"></div>

                    <!-- 총 가격칸 -->
                    <div>
                        <div style="margin-bottom: 10px;"><h3>총 상품 금액</h3></div>
                        <div>
                            <h2 id="total">0원</h2>
                            <h4 id="totalCount">총 수량 0개</h4>
                        </div>
                    </div>

                    <!-- 버튼 -->
                    <div>
                        <button class="eCommerBuyDetailConfirmBtn" id="buyButton">구매하기</button>
                        <button class="eCommerBuyDetailConfirmBtn" style="margin-bottom: 50px;">찜하기</button>
                    </div>
                </div>
            </div>

            <div style="width: 1100px; border: 1px #bbbbbb solid; margin: 50px 0;"></div>
    
            <!-- 관련상품 -->
            <div id="shoping-list">
                <div>
                <h3 style="font-weight: bold;">쇼핑</h3>
                </div>

                <div style="margin-bottom: 10px;">
                <a style="cursor: pointer;" th:href="@{'/eCommerce/list/' + ${productInfo.bigCategoryNo} + '/' + ${productInfo.categoryNo}}">+ 더보기</a>
                </div>

                <!-- 쇼핑 아이템들 -->
                <div id="shopping-items" style="margin-bottom: 30px;">
                    <div th:each="productBestList : ${selectRecProductList}" th:object="${productBestList}">
                        <a th:href="@{'/eCommerce/list/' + *{bigCategoryNo} + '/' + *{categoryNo} + '/' + *{productNo} + '/detail'}">
                            <div class="img-wrap">
                                <img th:src="|*{uploadImgPath}*{uploadImgOgName}|" style="height: 200px; width: 180px;">
                            </div>
                            <div>
                                <h4 th:text="*{productName}">상품제목</h4>
                            </div>
                            <div style="display: flex; margin-top: 8px;">
                                <h3 style="color: #3A732A; margin-right: 15px;">32%</h3>
                                <h3 style="font-weight: 600;" th:text="*{productPrice}" class="productPrice">상품가격</h3>
                            </div>
                            <div style="display: flex; margin-top: 8px;">
                                <img src="/images/main/star.png" style="height: 10px;">
                                <h5 style="margin-right: 5px;">4.1</h5>
                                <h5 style="color: #9B9B9B;">리뷰 78개</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div style="width: 1100px; border: 1px #bbbbbb solid; margin: 50px 0;"></div>
    
            <!-- 상세정보 -->
            <div id="detailBox">
                <div>
                    <div>
                        <button class="eCommerceProductDetailBtn" id="detailInfo">상세정보</button>
                        <button class="eCommerceProductDetailBtn" id="review">리뷰 0</button>
                        <button class="eCommerceProductDetailBtn" id="qna">QNA</button>
                        <button class="eCommerceProductDetailBtn" id="changeInfo">반품/교환 정보</button>
                    </div>

                    <div id="detailUnder">


                        <!-- 교환/반품 -->
                        <div id="change">
                            <h2>교환/반품 정보</h2>

                            <ul>
                                <li><h4>반품배송비(편도) :</h4> 편도 3,000원 (최초 배송비 미결제시 6,000원 부과)</li>
                                <li><h4>교환배송비(왕복) :</h4> 6,000원</li>
                                <li><h4>보내실 곳 :</h4> (17502) 경기도 안성시 양성면 돌꽃지길 52 제너럴아이디어</li>
                                <li>단, 교환/반품 비용은 상품 및 교환/반품 사유에 따라 변경될 수 있으므로 교환/반품 신청 화면 확인 부탁드립니다.</li>
                            </ul>

                            <h2>교환/반품 사유에 따른 요청 가능 기간</h2>

                            <ul>
                                <li>구매자 단순 변심 : 상품 수령 후 7일 이내(구매자 반품 배송비 부담)</li>
                                <li>표시/광고와 상이, 계약 내용과 다르게 이행된 경우 :<br>상품 수령 후 3개월 이내 호긍ㄴ 표시/광고와 다른 사실을 안 날로부터 30일 이내(판매자 반품 배송비 부담)</li>
                            </ul>

                            <h2>교환/반품 불가한 경우</h2>

                            <ol>
                                <li>교환/반품 요청이 기간이 지난 경우</li>
                                <li>소비자의 책임 있는 사유로 상품 등이 분실/파손/훼손된 경우 (단, 확인을 위한 포장 훼손 제외)</li>
                                <li>소비자의 사용/소비에 의해 상품 등의 가치가 현저히 감소한 경우 (예 : 식품, 화장품, 향수, 음반)</li>
                                <li>제품을 설치 또는 장착하였거나 개통한 경우 (예 : 전자제품, 컴퓨터, 휴대폰 등)</li>
                                <li>시간의 경과에 의해 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우 (신선식품과 같이 유통기한이 정해져 있는 상품)</li>
                                <li>복제가 가능한 상품 등의 포장을 훼손한 경우 (CD/DVD/GAME/BOOK의 겨우 포장 개봉 시)</li>
                                <li>주문제작 상품 중 상품제작에 들어간 경우 (주문접수 후 개별생산, 맞춤 제작 등)</li>
                            </ol>

                            <h2>거래 조건에 대한 정보</h2>

                            <ol>
                                <li>
                                    소화물 택배의 배송은 발송일로부터 1~2 영업일이 소요되나,<br>
                                    지역/대형 화물/설치/예약/발송지체 등의 특이사항에 따라 배송기간은 달라질 수 있습니다.
                                </li>
                                <li>
                                    '전자상거래등에서의소비자보호에관한법률'이 정하는 바에 따라 소비자의 청약철회 후 판매자가 재화 등을 반환 받은 날로부터<br>
                                    3영업일 이내에 지급받은 대금의 환급을 정당한 사유없이 지연하는 때에는 소비자는 지연기간에 대해서 전상법 시행령으로 정하는 이율을<br>
                                    곱하여 산정한 지연이자(지연배상금)을 신청할 수 있습니다.
                                </li>
                            </ol>

                            <h2>판매자 정보</h2>

                            <ul>
                                <li>상호명 : <h4>(주)뚝딱뚝딱</h4></li>
                                <li>대표자 : <h4>누굴까</h4></li>
                                <li>연락처 : <h4>02-123-1234</h4></li>
                                <li>통신판매업자번호 : <h4>1996-서울서초-00015</h4></li>
                                <li>사업자등록번호 : <h4>106-81-51510</h4></li>
                                <li>사업장소재지 : <h4>서울특별시 종로구 남대문로 120 그레이츠청계</h4></li>
                                <li>E-mail : <h4>ddukddak@gmail.com</h4></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    
    <th:block th:replace="~{common/fragments/footer}"></th:block>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/eCommerce/eCommerceDetail.js"></script>

    <script th:inline="javascript">
        var loginMember = /*[[${loginMember}]]*/ "loginMember";
        const buyButton = document.querySelector("#buyButton");

        buyButton.addEventListener("click", e => {
            if(loginMember == null) {
                alert("로그인 후 이용해주세요");
                e.preventDefault();
                location.href = "/member/login";
            } //else {
            //     fetch("/myPage/addCart", {
            //         method : "POST",
            //         headers : {"Content-Type": "application/json"},
            //         body : 
            //     })
            // }
        });

        console.log(loginMember);
    </script>
</body>
</html>