<div id="reviewBox">
    <div class="reviewListArea">
        <ul id="reviewList">
            <li >
                <div class="reviewInfoArea">
                    <div class="reviewCount" >
                        <div>전체리뷰&nbsp;<span class="totalReviewCount">val</span>개</div>
                        <i class="totalIcon fa-solid fa-people-group" style="font-size: 45spx;"></i>
                    </div>
                    <div id="totalInfo" >
                        <span style="margin-right: 10px;">
                            <div class="totalIcon fa-solid fa-ranking-star" style="font-size: 50px;"></div>
                            <div id="t-text">사용자 총 평점</div>
                        </span>
                        <span><span class="totalRating">val</span>/5</span>
                    </div>
                </div>

                	
                <form id="reviewForm" method="POST" enctype="multipart/form-data">
                    <div id = "reviewArea">
                        <div id="id-addCommentArea">
                            <input id="hiddenReviewNo" name = "reviewNo" type = "hidden"> <!--리뷰id 존재 시 업데이트 로직 실행-->
                            <span id = "reviewerId" th:text="|@${session.loginMember?.memberId}|">아이디</span>
                            <span id="productRate"> 별점 : &ensp; 
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i  class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </span>
                            <button id="addComment" type = "button" onClick = "handleFormMissionReview(event)">등록</button>
                        </div>
                        <div id="optionDiv">
                            <div>주문상품 기록</div>
                        </div>
                        <div id = "contentBox">
                            <textarea id="commentContent" name = "reviewContent" rows="12" placeholder="다른 사람에게 불쾌감을 주는 욕설, 혐오, 비하의 표현이나 타인의 권리를 침해하는 내용은 사용하지 않도록 주의해주세요."></textarea>
                            <div id = "photoArea">
                                <label for="reviewFile" id="selectReviewImgBtn" aria-label="이미지 첨부">
                                    <i class="fa-regular fa-images"></i>첨부
                                </label>
                                <input style="display:none;" type="file" multiple class="file" name="reviewImgs" id="reviewFile" onchange="readImgURLs(this);">
                                <div id = "reviewImgBox"></div>
                            </div>
                        </div>
                    </div>
                </form>

            </li>



            <div id = "reviewContainer">

            </div>

        </ul>
    </div>

</div>