<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뚝딱뚝딱 : 쇼핑</title>

    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/eCommerce/eCommerceComplete.css">
    <link rel="icon" type="image/x-icon" href="/images/main/favicon.ico">
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    
    <!-- 
    model.addAttribute("merchantUid", merchantUid);
    model.addAttribute("deliveryMemo", deliveryMemo);
    model.addAttribute("paymentInfo", payment); 
    -->

    <h2 style="text-align: center; margin: 50px;">주문/결제</h2>

    <!-- 결제 완료 세션이 없을 경우 -->
    <th:block th:if="${session.merchantUid == null}">
        <div id="completeBox">
            <div style="padding: 20px 0; border-bottom: 1px solid rgb(187, 187, 187); margin: 0 20px;">
                <h1 style="color: #3A732A;">세션이 만료되었습니다.</h1>
            </div>
            <div id="boxUnder">
                <div>
                </div>
                <img src="/images/main/main-logo.png" style="height: 300px; opacity: 10%;">
            </div>
        </div>

        <script>
            alert('세션이 유효하지 않습니다. 페이지를 이동합니다.')
            location.href='/myPage'
        </script>

    </th:block>

    <!-- 결제 완료 세션이 있을 경우 -->
    <th:block th:unless="${session.merchantUid == null}">

        <div id="completeBox">
            <div style="padding: 20px 0; border-bottom: 1px solid rgb(187, 187, 187); margin: 0 20px;">
                <h1 style="color: #3A732A;">주문이 정상적으로 완료되었습니다!</h1>
            </div>


            <div id="boxUnder">
                <div>
                    <table>
                        <tr>
                            <td><h3>주문번호</h3></td>
                            <td><h3 style="font-weight: bold;" th:text="${merchantUid}">12345678</h3></td>
                        </tr>
                        <tr>
                            <td><h3>배송지 정보</h3></td>
                            <td>
                                <h3 style="color: rgb(165, 165, 165);" th:text="${paymentInfo.buyerPostcode}">우편번호</h3>
                                <h3 style="color: rgb(165, 165, 165);" th:text="${paymentInfo.buyerAddr}">주소</h3>
                                <h3 id="buyerTel" style="color: rgb(165, 165, 165);" th:text="${paymentInfo.buyerTel}">연락처</h3>
                                <h3 style="color: rgb(125, 123, 123); font-size: 14px;" th:text="|[배송요청사항 : ${deliveryMemo}]|"></h3>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>주문금액</h3></td>
                            <td>
                                <h3 id="amount" style="font-weight: bold;" th:text="${paymentInfo.amount}">16,900원</h3>
                                <h3 id="point" style="color: rgb(125, 123, 123); font-size: 14px; font-weight: 600;" th:text="|구매 적립금 : ${point}|"></h3>
                                <h3 id="savePoint" style="color: rgb(125, 123, 123); font-size: 14px; font-weight: 600;" th:text="|내 보유 적립금 : ${myPoint}|"></h3>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>결제상세</h3></td>
                            <td><h3 style="color: rgb(165, 165, 165);" th:text="${paymentInfo.pgProvider}">신용카드</h3>
                                <th:block th:if="${paymentInfo.payMethod == 'card'}">
                                    <h3 style="color: rgb(165, 165, 165);" th:text="${paymentInfo.cardName}">카드이름</h3>
                                </th:block>

                                <th:block th:unless="${paymentInfo.payMethod == 'card'}">
                                    <h3 style="color: rgb(165, 165, 165);">카카오포인트</h3>
                                </th:block>
                                
                                <h3 style="color: rgb(165, 165, 165);" th:text="|결제일시 : ${formattedPaidAt}|">결제일시 : 2024-05-23</h3></td>
                                
                        </tr>
                    </table>
                </div>

                <img src="/images/main/main-logo.png" style="height: 300px; opacity: 10%;">
            </div>
        </div>
    </th:block>

    <div style="border: 1px solid rgb(165, 165, 165); width: 100%; margin-top: 100px; margin-bottom: 50px;"></div>


    <!-- 관련상품 -->
    <div class="shoping-list" style="margin-top: 100px;">
        <div>
          <h3 style="font-weight: bold;">쇼핑</h3>
        </div>
  
        <div style="margin-bottom: 10px;">
          <h4 style="cursor: pointer;" onclick="location.href='/eCommerce/list/1/1';">+ 더보기</h4>
        </div>
  
        <!-- 쇼핑 아이템들 -->
        <div class="shopping-items">
          <div th:each="productList : ${selectProductList}" th:object="${productList}">
            <a th:href="@{'/eCommerce/list/' + *{bigCategoryNo} + '/' + *{categoryNo} + '/' + *{productNo} + '/detail'}">
              <div class="img-wrap">
                <div>
                  <img th:src="|*{uploadImgPath}*{uploadImgRename}|">
                </div>
  
                <i th:data-memberNo="${loginMember.memberNo}" th:if="${loginMember != null}"
                    th:style="*{wish == 0} ? 'display:block;' : 'display:none;'"
                    class="fa-regular fa-heart" id="noHerat" onclick="showHert(event);"
                    th:value="*{productNo}">
                </i>
                <i th:data-memberNo="${loginMember.memberNo}" th:if="${loginMember != null}"
                    th:style="*{wish == 0} ? 'display:none;' : 'display:block;'"
                    class="fa-solid fa-heart" id="heart" onclick="noshowHert(event);"
                    th:value="*{productNo}">
                </i>
                <h5 class="sample"></h5>
              </div>
              <div class="title-wrap">
                <h4 th:text="*{productName}">상품제목</h4>
              </div>
              <div class="price-wrap">
                <h3>32%</h3>
                <h3 th:text="*{productPrice} + '원'" class="productPrice">상품가격</h3>
              </div>
              <div class="review-wrap">
                <img src="/images/main/star.png">
                <h5 th:text="*{reviewRating}"></h5>
                <h5 th:text="|리뷰 *{reviewCount}개|"></h5>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
    
    <th:block th:replace="~{common/fragments/footer}"></th:block>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const formatAmount = (amount) => {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
            };
    
            const formatPoint = (point) => {
                return point.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + 'pt';
            };
    
            const formatTel = (tel) => {
                return tel.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');
            };
    
            // 포맷할 요소들의 목록
            const amountElements = [
                { id: 'amount', formatter: formatAmount },
                { id: 'point', formatter: formatPoint },
                { id: 'savePoint', formatter: formatPoint },
                { id: 'buyerTel', formatter: formatTel }
            ];
    
            amountElements.forEach(({ id, formatter }) => {
                const element = document.getElementById(id);
                if (element) {
                    const text = element.textContent;
                    const formattedText = formatter(text);
                    element.textContent = formattedText;
                }
            });
        });
    </script>

    <!-- 페이지를 벗어날 때 세션 제거 -->
    <script>
        window.addEventListener('pagehide', function(event) {
            if (!event.persisted) {
                // Send a fetch request to clear the session when the page is being unloaded
                fetch('/eCommerce/clearCompleteResultSession', { 
                    method: 'POST', 
                    keepalive: true 
                }).then(response => {
                    console.log('Session cleared');
                }).catch(error => {
                    console.error('Error clearing session:', error);
                });
            }
        });
    </script>
</body>
</html>