<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>

    <link rel="stylesheet" href="/css/common/fragments/header.css">
    <link rel="stylesheet" href="/css/common/fragments/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/eCommerce/eCommerceDetail.css">
    <link rel="stylesheet" href="/css/common/button.css">
</head>
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>

    <!-- 검색엔진 -->
    <th:block th:replace="~{eCommerce/common/searchHeader}"></th:block>

    <!-- 카테고리 -->
    <th:block th:replace="~{eCommerce/common/category}"></th:block>

    <div id="detail">
        <!-- 상세 카테고리-->
        <th:block th:replace="~{eCommerce/common/leftCategory}"></th:block>

        <div id="detailContainer">
            <!-- 메인 이미지/ 가격 -->
            <div id="productContainer">
                <div><img src="/images/main/shopping-1.jpg" style="height: 700px; width: 600px;"></div>

                <!-- 가격칸 -->
                <div id="productPrice">
                    <!-- 설명/가격칸 -->
                    <div>
                        <div>
                            <h2 style="margin-top: 10px; font-weight: 500;">[최대10%쿠폰+사은품][맞춤]</h2>
                            <h2 >비침없는 도톰 레이스/쉬폰커튼</h2>
                            <h2 style="font-weight: 500;">(나비주름/핀형/봉집)</h2>
                        </div>

                        <div>
                            <h1 style="font-weight: 600;">16,900</h1>
                            <h2 style="font-weight: 500;">28%</h2>
                        </div>
                    </div>

                    <!-- 포인트 -->
                    <div>
                        <h4>받을 수 있는 포인트</h4>
                        <h4 style="color: red;">최대 +1,609pt</h4>
                    </div>

                    <!-- 안내사항 -->
                    <div>
                        <div><h3>무이자 할부 | 카드 자세히 보기 [?]</h3></div>
                        <div><h3>택배배송 | 무료배송 기타택배</h3></div>
                        <div><h3 style="color: #bbbbbb;">제주, 도서지역 추가 3,000원</h3></div>
                    </div>

                    <!-- 옵션선택칸 -->
                    <div>
                        <select>
                            <option>선택</option>
                            <option>아이보리</option>
                            <option>베이지</option>
                            <option>연핑크</option>
                        </select>
                    </div>

                    <!-- 총 가격칸 -->
                    <div>
                        <div style="margin-bottom: 10px;"><h3>총 상품 금액</h3></div>
                        <div>
                            <h2>0원</h2>
                            <h4>총 수량 0개</h4>
                        </div>
                    </div>

                    <!-- 버튼 -->
                    <div>
                        <button class="eCommerBuyDetailConfirmBtn" onclick="location.href='/eCommerce/payment';">구매하기</button>
                        <button class="eCommerBuyDetailConfirmBtn">찜하기</button>
                    </div>
                </div>
            </div>

            <div style="width: 1050px; border: 1px #bbbbbb solid; margin: 50px 0;"></div>
    
            <!-- 관련상품 -->
            <div id="shoping-list">
                <div>
                <h3 style="font-weight: bold;">쇼핑</h3>
                </div>

                <div style="margin-bottom: 10px;">
                <h4>+ 더보기</h4>
                </div>

                <!-- 쇼핑 아이템들 -->
                <div id="shopping-items">
                <div style="margin-right: 50px;">
                    <div><img src="/images/main/shopping-1.jpg" style="height: 200px; width: 200px;"></div>
                    <div>
                    <h4>[최대10%쿠폰+사은품][맞춤]비침없는 도톰<br>
                        레이스/쉬폰커튼(나비주름/핀형/봉집)</h4>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <h3 style="color: #3A732A; margin-right: 15px;">32%</h3>
                    <h3 style="font-weight: 600;">32,700</h3>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <img src="/images/main/star.png" style="height: 10px;">
                    <h5 style="margin-right: 5px;">4.1</h5>
                    <h5 style="color: #9B9B9B;">리뷰 78개</h5>
                    </div>
                </div>


                <div style="margin-right: 50px;">
                    <div><img src="/images/main/shopping-2.jpg" style="height: 200px; width: 200px;"></div>
                    <div>
                    <h4>[최대10%쿠폰+사은품][맞춤]비침없는 도톰<br>
                        레이스/쉬폰커튼(나비주름/핀형/봉집)</h4>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <h3 style="color: #3A732A; margin-right: 15px;">32%</h3>
                    <h3 style="font-weight: 600;">32,700</h3>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <img src="/images/main/star.png" style="height: 10px;">
                    <h5 style="margin-right: 5px;">4.1</h5>
                    <h5 style="color: #9B9B9B;">리뷰 78개</h5>
                    </div>
                </div>


                <div style="margin-right: 50px;">
                    <div><img src="/images/main/shopping-3.jpg" style="height: 200px; width: 200px;"></div>
                    <div>
                    <h4>[최대10%쿠폰+사은품][맞춤]비침없는 도톰<br>
                        레이스/쉬폰커튼(나비주름/핀형/봉집)</h4>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <h3 style="color: #3A732A; margin-right: 15px;">32%</h3>
                    <h3 style="font-weight: 600;">32,700</h3>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <img src="/images/main/star.png" style="height: 10px;">
                    <h5 style="margin-right: 5px;">4.1</h5>
                    <h5 style="color: #9B9B9B;">리뷰 78개</h5>
                    </div>
                </div>


                <div>
                    <div><img src="/images/main/shopping-4.jpg" style="height: 200px; width: 200px;"></div>
                    <div>
                    <h4>[최대10%쿠폰+사은품][맞춤]비침없는 도톰<br>
                        레이스/쉬폰커튼(나비주름/핀형/봉집)</h4>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <h3 style="color: #3A732A; margin-right: 15px;">32%</h3>
                    <h3 style="font-weight: 600;">32,700</h3>
                    </div>
                    <div style="display: flex; margin-top: 8px;">
                    <img src="/images/main/star.png" style="height: 10px;">
                    <h5 style="margin-right: 5px;">4.1</h5>
                    <h5 style="color: #9B9B9B;">리뷰 78개</h5>
                    </div>
                </div>
                </div>
            </div>

            <div style="width: 1050px; border: 1px #bbbbbb solid; margin: 50px 0;"></div>
    
            <!-- 상세정보 -->
            <div id="detailBox">
                <div>
                    <div>
                        <div><h3>상세정보</h3></div>
                        <div><h3>리뷰 0</h3></div>
                        <div><h3>QNA</h3></div>
                        <div><h3>반품/교환 정보</h3></div>
                    </div>

                    <div></div>
                </div>
            </div>



        </div>
    </div>
    
    <th:block th:replace="~{common/fragments/footer}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>