main {
    width: 1440px;
    height: 100vh;
    color: var(--gray1);
}


.loginPageTitle1 {
    color: var(--secondary);
    margin-bottom: 60px;
    font-size: 34px;
    letter-spacing: 0.3em;
    margin-left: 10.2px;
}

.loginPageTitle2 {
    font-weight: 700;
    margin-bottom: 50px;
}

/* 박스 전체 */
.loginBox {
    width: 620px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;

}

/* 박스 안 div */
.boxInDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 435px;
    height: 558px;
}


/* 아이디, 비밀번호 입력 영역 */
.inputArea {
    height: 90px;
    margin-top: 20px;
}

/* 인풋 라벨(아이디, 비밀번호) */
.inputArea label {
    font-size: 14px;
    font-weight: 500;
}

/* 인풋 크기 */
.inputArea input {
    width: 274px;
    height: 40px;
    margin-left: 60px;
    border-radius: 5px;
    padding: 8px;
    font-family: 'main';
    font-size: 14px;
    font-weight: 500;
    outline: none;
    border: 1px solid var(--gray5);
    margin-bottom: 5px;
}


/* 인풋 div 그룹화 */
.inputGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 435px;
    
}

/* 아이디 기억하기 영역 */
.saveIdArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

/* 아이디 기억하기 라벨 */
.saveIdArea label{
    margin-left: 6px;
    margin-right: 10px;

    margin: 0 10px 0 6px;

    font-size: 14px;
    font-weight: 500;
}


/* 판매자 로그인 바로가기 */
.goToPartnerLogin {
    height: 30px;
    width: 100%;
    align-content: end;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
}


.goToPartnerLogin a {
    text-decoration: none;
    color: var(--gray1);
}


/* 버튼 전체 영역 */
.loginBtnArea {
    margin-top: 10px;
}

.google-login-btn img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


/* 네이버, 카카오 버튼 묶음 */
.socialLoginArea {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: space-evenly;
}


/* 네이버 버튼 이미지 */
#naver_id_login img {
    /* width: 230px; */
    border-radius: 50%;
    /* margin-right: 10px; */
    /* cursor: not-allowed; */
    /* pointer-events: none; */
}

/* 네이버 사용 불가 처리  */
.disabled {
    cursor: not-allowed; /* 금지 커서로 변경 */
}
.disabled a,
.disabled img {
    pointer-events: none; /* 클릭 등 모든 이벤트를 막음 */
}
.tooltip {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}


.linksArea {
    display: flex;
    height: 100px;
    width: 400px;
    justify-content: space-around;
    align-items: end;
    font-weight: 700;
    font-size: 15px;
    margin-left: 20px;
}


