.topContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mainContainer {
  display: flex;
  width: 1200px;
  position: relative;
}

/* 메인 area */
.mainArea {
  flex-grow: 1;
  margin: 50px;
  width: 900px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  color: var(--secondary);
  font-weight: bold;
}


/* 이미지 Area */
.input-img-area {
  width: 100%;
  height: auto;
}

.projectImg {
  position: relative;
}

.previewImg {
  width: 100px;
  height: 80px;
  display: inline-block;
  text-align: center;
  display: flex;
  position: relative;
}

.previewImg {
  margin-right: 15px;
}
.previewImg.active {
  display: flex;
}

.projectImg label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.projectImg img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  
}

.thumbnail {
  width: 100%;
  height: 600px;
  border: 1px solid var(--gray5);
  margin: 30px 0;
}

.preview-img {
  display: flex;
  padding: 20px 0;
  justify-content: flex-start;
}

.inputImg {
  display: none;
}

.active {
  margin-right: 15px;
}

/* 수정 부분 */
/* myHouse 입력 부분 */
.titleInput {
  margin: 30px 0;
  width: 100%;
}

.titleInput h1 {
  color: var(--secondary);
}

.titleInput > input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  margin: 20px 0;
}

.titleInput > input:focus {
  outline: none;
}

.contentInput {
  width: 100%;
}

.contentInput h1 {
  color: var(--secondary);
}

.contentInput textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  height: 300px;
  padding: 10px;
  font-size: 15px;
  margin: 20px 0;
}

.contentInput textarea:focus {
  outline: none;
}

/* 삭제 버튼 */
.delete-img{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


/* 버튼 Area */
.btnArea {
  display: flex;
  justify-content: space-evenly;
}